.search .search-icon{
    position: relative;
    right: 15px;
    color: #FF5722;
}
.main{
    width: 100%;
}
.main .main-unit{
    width: 100%;
    line-height: 3rem;
    /*margin-top: 1rem;*/
}
.main .main-unit .tab-menu{
    font-weight: bold;
}
.tab-menu a{
    color: #333333;
}
.checked{
    width: 200px;
    height: 45px;
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 8px;
    color: #fff;
}
.checked a{
    color: #fff;
}
.second .export{
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: .3rem;
    padding: .65rem;
    margin-right: 1rem;
}
.second .export a{
    color: #333333;
}
.count{
    font-size: 20px;
    font-weight: bold;
    color: #FF0000;
}


/*Switch button*/
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background: #ff2222;
}

input:checked + .slider.green{
    background: #47AA04;;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}



