.list-chat {
    padding: 3rem 0 3rem 0;
    background-color: #fff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.title-chat {
    font-size: 1.5rem;
    padding-top: 20px;
}
.form-search-chat {
    margin-top: 2rem;
    border-radius: 3rem;
    background: #ECECEC;
    padding-left: 1rem;
    padding-right: 2.5rem;
    border: none;
}
.view-chat {
    position: relative;
}
.icon-chat {
    position: absolute;
    top: 30%;
    right: 2rem;
}
.messenger {
    color: #8C8C8C;
    font-size: .6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.name {
    font-weight: 600;
}
.active {
    border-left: 5px solid #D1292F;
    padding: 1rem 1rem 1rem .6rem;
    background-color: #F7F7F7;
    box-shadow: none;
}
.inactive {
    border-radius: 0 0 16px 0;
    background-color: #fff;
}
.messenger-people {
    background-color: #fff;
    box-shadow: 0 .4rem 1.2rem rgba(0, 0, 0, 0.1);
    border-radius: 1.8rem 1.8rem 0 0;
}
.img-avt-chat {
    width: 2rem;
    border-radius: 50%;
}
.avatar{
    max-width: 60px;
    height: 60px;
}
.avatar img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
}
.list-messenger {
    overflow-y:auto;
    overflow-x:hidden;
    height: 40rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.box-chat {
    box-shadow: 0 .4rem 2rem rgba(0, 0, 0, 0.1);
    width: auto !important;
    display: inline-block;
}
.box-guest {
    border-radius: 0 1.2rem 1.2rem 1.2rem;
    background: #FFFFFF;
    color: #8C8C8C;
}
.box-my {
    border-radius: 1.2rem 0 1.2rem 1.2rem;
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    color: #fff;
}
.list-messenger::-webkit-scrollbar {
    display: none;
}
.messenger-send {
    background: #FFFFFF;
    box-shadow: 0 .4rem 2.8rem rgba(0, 0, 0, 0.1);
    border-radius: .6rem;
}
.form-send-messenger {
    border: none;
}
.text-suggest {
    color: #000 !important;
    font-size: .4rem;
    padding: .1rem 1rem .1rem 1rem;
}
.text-pick {
    background-color: #FFCDCD;
}
.text-success {
    background-color: #86D17F;
}
.text-info {
    background-color: #B4E5FB;
}
.text-warning {
    background-color: #FFD9A0;
}
.text-purple {
    background-color: #9791DD;
}
.list-product {
    background-color: #fff;
    border-radius: .6rem;
}
.title-product {
    width: 100%;
    font-size: 1.5rem;
    color: #fff;
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: .6rem .6rem 0 0;
}
.img-product-suggest {
    width: 150%;
}
.name-product {
    color: #333333;
    font-size: .8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.box-messenger, .box-product {
    overflow-y:auto;
    overflow-x:hidden;
    max-height: 35rem;
}
.price {
    font-size: 1rem;
    color: #FF0000;
    font-weight: bold;
}
.quantity-product {
    color: #959595;
}
.btn-send {
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: .4rem;
    color: #fff;
}
.avatar {
    width: 60px;
}
.avatar img {
    width: 100%;
    border-radius: 50%;
}
