.turn-1{
    background: #FFFFFF;
}
.img-1{
    border-radius: 1rem;
    margin-bottom: .5rem;
    margin-right: 1rem;
}
.title-1{
    font-weight: 600;
    font-size: 16px;
}
.bar-1{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}
.tab-bar-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.bar-1-img{
    padding-right: .5rem;
}
.bar-1 p{
    font-size: 18px;
    font-weight: bold;
    color: #FF0000;
}
.tab-bar-2{
    background: rgba(255, 184, 0, 0.1);
    border: 1px dashed #FFB800;
    box-sizing: border-box;
    border-radius: 4px;
    padding: .5rem 0;
}
.bar-2-1{
    /*border-right: 1px solid #333;*/
}
.tab-bar-2-text{
    font-size: 16px;
    padding: 0 .3rem;
}
.tab-bar-2-number{
    font-size: 24px;
    font-weight: bold;
    color: #FF0000;
 }
.tab-bar-2-d {
    font-size: 18px;
    font-weight: bold;
    color: #FF0000;
    padding-top: 1rem;
}
.bd-bd{
    border: 1px solid #FFB800;
    box-sizing: border-box;
    border-radius: 4px;
    padding: .5rem 0;
}
.img-coin{
    padding-bottom: .3rem;
}
.text-transport{
    color: #8C8C8C;
}
.bar-3{
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: bold;
}
.bar-3:hover{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 8px;
}
.bar-3-text:hover{
    color: #fff;
}
.bar-3{
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: bold;
}
.bar-3:hover{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 8px;
}
.turn-1-tb{
    width: 100%;
    border-radius: 6px;
}
.turn-1-tb thead{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 6px 6px 0px 0px;
}
.td-top{
    color: #fff;
    padding: 1rem;
    font-size: 16px;
    text-align: center;
}
.turn-1-tr-body-y {
    background: #FFF9E6;
    border-radius: 0px;
}

.td-bt{
    color: #333;
    font-size: 14px;
    padding: 1rem;
    text-align: center;
}
.td-bt-cup{
    padding-left: 4.6rem;
}
.turn-2{
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(147, 145, 145, 0.25);
    border-radius: 8px;
}
.turn-2-shop{
    z-index: 500;
    position: relative;
    top: -10px;
}
.turn-2-1-text-1{
    font-size: 16px;
    font-weight: 600;
}
.turn-2-1-text-2{
    font-size: 9px;
    color: #8C8C8C;
}
.button-1{
    background: #005DB6;
    border-radius: 6px;
}
.button-2{
    border: 1px solid #ECECEC;
    border-radius: 6px;
}
.button-1-chat{
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
}
.button-1-view{
    font-size: 14px;
    font-weight: 600;
}
.turn-2-2{
    margin-top: 1.5rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    text-align: center;
}
.turn-2-2-text-sp{
    color: #FF0000;
    font-size: 18px;
    font-weight: bold;
    z-index: 500;
    position: relative;
    top: .3rem;
    margin-left: .3rem;
}
.turn-2-3-img{
    width: 32px;
    height: 32px;
}
.turn-2-3{
    margin-top: 1.3rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    text-align: center;
}
.turn-2-3-text-dg{
    color: #FF0000;
    font-size: 18px;
    font-weight: bold;
    z-index: 500;
    position: relative;
    top: .3rem;
    margin-left: .1rem;
}
.turn-2-4-img{
    width: 32px;
    height: 32px;
}
.turn-2-4{
    margin-top: 1.3rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    text-align: center;
}
.turn-2-4-text-ph{
    color: #FF0000;
    font-size: 18px;
    font-weight: bold;
    z-index: 500;
    position: relative;
    top: .3rem;
    margin-left: .1rem;
}
.turn-2-5-img{
    width: 30px;
    height: 28px;
}
.turn-2-5{
    margin-top: 1.3rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    text-align: center;
}
.turn-2-5-text-tg{
    color: #FF0000;
    font-size: 18px;
    font-weight: bold;
    z-index: 500;
    position: relative;
    top: .3rem;
    margin-left: .1rem;
}
.turn-3{
    background: #FFFFFF;
}
.turn-3-title{
    border-bottom: 1px solid #ECECEC;
}
.turn-3-text-1{
    font-size: 16px;
}


/*//---------------------section dau gia---------------------//*/
.section-dau-gia {
    margin-top: 20px;
    background: #fff;
}
.section-dau-gia h2 {
    padding-right: 20px;
}
.section-dau-gia .img-product {
    margin-top: 17px;
    border-radius: 12px 12px 0px 0px;
}
.section-dau-gia .img-product img {
    border-radius: 12px 12px 0px 0px;
}
.product-card {
    position: relative;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}
.product-img-1{
    position: absolute;
    right: 0;
    top: 0;
}
.product-img-2{
    position: absolute;
    right: 0;
    top: 0;
}
.section-dau-gia .container-section-product .content{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    margin-bottom: 20px;
    width: 200px;
}
.section-dau-gia .information-product {
    margin-top: 8px;
    padding: 0 12px;
}
.section-dau-gia .product-title {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #333333;
    margin-bottom: 8px;
}
.information {
    display: flex;
    margin-bottom: 17px;
}
.information span {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #333333;
    display: block;
}
.information span:nth-child(2n) {
    color: #FF0404;
}
.section-dau-gia .container-section .content{
    width: calc(100%/5 - 10px) !important;
    margin: 0 5px;
}
.price-information {
    padding-left: 7px;
}
.section-dau-gia .title-section{
    padding: 10px 17px;
    /*border-bottom: 1px solid #ECECEC;*/
}
.prev-arrow,.next-arrow {
    position: absolute;
    z-index: 1000000000;
    top: 50%;
    border: none;
    background-color: transparent;
}
.next-arrow {
    right: -2.5rem;
}
.prev-arrow {
    left: -2.5rem;
}
.prev-arrow img,.next-arrow img {
    width: 80%
}
/*//-------------------------section xu houng-----------------//*/

.clock{
    display: flex;
    margin-left: 26px;
}
.showtime {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-radius: 5px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #fff;
    margin-right: 6px;
}
