.header{
    font-size: 14px;
}
.title{
    font-weight: bold;
    font-size: 26px;
    color: #222222;
}
.buy{
    width: 100%;
    background: #FFFFFF;
    height: 16rem;
    font-weight: 600;
}

.button{
    font-size: 14px;
    color: #222222;
    border: 1px solid #CCD3DC;
    box-sizing: border-box;
    border-radius: 4px;
}

.notification{
    width: 100%;
    background: #FFFFFF;
    height: 28rem;
    font-size: 14px;
}
.text-title{
    font-weight: 600;
}
