.header{
    font-size: 14px;
}
.title{
    font-weight: bold;
    font-size: 26px;
    color: #222222;

}
.buy{
    width: 100%;
    background: #FFFFFF;
    height: auto;
}
.text-buy{
    font-weight: 600;
}

.button{
    font-size: 14px;
    color: #222222;
    border: 1px solid #CCD3DC;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 600;
}

.notification{
    width: 100%;
    background: #FFFFFF;
    height: 28rem;
    font-size: 14px;
}
.text-title{
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 50px;
}
.text-title-2{
    font-size: 26px;
    font-weight: 600;
}
.text-guide{
    font-size: 26px;
    font-weight: 600;
    color: #222222;
}
.map{
    width: 100%;
    background: #ffffff;
    height: auto;
}
.text-1{
    margin-top: 5rem;
    height: 3rem;
    font-size: 16px;
    font-weight: 600;
    color: #222222;
    border-bottom: 1px solid #ECECEC;
}
.text-2{
    font-size: 14px;
    color: #222222;
}
.text-3{
    font-weight: 600;
    font-size: 14px;
    margin-bottom: .5rem;
}
.text-4{
    font-size: 14px;
    color: #222222;
    margin-bottom: 1rem;
}
.text-5{
    margin-top: 2rem;
    height: 2.5rem;
    font-size: 16px;
    font-weight: 600;
    color: #222222;
    border-bottom: 1px solid #ECECEC;
}
.left-content{
    margin-top: 7rem;
}
.right-content{
    margin-top: 7rem;
}
.box-1{
    border: 1px solid #EB5757;
    box-sizing: border-box;
    border-radius: 6px;
}
.text-6{
    color: #EB5757;
}
.image1{
    position: absolute;
}


