.body-content {
    margin-top: 33px;
    margin-bottom: 103px;
}
.banner-image {
    width: 100%;
}
.banner-image img {
    width: 100%;
    object-fit: cover;
}
.image-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}
.image-banner img {
    max-width: 397px;
    border-radius: 23px;
}
.content-page {
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    margin-bottom: 65px;
}
.level-container {
   position: relative;
    background-image: url("../../Icon/WelcomeCTV24H/bg_image.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.title-container {
    margin-bottom: 0;
    text-align: center;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
    text-transform: uppercase;
    color: #fff;
}
.content-level {
    margin-top: 34px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.level {
    background: #FFFFFF;
    border-radius: 18px;
    margin-right: 29px;
    margin-left: 14px;
    flex-grow: 2;
    max-width: 315px;
}
.title-level {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.title-box-content {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    margin-bottom: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
.bg_container {
    width: 100%;
    object-fit: contain;
}
.content {
    width: 100%;
    height: 100%;
    padding-top: 142px;
    padding-bottom: 190px;
}
.ct-level {
    margin-top: 20px;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 14px;
}
.title-member,.title-sliver,.title-gold,.title-platinum {
    position: relative;
}
.member,.sliver,.gold,.platinum{
    margin-right: 21px;
    background: #FFFFFF;
    border-radius: 18px;
    flex-grow: 1;
    max-width: 185px;
}
.bodypage{
    max-width: 1194px;
    padding: 0;
}
.container-box{
    margin-bottom: 10px;
}
.container-box .title-level img{
    width: 100%;
}
.border-top .ct-level ul li{
    position: relative;
}
.border-top .ct-level ul li:first-child{
    color: #FF0000;
}
.border-top .ct-level ul li:first-child:before{
    position: absolute;
    content: "";
    width: 68px;
    height: 0.5px;
    background: #A6A6A6;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.border-bottom .ct-level ul li:last-child:before{
    position: absolute;
    content: "";
    width: 68px;
    height: 0.5px;
    background: #A6A6A6;
    top: -5px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.btn-register .btn-ctv {
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    margin-right: 14px;
}
.btn-register .btn {
    width: 334px;
    height: 52px;
    padding: 0;
    border-radius: 8px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 52px;
    font-size: 24px;
}
.btn-register .btn-ncc {
    background: #005DB6;
    margin-left: 14px;
}
