#main {
    background: #E5E5E5;
}

/*****************************/
.tab-category{
    width: 25rem;
    border-top: 5rem solid #D1292F;
    /* border-left: 25px solid transparent; */
    border-right: 3rem solid transparent;
    border-image-outset: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    position: relative;
}
.text-menu-tab{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
    top: -3.2rem;
    left: 1rem;
}

.menu-category{
    margin-bottom: 3rem!important;
}

.text-title-top{
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.5rem;
    align-items: center;
    text-transform: uppercase;
    color: #FE6332;
}

.text-content-top{
    font-size: 1rem;
    line-height: 1.714rem;
    align-items: center;
    color: #8C8C8C;
}

.card{
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.05));
}

.card-title{
    font-size: 1rem;
    color: #333333;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.card-body{
    padding: 0.5714rem 0.8571rem;
}
.card-text{
    font-weight: bold;
    font-size: 9px;
    line-height: 125%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FF0000;
    border: 0.75px solid #FF0000;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 2px 4px;
}

.card-price{
    font-weight: bold;
    color: red;
    font-size: 1rem;
}

.card-price-ctv{
    font-weight: 600;
    color: black;
    font-size: 1rem;
}

.menu-menu{
    margin-left: 1.143rem;
}
.card-item {
    box-shadow: 0 .3rem .6rem rgba(0, 0, 0, 0.05);
    border-radius: .2857rem;
}
.promo-product {
    border-radius: .6rem;
    border: 1px solid #FF0000;
    font-size: .8rem;
    display: inline;
    font-weight: bold;
    width: 80%;
}

.prev-arrow,.next-arrow {
    position: absolute;
    z-index: 1000000000;
    top: 35%;
    border: none;
    background-color: transparent;
}
.next-arrow {
    right: -2.5rem;
}
.prev-arrow {
    left: -2.5rem;
}


