.main-auction{
    width: 100%;
}
.menu-tab {
    background-color: #ffffff;
    width: 100%;
    position: relative;
    font-size: 16px;
    height: 6rem;
}
a{
    color: #000000;
}
.tab {
    float: left;
}
.card{
    height: auto;
    background: #FFFFFF;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    box-shadow:0px 5px 10px rgba(0, 0, 0, 0.05);
}
.img-card{
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card-body h5{
    font-weight: bold;
    font-size: 14px;
    line-height: 5%;
    letter-spacing: 0.02em;
    color: #333333;
}
.table-responsive-lg .black {
    color: #333333;
    font-size: 12px;
}
.table-responsive-lg .red{
    color: #FF0404;
    font-size: 12px;
}
.checked {
    width: 175px;
    height: 50px;
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 1rem 1rem 0 0;
    color: #fff;
}
.checked a {
    color: #fff;
}
.tab-menu a {
    font-weight: 700;
}
.card-product {
     margin-top: 25px;
     background-color: #fff;
     width: auto;
}
.card {
    height: auto;
    position: relative;
}
.card-img-1{
    position: absolute;
    right: 0;
}
.card-img-2{
    position: absolute;
    right: 0;
}
.card-img-3{
    background: url(image.png);
    border-radius: 12px 12px 0px 0px;
}
.item-product-top {
     background: #FFFFFF;
     border-top-left-radius: .3rem;
     border-top-right-radius: .3rem;
    border-bottom: 1px solid #ECECEC;
 }
.item-product-bottom {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    background: #FFFFFF;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
    height: 4rem;
}
.img-product {
    width: 8rem;
    height: 8rem;
    border-radius: .3rem;
}
.name-product{
    color: #8C8C8C;
    font-weight: bold;
    font-size: 16px;
    width: 32rem;
}
.type{
    color: #8C8C8C;
    font-size: 14px;
}
.turn-auction{
    color: #8C8C8C;
    font-size: 14px;
    padding-right: .5rem;
    text-align: center;
    border-right: 1px solid #ECECEC;
}

.price{
     color: #8C8C8C;
     font-size: 24px;
     font-weight: 700;
     padding-left: .5rem;
 }

.name-product2{
    color: #333333;
    font-weight: bold;
    font-size: 16px;
    width: 32rem;
}
.turn-auction2{
    color: #333333;
    font-size: 14px;
    padding-right: .5rem;
    text-align: center;
    border-right: 1px solid #ECECEC;
}
.price2{
    color: #FF0000;
    font-size: 24px;
    font-weight: 700;
    padding-left: .5rem;
}
.status{
    font-weight: bold;
    font-size: 14px;
    color: #8C8C8C;
    padding-right: 1rem;
}
.auction-again{
    color: #fff;
    line-height: 2rem;
}
.btn-main{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: .5rem;
    color: #fff;
    width: 11rem;
    height: 3rem;
}
.status2{
    color: #FF0000;
    font-weight: bold;
    font-size: 14px;
    padding-right: 1rem;
}
.btn-main-reject{
    border: 1px solid #ECECEC;
    border-radius: 6px;
    width: 11rem;
    height: 3rem;
}
.auction-reject{
    color: #333333;
    line-height: 2rem;
}
.notification{
    font-weight: bold;
    font-size: 14px;
    line-height: 3rem;
}
