.revenue .head{
    font-size: 24px;
    font-weight: 800;
    color: #333333;
}
.revenue-unit{
    width: 100%;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 14px;
}
.revenue-unit .text-lv1{
    font-size: 24px;
    color: #333333;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
    line-height: 33px;
}
.revenue-unit .total{
    font-size: 12px;
    color: #8C8C8C;
    margin-left: 10px;
}
.revenue-unit .total-price{
    color: #8C8C8C;
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.revenue-unit .total-price .number-price{
    color: #D1292F;
    font-size: 36px;
    font-weight: bold;
}
.revenue-unit .total-price .money{
    color: #D1292F;
    font-weight: bold;
}
