#shop-love {
    box-shadow: 0px 4px 8px rgb(147 145 145 / 25%);
    border-radius: 8px;
    padding: 9px 0;
    max-width: 1190px;
    margin: 0 auto;
    background: #fff;
    margin-bottom: 20px;
}
.div-box {
    position: relative;
}
.box-1 {
    padding-left: 30px;
}
.div-box:before {
    position: absolute;
    width: 1px;
    height: 100px;
    background: #ECECEC;
    right: 0;
    content: "";
}
.image-button {
    margin-right: 21px;
    width: 83px;
    position: relative;
}
.iamge-shop {
    display: flex;
    justify-content: center;
}
.iamge-shop img {
    width: 74px;
    height: 74px;
    border-radius: 50%;
}
.shop {
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    color: #fff;
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-radius: 9.93628px;
    width: 83px;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
}
.tite-shop {
    font-size: 16px;
}
.sub {
    font-size: 9px;
    color: #8C8C8C;
    margin: 6px 0;
}
.link-button {
    display: flex;
}
.link-button .button {
    background: #005DB6;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    width: 108px;
    height: 28px;
    padding: 0 7px;
    margin: 0;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.link-button .button object {
    margin-right: 5px;
}
.box-2, .box-3, .box-4, .box-5 {
    padding: 0 30px;
}
.box-2:before {
    top: -22px;
}
.div-box .price-buy {
    font-size: 18px;
    text-align: center;
    margin: 0;
}
.price-buy {
    font-weight: bold;
    font-size: 26px;
    line-height: 28px;
    color: #EE0008;
    margin-right: 29px;
}
.box-3:before {
    top: -22px;
}
.box-4:before {
    top: -22px;
}
.box-5:before {
    display: none;
}
.div-box .price-buy span {
    display: block;
    color: #333333;
}
.number-follow {
    font-weight: 600;
    font-size: 9px;
    line-height: 24px;
    margin-right: 10px;
}
.number-follow .number {
    color: #FF0000;
}
.number-like {
    font-weight: 600;
    font-size: 9px;
    line-height: 24px;
    margin-right: 10px;
}
.number-like .number {
    color: #FF0000;
}
.container-shop-love{
    background: #fff;
    padding: 18px 0;
    margin-bottom: 15px;
    border-top: 1px solid #6d44e052;

}
.link-button .btn-shop{
    background: #fff;
    color: #333333;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
}
.link-button .btn-shop-followed{
    background:linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    color: #fff;
    outline: none;
}
.container-fillter {
    background: #FFFFFF;
    margin-bottom: 15px;
}
.nav-fillter {
    margin: 0 auto;
    max-width: 1190px;
    height: 63px;
    width: 100%;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-fillter .all-product {
    color: #FF0000;
}
.nav-fillter a {
    width: calc(100%/6);
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #333333;
    padding: 22px 0;
    border-right: 1px solid #ECECEC;
}
.relative{
    position: relative;
}
.content{
    max-width: 1190px;
    margin: 0 auto;
}
.slick-arrow {
    position: absolute;
    top: 50%;
    background: #fff;
    border: none;
    outline: none;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    cursor: pointer;
}
.slick-arrow:focus{
    outline: none;
}
.btn-prev {
    right: -24px;
}
.btn-next {
    left: 0;
}
.infor-shop {
    max-width: 1190px;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 20px;
    padding-bottom: 26px;
    margin-bottom: 40px;
}
.title-infor {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 25px;
}
.container-image-shop {
    width: 50%;
    margin-right: 16px;
}
.container-image-shop .button-prev {
    right: 14px;
}
.container-image-shop .button-next {
    left: 32px;
}
.slick-image {
    overflow: hidden;
}
.image {
    flex: 0 0 100%;
    border-radius: 8px;
    width: 100%;
}
.content-infor-shop {
    width: 50%;
    padding-right: 32px;
    padding-left: 16px;
}
.name-shop {
    font-size: 24px;
    line-height: 24px;
    color: #FF0000;
    margin-bottom: 15px;
}
.text-shop {
    font-size: 14px;
}
.text-shop li {
    line-height: 24px;
}
.suggestion {
    max-width: 1190px;
    margin: 0 auto;
}

.btn-arrow-small {
    width: 24px;
    height: 24px;
}
.btn-arrow {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background: #fff;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}
.prev-arrow.btn-arrow-small {
    right: -30px;
}
.container-section-product {
    display: flex;
    flex-wrap: wrap;
}
.container-section-product .content {
    display: block;
    position: relative;
    margin: 0 8.5px;
    z-index: 2;
    width: calc(100%/6 - 17px);
    padding-bottom: 2.5px;
}
.border-yellow {
    padding: 1px;
}
.border-box {
    box-shadow: 0px 5px 10px rgb(0 0 0 / 5%);
    border-radius: 4px;
}
.content {
    display: flex;
    outline: none;
}
.border-yellow:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        180deg
        , #FFC303 0%, #FF8B03 100%);
    z-index: 1;
    top: 0;
    left: 0;
    border-radius: 4px;
}
.link-product{
    position: relative;
    z-index: 1;
}
.section-san-pham-trend .img-product {
    margin-top: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-top: 1px;
}
.content .img-product {
    width: 100%;
    position: relative;
    z-index: 10;
}
.img-product {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
}
.border-yellow .title-product-n {
    margin-top: 0;
}
.title-product-n {
    margin-bottom: 35px;
    margin-top: 12px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #333333;
    padding: 0 12px;
    display: block;
    position: relative;
    height: 20%;
}
.product-price {
    padding: 0 12px;
}
.product-price .price {
    font-weight: bold;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #FF0000;
    margin-bottom: 19px;
}
.product-price .pass {
    font-weight: bold;
    font-size: 10px;
    line-height: 125%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #333333;
}
.btn-sign-up {
    display: flex;
    text-align: center;
    padding: 0.75px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin: 11px 0;
    border: 0.75px solid #ffbc32;
}
.btn-sign-up button {
    font-weight: bold;
    font-size: 9px;
    text-decoration: none;
    color: #FF0000;
    letter-spacing: 0.02em;
    padding: 5px 0px;
    border-radius: 4px;
    background: #fff;
    border: none;
}
.review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}
.review img {
    max-width: 50%;
}
.review p {
    font-size: 14px;
    line-height: 125%;
    color: #4F4F4F;
    margin-bottom: 0;
}
.content .img-product img{
    width: 100%;
}
.product-section .btn-arrow:focus{
    outline: none;
}
.sale-title {
    position: absolute;
    bottom: -27px;
    width: 100%;
    left: 0;
    padding: 0 12px;
}
.sale-title .sale {
    font-weight: bold;
    font-size: 9px;
    line-height: 125%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FF0000;
    width: max-content;
    padding: 5px 8px;
    border: 0.75px solid #FF0000;
    box-sizing: border-box;
    border-radius: 4px;
}
.suggestion{
    margin-bottom: 34px;
}
.title-section {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.order-search {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}
.number-order {
    position: absolute;
    top: 6px;
    right: 10px;
    margin-bottom: 0;
    color: #fff;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
}

.number-order-first{
    font-size: 30px;
    top: 10px;
}
.top-search .container-section-product .content{
    padding-bottom: 0;
}
.body-seaech .container-section-product .img-product{
    margin-top: 0;
}
.body-seaech .container-section-product .content{
 margin-right: 0;
}
.body-seaech .container-left{
    padding-top: 0;
}
.body-seeshop .body-seaech{
    max-width: 1190px;
    margin: 0 auto;
}
.suggestion .container-section-product .sp-product-content{
    margin: 0 8.5px;
    position: relative;
    width: calc((100%/6) - 17px);
    padding: 2px;
}
#shop-love .infor-shop{
    margin-bottom: 0;
    padding-bottom: 0;
}
.btn-fillter{
    border: 1px solid rgb(236, 236, 236);
    border-radius: 6px;
    outline: none;
    background: rgb(255, 255, 255);
    padding: 4px 0px;
    width: 100px;
    margin-right: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
}
.btn-fillter:focus{
    outline: none;
}
.loader_ajax {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
