.bg-oregen {
    background-color: #F5831B;
}

.calendar {
    background-color: #ffffff;
    border-radius: 3rem;
    box-shadow: 0 .4rem 1.5rem rgba(0, 0, 0, 0.25);
}

.shadow-offset {
    /*box-shadow: 0 .4rem 1.5rem rgba(0, 0, 0, 0.25);*/
}

.menu-inactive {
    color: #8C8C8C;
    font-weight: 600;
    font-size: 1.2rem;
}

.menu-active {
    color: #333333;
    font-weight: 600;
    font-size: 1.5rem;
}

.active {
    color: #8C8C8C;
    font-size: 1.8rem;
    font-weight: bold;
}

.inactive {
    color: #ECECEC;
    font-size: 1.8rem;
    font-weight: bold;
}

.active_day {
    background: #005DB6;
    border-radius: 100%;
    color: #fff;
}

.w-7-percent {
    width: calc(100% / 7);
}

.title {
    font-size: .8rem;
    color: #FF0000;
}

.content-title {
    background-image: url("/assets/frontend/icon/deals/content.png");
    background-repeat: no-repeat;
    background-position: center center;
    height: 10rem;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 3rem solid transparent;
    border-right: 3rem solid transparent;
    border-top: 3rem solid #fff;
    bottom: -2rem;
    left: 45%;
    z-index: 100;
}

.promo-product {
    border-radius: .6rem;
    border: 1px solid #FF0000;
    font-size: .8rem;
    display: inline;
    font-weight: bold;
    width: 80%;
}
