.bg-main {
    background-color: #025DB6;
}
.prev-arrow,.next-arrow {
    position: absolute;
    z-index: 1000000000;
    top: 50%;
    border: none;
    background-color: transparent;
}
.next-arrow {
    right: -2.5rem;
}
.prev-arrow {
    left: -2.5rem;
}
