.main-history {
    width: 100%;
    background-color: #fff;
}
.header {
    border-bottom: 1px solid #ECECEC;;
}
.header .active {
    border-bottom: 3px solid #D1292F;
    color: #D1292F;
}
.header .inactive {
    color: #333333;
}
.image-product {
    width: 8rem;
    height: 8rem;
    border-radius: .3rem;
}
.name-product {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    color: #333333;
}
.text-type {
    color: #959595;
    font-size: .8rem;
}
.btn-default {
    border: 1px solid #ECECEC;
    font-size: .9rem;
}
.text-red {
    color: #FF0000;
}
.text-like {
    font-size: .8rem;
}
#mainByProduct {
    width: 100%;
    background-color: #fff;
}
#main2 {
    width: 100%;
    background-color: #F7F7F7 !important;
}
.menu {
    display: flex;
}
.menu li {
    font-weight: bold;
    width: 100%; list-style-type:none; display:inline-block;
    padding: 1rem 0 1rem 0;
    text-align: center;
}
.menu li.active {
    color: #FF5722;
    border-bottom: 3px solid #FF5722;
}
.my-list {
    box-shadow: 0 .6rem .6rem rgba(0, 0, 0, 0.05);
    border-radius: .6rem;
    background-color: #fff;
}
.w-100 {
    width: 100%;
}
.header-list {
    /*border-bottom: 1px solid #ECECEC;*/
}
.price-old {
    text-decoration: line-through;
    color: #959595;
}
.btn-review-product {
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    width: 180px;
    color: #fff;
}
.btn-buy-again {
    border: 1px solid #ECECEC;
    border-radius: 6px;
    width: 180px;
    margin-left: 16px;
    font-weight: 600;
    color: #333;
    font-size: 14px;
    background: transparent;
}
.btn:focus{
    outline: none;
    box-shadow: inherit;
}
.popup-review {
    max-width: 768px;
    background: #fff;
    border-radius: 16px;
    padding: 55px 66px 40px 66px;
}
.container-popup-review{
    /*width: 100%;*/
    /*height: 100%;*/
    border: 2px solid black;
    /*background: #0000002e;*/
    z-index: 10;
    display: none!important;
    border-radius: 16px;
}
.show_popup_review{
    display: block!important;
}
/*.container-popup-review .show-popup{*/
/*    z-index: 20;*/
/*    opacity: 1;*/
/*}*/
.title {
    text-align: center;
    color: #333333;
    font-size: 24px;
    margin-bottom: 50px;
}
.product-review .image {
    margin-right: 47px;
}
.title-product h4 {
    font-size: 16px;
    line-height: 22px;
    color: #333333;
}
.attr-product {
    color: #959595;
    font-size: 14px;
}
.ratings {
    margin: 20px 0;
}
.btn-star-rating {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0 8px;
    outline: none;
}
.btn-comment {
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 15px;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 17px;
    background: #fff;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}
.note-review {
    margin: 20px 0;
}
.note-review textarea:focus{
    outline: none;
}
.note-review textarea:focus label{
    display: none;
}
.note-review #textarea {
    width: 100%;
    height: 113px;
    position: relative;
}
.form-upload {
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 16px;
    width: 179px;
    height: 113px;
}
.upload-files {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.btn-bottom {
    border: 1px solid #ECECEC;
    border-radius: 6px;
    width: 158px;
    height: 40px;
    background: #fff;
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    outline: none;
    cursor: pointer;
}
.btn-up-review {
    margin-left: 14px;
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-radius: 6px;
    color: #fff;
}
.selected{
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    color: #fff;
}
.btn-star-rating.active svg path{
    fill: #FFC107;
}
#blah{
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
#myFile{
    display: none;
}
#video-tag{
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
#textarea textarea{
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    background-color: #fff;
    resize: none;
    box-sizing: border-box;
    border: 1px solid #ECECEC;
    border-radius: 16px;
    max-width: 473px;
    margin-right: 17px;
}
#textarea label{
    position: absolute;
    top: 13px;
    left: 28px;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #8C8C8C;
}
.content-img-video-review{
    display: flex;
    flex-wrap: wrap;
}
.data-file{
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    padding: 0 5px;
}
.data-file img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.data-file video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Popup huỷ đơn hàng*/
.popup-edit-payment {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}
.popup-edit-payment.show-popup{
    display: block;
    top: 10%;
}
.popup-edit-payment .container-popup-payment {
    width: 40%;
    margin: 10px auto;
    background: #fff;
    border-radius: 16px;
    padding: 10px;
    border: 1px solid #005DB6;
}
.container-popup-payment .header-popups-payment {
    margin-bottom: 10px;
}
.title-header-payment{
    color: #005DB6;
    font-weight: bold;
    font-size: 24px;
}
.information-payment-unit {
    padding-bottom: 8px;
}
.container-payment {
    width: 100%;
}
.name-payment-unit {
    padding: 5px 14px;
    /*border: 1px solid #ECECEC;*/
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    /*margin-top: 30px;*/
}
.name-payment-unit.rm-border{
    border: none;
}
.name-payment-unit .selected {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ECECEC;
    margin-right: 18px;
    position: relative;
    cursor: pointer;
}
.name-payment-unit .checked{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
}
.name-payment-unit .selected:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.name-payment-unit .name {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0;
    width: 100%;
}
.information-payment-unit .border-box {
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 8px;
    padding-bottom: 0;
    width: 81px;
    height: 36px;
}
.information-payment-unit .border-box img {
    width: auto;
}
.popup-edit-payment .btn {
    background: #ECECEC;
    border-radius: 6px;
    width: 157px;
    font-weight: bold;
    height: 40px;
    margin-top: 50px;
}
.popup-edit-payment .btn-cancel-payment {
    margin-right: 18px;
    color: #333333 !important;
}
.popup-edit-payment .btn-confirm-payment {
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    color: white;
}
