/*------------START Index---------------*/
.box-unit .head-unit-f{
    color: #333333;
    font-weight: bold;
    font-size: 22px;
}
.box-unit .content-unit-f .box-content{
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    width: 251px;
    height: 118px;
}
.box-unit .content-unit-f .title-box-f{
    color: #333333;
    font-weight: bold;
}
.box-unit .content-unit-f .title-box-s{
    color: #8C8C8C;
    font-size: .8rem;
}
.box-unit .content-unit-f .main-content{
    margin: 30px 10px;
    calc(100%/8 - 10px);
    position: relative;
}
.box-unit .content-unit-f .main-content .img-content{
    position: absolute;
    bottom: 7.2rem;
    left: 1.8rem;
}
/*------------END Index---------------*/

/*------------START Chuong trinh cua CTV24---------------*/
.head-unit .head-left{
    color: #333333;
    font-weight: bold;
    font-size: 24px;
}
.head-unit .head-right{
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 8px;
}
.head-unit .head-right span{
    font-weight: bold;
    font-size: 14px;
    color: #333333;
}
.body-unit .body-content{
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 1rem;
}
.body-unit .body-content .btn-register{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 1.25rem;
    /*margin-left: 35rem;*/
    width: 10.5rem;
    height: 2.6rem;
    padding-top: .6rem;
}
.body-unit .body-content .btn-register a{
    color: #ffffff;
}
.bg-green{
    background: #04BA96;
    border-radius: 4px;
    color: #fff;
    padding: .2rem;
    width: 10rem;
    text-align: center;
}
.bg-blue{
    background: #0C9BC8;
    border-radius: 4px;
    color: #fff;
    padding: .2rem;
    width: 10rem;
    text-align: center;
}
.bg-red{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 4px;
    color: #fff;
    padding: .2rem;
    width: 10rem;
    text-align: center;
}
.bg-pink{
    background: #F36D72;
    border-radius: 4px;
    color: #fff;
    padding: .2rem;
    width: 10rem;
    text-align: center;
}
.body-unit .body-content .main{
    margin-top: 1.5rem;
    width: 80rem;
}
.body-unit .body-content .main .noti{
    color: #fff;
    width: 120px !important;
    padding: .1rem;
}
.body-unit .body-content .main .text{
    color: #333333;
    font-weight: bold;
    font-size: 18px;
}
.body-unit .body-content .main .time{
    color: #8C8C8C;
    font-size: 14px;
}
.body-unit .body-content .image{
    width: 12.2rem;
    height: 9.5rem;
    border-radius: .9rem;
}

.head-unit .tab-menu{
    font-weight: bold;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    line-height: 2.8rem;
}
.menu a{
    color: #333333;
}
.checked{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 8px 8px 8px 8px;
    color: #fff;
}
.checked a{
    color: #fff;
}
.body-unit .body-content .btn-register-product{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 1.25rem;
    /*margin-left: 35rem;*/
    width: 12rem;
    height: 2.6rem;
    padding-top: .6rem;
}
.body-unit .body-content .btn-register-product a{
    color: #ffffff;
}
.body-unit .body-content .main-register{
    width: 80rem;
}
.body-unit .body-content .main-register .noti{
    color: #fff;
    width: 120px !important;
    padding: .1rem;
}
.body-unit .body-content .main-register .text{
    color: #333333;
    font-weight: bold;
    font-size: 18px;
}
.body-unit .body-content .main-register .time{
    color: #8C8C8C;
    font-size: 14px;
}
.body-unit .body-content .main-register .description{
    color: #005DB6;
}
.head-unit-first .head-left-first{
    color: #333333;
    font-weight: bold;
    font-size: 24px;
}


.body-unit-first .body-content-first{
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 1rem;
}
.body-unit-first .body-content-first .main-register-first{
    width: 42rem;
}
.body-unit-first .body-content-first .time-unit-first{
    width: 34rem;
}
.body-unit-first .body-content-first .main-register-first .noti{
    color: #fff;
    width: 120px !important;
    padding: .1rem;
}
.body-unit-first .body-content-first .main-register-first .text{
    color: #333333;
    font-weight: bold;
    font-size: 18px;
}
.body-unit-first .body-content-first .time-unit-first .time{
    color: #8C8C8C;
    font-size: 14px;
}
.head-unit-first .body-unit-first .body-content-first .time-unit-first .text{
    color: #333333;
    font-weight: bold;
    font-size: 1.1rem;
}
.tab-menu-first a{
    color: #333333;
    font-weight: bold;
    font-size: 1.1rem;
}
.checked-first{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 14px 14px 0px 0px;
}
.checked-first a{
    color: #fff;
    line-height: 3rem;
}
.footer-unit .footer-body .title{
    margin-bottom: 1.5rem;
}
.head-unit-product .head-left-product .btn-add-product{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 8px;
}
.head-unit-product .head-left-product .title-register{
    color: #333333;
    font-weight: bold;
    font-size: 24px;
}
.head-unit-product .tab-menu-product{
    font-weight: bold;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    line-height: 2.8rem;
}
.menu-product a{
    color: #333333;
}
.checked-product{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 8px 8px 8px 8px;
    color: #fff;
}
.checked-product a{
    color: #fff;
    line-height: 3rem;
}
.head-unit-product .head-left-product .btn-add-product span{
    color: #fff;
}
.head-unit-product .head-left-product .btn-add-product{
    padding: .7em;
}
.body-unit .table-responsive .image{
    width: 5.2rem;
    height: 4.8rem;
    border-radius: .8rem;
    object-fit: cover;
}
.body-unit .table-responsive .product-info{
    padding-top: 1.3rem;
    padding-left: .5rem;
}
.body-unit .table-responsive .product-info .name-product{
    font-weight: bold;
    color: #333333;
}
.body-unit .table-responsive .product-info .code-product{
    color: #8C8C8C
}
.body-unit .table-responsive .input-price{
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 8px;
    height: 2.5rem;
}
.head-unit-second .title-branch{
    font-size: 18px;
    color: #333333;
}
.head-unit-second .drop-show{
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 8px;
    height: 2.8rem;
}
.head-unit-second .title-all{
    color: #8C8C8C;
    font-size: 14px;
}
/*------------END Chuong trinh cua CTV24---------------*/

/*------------START Ma giam gia cua CTV24---------------*/
.body-unit .body-content .main-voucher .noti{
    color: #fff;
    width: 120px !important;
    padding: .1rem;
}
.body-unit .body-content .main-voucher .text{
    color: #333333;
    font-weight: bold;
    font-size: 18px;
}
.body-unit .body-content .main-voucher .time{
    color: #8C8C8C;
    font-size: 14px;
}
.body-unit .body-content .main-voucher .btn-register-voucher{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 1.25rem;
}
.body-unit .body-content .main-voucher .btn-register-voucher a{
    color: #fff;
    line-height: 2.8rem;
}
.body-unit .body-content .image-voucher img{
    width: 195px;
    height: 182px;
    border-radius: .9rem;
}
.body-unit-first .body-content-first .main-register-first .btn-register-voucher{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 1.25rem;
    line-height: 2.8rem;
}
.body-unit-first .body-content-first .main-register-first .btn-register-voucher a{
    color: #fff;
}
.body-unit .table-responsive .table .noti-vc{
    width: 130px;
    height: 30px;
    color: #fff;
    font-weight: bold;
    padding-top: .3rem;
}
.body-unit .table-responsive .table .status{
    background: #FCEBEA;
    border-radius: 20px;
}
.body-unit .table-responsive .table .status p{
    line-height: 40px;
}
.body-unit .table-responsive .table .status-red{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 20px;
}
.body-unit .table-responsive .table .status-red p{
    line-height: 40px;
    color: #fff;
}
.body-unit .table-responsive .table .btn-status{
    margin-left: 5rem;
}

.body-unit-voucher{
    background: rgba(243, 243, 243, 0.5);
    border-radius: 32px;
    border: .2rem dashed #ff2222;
    width: 100%;
    height: 586px;
}
.body-unit-voucher .btn-create-voucher a{
    color: #fff;
    font-weight: bold;
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 8px;
    padding: .8rem;
}
.body-unit-voucher .title{
    color: #8C8C8C;
    font-weight: bold;
}
.body-unit-voucher .content-unit-voucher{
    margin-top: 11.8rem
}
.body-unit-voucher .table-responsive .all-product{
    color: #C7C7C7;
    font-size: 12px;
}
.body-unit-voucher .table-responsive .discount-value{
    color: #8C8C8C;
}
.body-unit-voucher .table-responsive .head-content-tb{
    background: #FFFFFF;
}
.body-unit-voucher .table-responsive .btn-status-register{
    margin-left: 8.5rem;
}
.head-new-code .title-new-code span{
    font-weight: bold;
    font-size: 24px;
    color: #333333;
}
/*------------END Ma giam gia cua CTV24---------------*/

/*------------START Ma giam gia cua toi---------------*/
.tab-menu .tab-menu-f{
    font-weight: bold;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    line-height: 2.8rem;
}
.menu a{
    color: #333333;
}
.checked{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 8px 8px 8px 8px;
    color: #fff;
}
.checked a{
    color: #fff;
}
.head-unit-first .head-title span{
    font-weight: bold;
    font-size: 24px;
    color: #333333;
}
.head-unit-first .head-title p{
    font-weight: bold;
    color: #333333;
}
.tab-menu .btn-create{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 8px;
    color: #fff;
}
.tab-menu .btn-create a{
    line-height: 2.8rem;
    color: #fff;
}
.body-unit .table-responsive .btn-status{
    margin-left: 1rem;
}
.order-info-unit{
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 1rem;
}
.order-info-unit .info-text{
    font-size: 1.2rem;
    font-weight: bold;
    color: #333333;
}
.order-info-unit .order-info .head-order-title{
    color: #8C8C8C;
}
.order-info-unit .order-info .footer-order-title{
    color: #333333;
}
.content-new-code .btn-unit .button-new-code{
    background: #ECECEC;
    border-radius: 1.3rem;
    padding: .7rem;
    width: 9rem;
}
.content-new-code .btn-unit .button-new-code a{
    color: #333333;
    font-weight: bold;
}
.content-new-code .btn-unit .button-new-code:hover{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
}
.content-new-code .btn-unit .button-new-code:hover a{
    color: #fff;
}
.content-new-code .btn-unit .btn-main-round:hover{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
}
.content-new-code .btn-unit .btn-main-round:hover{
    color: #fff;
}
.content-new-code .shop-or-product-unit{
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}
.content-new-code .shop-or-product img{
    padding: .4rem 0;
}
.container_radio{
    margin-left: 30px;
    margin-right: 30px;
}
/*Config radio button*/
.container_radio {
    display: block;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container_radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio_config {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.container_radio:hover input ~ .radio_config {
    background-color: #ccc;
}

.container_radio input:checked ~ .radio_config {
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
}

.radio_config:after {
    content: "";
    position: absolute;
    display: none;
}

.container_radio input:checked ~ .radio_config:after {
    display: block;
}

.container_radio .radio_config:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
/*------------END Ma giam gia cua toi---------------*/

/*------------START Combo khuyen mai---------------*/
.body-unit .table-responsive .table .btn-status-combo{
    margin-left: 8rem;
}
.body-unit .table-responsive .table .btn-copy{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 6px;
    padding: .7rem 2.5rem;
    color: #fff;
}
.head-new-code .btn-add-product{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 8px;
    padding: .7rem 2.3rem;
}
.head-new-code .btn-add-product span{
    color: #fff;
}
.head-new-combo .tool-unit .btn-group .btn-unit{
    calc(100%/3 - 20px);
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 8px;
    width: 14rem;
    padding: .8rem 0;
}
.head-new-combo .tool-unit .btn-group .btn-unit a{
    color: #333333;
    font-weight: bold;
}
.head-new-combo .tool-unit .btn-group .btn-unit:hover{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 8px;
}
.head-new-combo .tool-unit .btn-group .btn-unit:hover a{
    color: #fff;
}

/*Switch button*/
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background: #ff2222;
}

input:checked + .slider.green{
    background: #47AA04;;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Green */


/*Switch button*/
.footer-combo .btn-footer{
    width: 15rem;
    border-radius: 8px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border: 1px solid #ECECEC;
}
.footer-combo .btn-footer a{
    line-height: 3rem;
    color: #333333;
    font-weight: bold;
}
.footer-combo .btn-footer:hover{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 8px;
}
.footer-combo .btn-footer:hover a{
    color: #fff;
}
.body-unit .table-responsive .table .btn-status-combo-order{
    margin-left: 15rem;
}
.statistic .box-unit{
    margin-right: 1.5rem;
    calc(100%/6 - 1.5rem);
    background: #FFFFFF;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 18px;
    color: #333333;
    font-weight: bold;
    font-size: 18px;
    height: 9rem;
    width: 14rem;
}
/*------------END Combo khuyen mai---------------*/

/*------------START Mua kem Deal soc---------------*/
.body-unit .table-responsive .table .btn-status-deal{
    margin-left: 6rem;
}
.head-new-code .btn-add-product-main{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 8px;
    padding: .7rem 2.3rem;
}
.head-new-code .btn-add-product-main span{
    color: #fff;
}
.filter-unit .head-right{
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 8px;
    line-height: 2.5rem;

}
.filter-unit .head-right span{
    font-size: 14px;
    color: #8C8C8C;
    padding: 0 3rem;
}
.checkbox-unit .checkbox-view-prd{
    margin-top: 5px;
}
.post-list-product .head-list .btn-download{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 8px;
    padding: .7rem 2rem;
}
.post-list-product .head-list .btn-download span{
    color: #fff;
    font-weight: bold;
}
.deal-unit-upload-file{
    background: rgba(243, 243, 243, 0.5);
    border-radius: 32px;
    border: .2rem dashed #ff2222;
    width: 100%;
    height: 586px;
}
.deal-unit-upload-file .btn-upload-file a{
    color: #fff;
    font-weight: bold;
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 8px;
    padding: .7rem 2rem;
}
.deal-unit-upload-file .content-deal-unit{
    margin-top: 11.8rem
}
.deal-unit-upload-file .content-deal-unit .btn-download{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 8px;
}
.deal-unit-upload-file .content-deal-unit .btn-download span{
    color: #fff;
    font-weight: bold;
}
/*------------END Mua kem Deal soc---------------*/

/*------------START Top san pham ban chay---------------*/
.head-unit-second .btn-create{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 8px;
    padding: .8rem 0;
}
.head-unit-second .btn-create a{
    color: #fff;
    font-weight: bold;
}
.head-unit-first .btn-create{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 8px;
    padding: .8rem 0;
}

.head-unit-first .btn-create a{
    color: #fff;
    font-weight: bold;
}
.head-unit-first .head-title .text-grey{
    color: #8C8C8C;
}
/*------------END Top san pham ban chay---------------*/


/*------------Chuong trinh giam gia cua toi------------*/
.popup-add-product{
    width: 65%;
    height: 150%;
    top: 80% !important;
    margin: 0 auto;
    display: none;
}
.popup-add-product.show-popup{
    /*top: 15%;*/
    display: block;
    z-index: 20;
}

.popup-add-product .container-popup-add-product{
    margin: 20px auto;
    background: #fff;
    border-radius: 16px;
    padding: 30px;
    border: 1px solid #005DB6;
    height: 50%;
    position: relative;
    overflow-y: auto;
}
.popup-add-product .btn{
    background: #ECECEC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 47px;
    color: #333333;
    font-weight: bold;
    width: 10rem;
    height: 3rem;
}
.popup-add-product .btn-confirm-product{
    margin-left: 1rem;
}
.popup-add-product .btn:hover{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    color: #ffffff;
}
.popup-add-product .body-product .menu{
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
     background: #FFFFFF;
     border-radius: 8px;
 }
.popup-add-product .body-product .menu a{
    font-weight: bold;
    font-size: 1rem;
    color: #333333;
}


/**searchbox**/
.row {
    display : -webkit-box;
    display : -webkit-flex;
    display : -ms-flexbox;
    display :         flex;
    -webkit-flex-wrap : wrap;
    -ms-flex-wrap : wrap;
    flex-wrap : wrap;
    margin-left : -14px;
    margin-right : -14px;
}
.active-product {
    background-color: #a9a9a9;
}
