.note-cart {
    width: 100%;
    border: 1px solid #FFC303;
    padding: .5rem;
    background-color: #fff;
}
.header-cart {
    width: 100%;
    background-color: #fff;
    position: relative;
}
.more-cart {
    background: #FFF6F0;
    border-radius: 6px;
}
.text-bold-700 {
    font-weight: 700;
}
.color-text-danger {
    color: #FF0000;
}
.img-product {
    width: 7rem;
    height: auto;
    border-radius: 14px;
}
.color-type{
    color: #959595;
}
.price-new {
    font-size: .9rem;
}
.price-old {
    font-size: .7rem;
    text-decoration: line-through;
}
.btn-cart {
    background-color: #ff0000;
    width: 2rem;
    border: 1px solid #E4E4E4;
}
.input-cart {
    background-color: #fff;
    border: 1px solid #E4E4E4;
    width: 40%;
    text-align: center;
}
.input-order {
    background-color: #fff;
    border: 1px solid #E4E4E4;
    width: 40%;
    text-align: center;
}
.btn-plus {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-left: none;
}
.btn-minus {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-right: none;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.total-price {
    font-weight: bold;
    font-size: 1rem;
    color: #FF0000;
}
.icon-close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    color: #AAAAAA;
    font-size: 1rem;
    font-weight: 400 !important; ;
}
.voucher {
    color: #005DB6;
}
.text-xu {
    color: #959595;
    font-weight: 300;
}
.text-bonus {
    color: #FF0000;
    font-weight: 300;
}
.price-total {
    color: #FF0000;
    font-weight: bold;
    font-size: 3rem;
}
.btn {
    color: #fff !important;
}
/*----------------------popup---------------------*/
.s-before:before {
    content: "";
    position: absolute;
    width: 142px;
    height: 44px;
    top: -10px;
    left: 0;
    border: 2px solid #F6402D;
    border-bottom: none;
    background: #fff;
    z-index: 12;
}
.popup-cart{
    display: none;
    position: absolute;
    top: 61%;
    z-index: 10;
    width: calc(100% - 1rem);
    background: #fff;
    padding-top: 20px;
    border: 2px solid #F6402D;
}
.show-content{
    z-index: 20;
    position: relative;
}
.border-box{
    border: 1px solid #ffbc32;
}
.container-section-product{
    padding-bottom: 24px;
}
.border-paginate {
    box-shadow: 0 0 5px 5px rgb(0 0 0 / 5%);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 12px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.paginate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.space-number {
    margin-right: 12px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
}
.dropdown{
    cursor: pointer;
}
.show-popup .popup-cart{
    display: block;
}
.append-dots .slick-dots {
    position: inherit;
    display: flex;
}
.append-dots .slick-dots li{
    box-shadow: 0 0 5px 5px rgb(0 0 0 / 5%);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 12px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-left: 0;
}
.append-dots .slick-dots .slick-active{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    color: #ffffff;
}
.nav-cart-page{
    margin-top: 35px;
    display: flex;
    border-bottom: 1px solid #EE4D2D;
}
.nav-link.active {
    background: #EE4D2D;
    color: #fff;
}
.nav-link {
    width: 177px;
    height: 49px;
    text-align: center;
    line-height: 49px;
    margin-right: 17px;
    background: #ECECEC;
    font-weight: bold;
    font-size: 14px;
    padding: 0;
    color: #333333;
}
.container-location {
    background: #fff;
    padding-right: 33px;
    padding-left: 10px;
    margin-top: 24px;
}
.location {
    display: flex;
    align-items: center;
}
.container-location .title-address {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 300%;
    color: #333333;
    margin-left: 20px;
}
.infor-location-customer {
    display: flex;
    position: relative;
    padding-left: 45px;
    align-items: center;
}
.container-location .name-customer {
    margin-bottom: 0;
    font-size: 18px;
    color: #333333;
    line-height: 300%;
    margin-right: 20px;
}
.container-location .address-customer {
    font-size: 18px;
    color: #5A5959;
    line-height: 300%;
    max-width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.btn-edit-location {
    background: transparent;
    border: none;
    outline: none;
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 10px;*/
    cursor: pointer;
    /*z-index: 10;*/
}
.note {
    font-weight: bold;
    font-size: 14px;
    margin-right: 13px;
}
#note {
    width: 330px;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 6px;
    height: 31px;
    outline: none;
    padding: 0 10px;
}
.d-flex.shipping {
    width: 100%;
    padding-left: 14px;
}
.title-shipping-unit {
    font-weight: bold;
    font-size: 18px;
    margin-right: 34px;
}
.infor-shipping-unit {
    margin-right: 80px;
}
.name-infor-shipping {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 12px;
}
.sub-name-infor-shipping {
    font-size: 12px;
}
.edit-shipping-unit {
    font-weight: bold;
    font-size: 14px;
    color: #005DB6;
    display: flex;
    align-items: center;
}
.total-product {
    font-size: 14px;
    color: #333333;
    display: flex;
    align-items: flex-end;
    margin-right: 21px;
    margin-bottom: 2px;
}
.form-vuocher .d-flex{
    align-items: center;
}
.d-flex-left,.d-flex-right{
    width: 50%;
}
.d-flex-left img{
    width: 30px;
    margin-right: 21px;
}
.d-flex-left object{
    margin-right: 21px;
}
.d-flex-left span {
    font-size: 14px;
    color: #959595;
    margin-left: 21px;
}
.d-flex-left p{
    font-weight: bold;
    font-size: 18px;
}
.form-vuocher {
    padding: 14px 25px;
    background: #fff;
    margin-top: .25rem;
}
.form-vuocher .d-flex {
    align-items: center;
}
.d-flex-right {
    justify-content: flex-end;
    padding-right: 30px;
}
.d-flex-right input{
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 4px;
    width: 20px;
    height: 20px;
}
.d-flex-right label{
    color: #959595;
    font-size: 14px;
    margin-bottom: 0;
    margin-left: 14px;
}
.nav-checkout.d-flex {
    justify-content: space-between;
    border-bottom: 1px solid #DFDFDF;
}
.form-checkout {
    margin-top: 20px;
    background: #fff;
}
.nav-title {
    font-weight: bold;
    font-size: 18px;
    padding: 27px 24px;
    color: #000;
}
.nav-right {
    display: flex;
}
.nav-title-right {
    font-weight: bold;
    font-size: 14px;
    color: #333333;
    padding: 27px 47px;
}
.edit-title-right {
    font-weight: bold;
    font-size: 14px;
    color: #005DB6;
    padding: 27px 0;
    padding-right: 10px;
    cursor: pointer;
}
.container-d-flex {
    width: 500px;
    padding: 22px 10px 9px 46px;
}
.title-left {
    font-weight: bold;
    font-size: 14px;
    color: #333333;
    line-height: 19px;
}
.title-right {
    font-weight: bold;
    font-size: 14px;
    color: #FF0000;
}
.btn-popup-address-ctv,.btn-add-infor-cunstomer {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}
.btn-add-infor-cunstomer button {
    width: 245px;
    height: 40px;
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-radius: 6px;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
}
.btn-popup-address-ctv button {
    width: 245px;
    height: 40px;
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-radius: 6px;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
}
.title-price {
    font-weight: bold;
    font-size: 18px;
}
.container-d-flex .d-flex input[type="text"]{
    border: 1px solid #33333329;
    box-sizing: border-box;
    border-radius: 4px;
    width: 215px;
    height: 30px;
    padding: 0 20px;
    outline: none;
}
.price-payment {
    margin-right: 43px;
    display: flex;
    align-items: center;
}
.d-flex.total-payment {
    margin-top: 20px;
    margin-bottom: 84px;
    background: #fff;
    padding: 23px 19px;
    justify-content: flex-end;
}
.price-payment span {
    font-size: 14px;
    color: #333;
    margin-right: 13px;
}
.price-payment .total-price {
    font-weight: bold;
    font-size: 36px;
    color: #FF0000;
    margin: 0;
}
.btn-payment button {
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-radius: 6px;
    width: 180px;
    height: 40px;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    outline: none;
}
#form-location-customer {
    position: relative;
}
.btn-address.add-new-address {
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    color: #fff;
    right: 280px;
    position: absolute;
    top: -55px;
}
.btn-address {
    width: 160px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
}
.btn-address:focus{
    outline: none;
}
.btn-address.btn-setup-address {
    position: absolute;
    right: 100px;
    top: -55px;
}
.btn-edit-location:focus{
    outline: none;
}
.btn-finish{
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    color: #fff;
    margin-right: 20px;
}
.footer-btn{
    margin-top: 20px;
    padding-left: 45px;
}
.infor-location-customer .check-box {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #ECECEC;
    margin-bottom: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
    position: relative;
}
.selected .check-box {
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%) !important;
}
.select-location{
    padding-left: 0;
}
.check-box:before{
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.location-customer-new .check-box{
    display: none;
}
.select-location .btn-edit-location{
    display: none;
}
#map{
    width: 500px;
    height: 500px;
}
#modalMaps{
    display: none;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider.round {
    border-radius: 34px;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 4px;
    bottom: -1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 1px 3px 5px grey;
}
.slider.round:before {
    border-radius: 50%;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
input:checked + .slider {
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
}
.icon-back-modal {
    background: #ECECEC;
    border-radius: 6px;
    color: #333333 !important;
}
.modal-fixed {
    height: 100vh;
    position: fixed;
    z-index: 10000000;
    background-color: #00000080;
    top: 0;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
#modalAddress{
    display: none;
}
.popup-edit-shipping.show-popup{
    display: block;
    top: 0;
    background: #33333350;
}
.popup-edit-shipping .container-popup {
    width: 600px;
    margin: 30px auto;
    background: #fff;
    border-radius: 16px;
    padding: 30px;
    max-height: 100vh;
    overflow: auto;
}
.container-popup .header-popups {
    margin-bottom: 30px;
}
.title-header{
    color: #005DB6;
    font-weight: bold;
    font-size: 24px;
}
.information-shipping-unit {
    padding-bottom: 8px;
}
.container-shipping {
    width: 60%;
}
.name-shipping-unit {
    padding: 5px 14px;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
}
.name-shipping-unit.rm-border{
    border: none;
}
.name-shipping-unit .selected {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ECECEC;
    margin-right: 18px;
    position: relative;
    cursor: pointer;
}
.name-shipping-unit .checked{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
}
.name-shipping-unit .selected:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.name-shipping-unit .name {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0;
}
.information-shipping-unit .border-box {
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 8px;
    padding-bottom: 0;
    width: 157px;
    height: 40px;
}
.information-shipping-unit .border-box img {
    width: auto;
}
.popup-edit-shipping .btn {
    background: #ECECEC;
    border-radius: 6px;
    width: 157px;
    font-weight: bold;
    height: 40px;
}
.popup-edit-shipping .btn-cancel {
    margin-right: 18px;
    color: #333333 !important;
}
.popup-edit-shipping .btn-confirm-shipping {
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
}
.sub-shipping-unit{
    margin-bottom: 26px;
}
.container-shipping .dropdown-shipping {
    padding-top: 0;
    padding-left: 0;
    height: 0;
    transition: 0.5s;
    overflow: hidden;
}
.container-shipping .dropdown-shipping.fast{
    height: 140px;
    padding-top: 30px;
    padding-left: 40px;
}
.dropdown-shipping .content-dropdown {
    margin-bottom: 20px;
}
.dropdown-shipping .ratio-check-box {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 20px;
    background: #ECECEC;
    margin-top: 3px;

    position: relative;
}
.dropdown-shipping .ratio-check-box.active{
    background: linear-gradient(
    180deg
    , #FF4653 0%, #FF8F27 99.48%);
}
.dropdown-shipping .ratio-check-box:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
}
.sub-content-shipping .title-dropdown {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}
.sub-content-shipping .label {
    font-size: 12px;
    color: #8C8C8C;
}
.popup-edit-shipping {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}

/*Popup Phương thức thanh toán*/
.popup-edit-payment {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}
.popup-edit-payment.show-popup-payment{
    display: block;
    top: 0;
    background: #33333340;
}
.popup-edit-payment .container-popup-payment {
    width: 660px;
    margin: 20px auto;
    background: #fff;
    border-radius: 16px;
    padding: 20px;
    max-height: 100vh;
    overflow: auto;
}
.container-popup-payment .header-popups-payment {
    margin-bottom: 10px;
}
.title-header-payment{
    color: #005DB6;
    font-weight: bold;
    font-size: 24px;
}
.information-payment-unit {
    padding-bottom: 8px;
}
.container-payment {
    width: 100%;
}
.name-payment-unit {
    padding: 8px 14px;
    /* border: 1px solid #ECECEC; */
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
}
.name-payment-unit.rm-border{
    border: none;
}
.name-payment-unit .selected {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ECECEC;
    margin-right: 18px;
    position: relative;
    cursor: pointer;
}
.name-payment-unit .checked{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
}
.name-payment-unit .selected:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.name-payment-unit .name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
}
.information-payment-unit .border-box {
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 8px;
    padding-bottom: 0;
    width: 81px;
    height: 36px;
}
.information-payment-unit .border-box img {
    width: auto;
}
.popup-edit-payment .btn {
    background: #ECECEC;
    border-radius: 6px;
    width: 157px;
    font-weight: bold;
    height: 40px;
    margin-top: 20px;
}
.popup-edit-payment .btn-cancel-payment {
    margin-right: 18px;
    color: #333333 !important;
}
.popup-edit-payment .btn-confirm-payment {
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
}
.payment-visa{
    margin-top: 10px;
}
.payment-visa-logo img{
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px;
}
.payment-visa-name-bank .title{
    margin: 0;
    font-size: 14px;
    padding-left: 25px;
}
.other-card{
    margin-top: 10px;
}
.other-card .header-card{
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 8px;
}
.other-card .header-card .title-other-card{
    font-size: 14px;
    font-weight: bold;
    padding: 0 10px 0 0;
}
.other-card .header-card .plus{
    margin-right: 10px;
    padding: 10px 0 10px 10px;
}



/*POPUP cútomer*/
.popup-info-customer{
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: auto;
    z-index: 10;
    display: none;
    margin: 0;
    background: white;
    border-radius: 16px;
    border: 1px solid #a0e2e4;

}

.popup-info-customer.show-popup{
    display: block;
    top: 15%;
    left: 35%;
}
.text-header{
    color: #005DB6;
    font-weight: bold;
}

.popup-info-customer .btn {
    background: #ECECEC;
    border-radius: 6px;
    width: 157px;
    font-weight: bold;
    height: 40px;
}
.popup-info-customer .btn-cancel-customer-ctv {
    margin-right: 18px;
    color: #333333 !important;
}
.popup-info-customer .btn-confirm-customer-ctv {
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
}
/*Xác nhận thông tin người nhận hàng*/
.popup-info-customer-show{
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: auto;
    z-index: 10;
    display: none;
    margin: 0;
    background: white;
    border-radius: 16px;
    border: 1px solid #a0e2e4;

}

.popup-info-customer-show.show-popup{
    display: block;
    top: 15%;
    left: 35%;
}
.text-header-info-customer-show{
    color: #005DB6;
    font-weight: bold;
}

.popup-info-customer-show .btn {
    background: #ECECEC;
    border-radius: 6px;
    width: 157px;
    font-weight: bold;
    height: 40px;
}
.popup-info-customer-show .btn-cancel-customer-ctv-show {
    margin-right: 18px;
    color: #333333 !important;
}
.popup-info-customer-show .btn-confirm-customer-ctv-show {
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
}
.name-show{
    font-weight: bold;
    color: #333333;
}
.phone-show{
    font-weight: bold;
    color: #333333;
}
.address-show{
    font-weight: bold;
    color: #333333;
}
.popup-credit-card{
    padding: 20px 30px;
    top: 30%;
    width: 30%;
    height: auto;
    z-index: 20;
    display: none;
    margin: 0;
    background: white;
    border-radius: 16px;
    border: 1px solid #a0e2e4;
}
.popup-credit-card.show_popup_credit{
    display: block;
    top: 40%;
}
.create-card{
    cursor: pointer;
}
.popup-credit-card .head-popup .text-blue{
    color: #005DB6;
}
.popup-credit-card .footer-popup-credit-card .btn-back-card{
    background: #ECECEC;
    border-radius: 6px;
    font-weight: bold;
    color: #333333;
    cursor: pointer;
}
.popup-credit-card .footer-popup-credit-card .btn-done{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
}
.popup-credit-card .body-popup .img-unit{
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 8px;
    line-height: 10px;
}
.popup-address-ctv{
    background: #33333330;
    opacity: 0;
    z-index: -100;
}
.popup-address-ctv.active{
    opacity: 1;
    z-index: 100;
}
.btn-popup{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
    padding:  10px 25px;
    border: none;
    margin-right: 15px;
    outline: none;
    cursor: pointer;
}
.cancel-popup{
    background: #ffffff;
    border: 1px solid #d10e0c;
    color: #333333;
}
.btn-popup:focus{
    outline: none !important;
}
.checkbox-address input{
    cursor: pointer;
}
