.flex{
    display: flex;
    align-items: center;
}
.header-search{
    background: #ffffff;
}
.title-nav{
    width: 20%;
    max-width: 178px;
}
.title-nav .search-relate{
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    text-align: center;
    margin: 0;
}
.container-nav{
    padding: 19px 0 22px 0;
}
.container-navigation{
    width: 90%;
}
.container-navigation .navigation {
    padding-left: 28px;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 962px;
}
.content-nav {
    width: 170px !important;
    height: 40px;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    margin-right: 18px;
    display: flex !important;
}
.bg-nav-1{
    background: #87B7FF;
}
.bg-nav-2{
    background: #FFB5A5;
}
.bg-nav-3{
    background: #A69EFF;
}
.bg-nav-4{
    background: #FF9292;
}
.bg-nav-5{
    background: #00CDC1;
}
.navigation .slick-track{
    display: flex;
}
.relative{
    position: relative;
}
.button-arrow {
    position: absolute;
    width: 24px;
    height: 24px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
    transform: translate(0, -50%);
}
.container-navigation .next-arrow {
    z-index: 1;
    left: 16px;
}
.container-navigation .prev-arrow {
    right: 2px;
}
p{
    margin-bottom: 0;
}
.body-seaech {
    margin-top: 20px;
    align-items: inherit;
}
.fillter {
    width: 20%;
    max-width: 178px;
    background: #FFFFFF;
    padding-left: 8px;
    padding-bottom: 43px;
    height: max-content;
}
.title-fillter {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 17px;
}
.icon_fillter {
    margin-right: 12px;
}
.title-text {
    color: #000000;
    font-size: 16px;
    font-weight: 800;
}
.filter-catagory .title {
    font-weight: bold;
    font-size: 14px;
    line-height: 125%;
    margin-bottom: 16px;
}
.filter-catagory .content {
    margin-bottom: 20px;
}
.content input[type="checkbox"] {
    width: 14px;
    height: 14px;
    margin-right: 12px;
}
.filter-catagory .text,.load-more {
    font-size: 14px;
    line-height: 125%;
    color: #000;
    letter-spacing: 0.02em;
}
.load-more{
    padding-left: 26px;
    cursor: pointer;
}
.filter-catagory {
    padding-bottom: 20px;
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 20px;
}
.filter-catagory.form-fillter {
    margin-left: -8px;
}
.form-fillter-price {
    margin-bottom: 20px;
    padding-left: 10px;
}
.form-fillter-price input[type="number"] {
    width: 65px;
    height: 28px;
    border: 1px solid #827C7C;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    font-weight: 600;
    font-size: 10px;
    color: #827C7C;
    padding-left: 6px;
}
.icon-space {
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: #827C7C;
    padding-left: 16px;
    padding-right: 9px;
}
.form-fillter .title {
    padding-left: 10px;
}
.fillter .btn {
    width: 170px;
    margin-left: 4px;
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-radius: 6px;
    color: #fff;
    height: 32px;
    font-weight: 600;
    font-size: 14px;
}
.content object {
    padding-right: 14px;
}
.fillter .clear-all{
    margin-left: -4px;
}
.container-left {
    padding-left: 20px;
    /*padding-top: 18px;*/
    width: 90%;
}
.shop-love {
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgb(147 145 145 / 25%);
    border-radius: 8px;
    padding: 9px 0;
    background: #fff;
}
.div-box {
    position: relative;
}
.box-1 {
    padding-left: 25px;
    padding-right: 28px;
}
.div-box:before {
    position: absolute;
    width: 1px;
    height: 100px;
    background: #ECECEC;
    right: 0;
    content: "";
}
.image-button {
    margin-right: 17px;
    width: 83px;
    position: relative;
}
.iamge-shop {
    display: flex;
    justify-content: center;
}
.iamge-shop img {
    width: 74px;
    height: 74px;
    border-radius: 50%;
}
.shop {
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    color: #fff;
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-radius: 9.93628px;
    width: 83px;
    text-align: center;
    position: absolute;
    bottom: 0;
}
.tite-shop {
    font-size: 16px;
    margin-bottom: 10px;
}
.number-follow {
    font-weight: 600;
    font-size: 9px;
    line-height: 24px;
    margin-right: 10px;
}
.number-follow .number {
    color: #FF0000;
}
.box-2, .box-3, .box-4, .box-5 {
    padding: 0 20px;
}
.box-5:before {
    display: none;
}
.box-2:before {
    top: -22px;
}
.box-3:before {
    top: -22px;
}
.box-4:before {
    top: -22px;
}
.div-box .price-buy {
    font-size: 18px;
    text-align: center;
    margin: 0;
}
.div-box .price-buy span {
    display: block;
    color: #333333;
    font-weight: initial;
}
.price-buy {
    font-weight: bold;
    font-size: 26px;
    line-height: 28px;
    color: #EE0008;
    margin-right: 29px;
}
.sort-container {
    width: 100%;
    background: #fff;
    padding: 14px 14px 11px 19px;
}
.content-sort {
    width: 90%;
}
.title-sort {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    padding-right: 26px;
}
.btn-sort {
    border: 1px solid #ECECEC;
    border-radius: 6px;
    outline: none;
    background: #fff;
    padding: 4px 0;
    width: 100px;
    margin-right: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
}
.content-sort .active{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    color: #ffffff;
}
.content-sort .btn-option{
 width: 128px;
}
.btn-option object {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
}
.next-paginate {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}
.prev-paginate {
    width: 32px;
    height: 32px;
    margin-right: 14px;
}
.content-paginate {
    margin-right: 17px;
    font-size: 16px;
    line-height: 22px;
}
.in-paginate {
    color: #FF0000;
}
.btn-sort object {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container-section-product {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: -10px;
}
.container-section-product .content{
    width: calc(100%/5 - 10px);
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 5%);
    border-radius: 4px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding-bottom: 14px;
    display: flex;
    flex-direction: column;
}
.container-price {
    height: 80%;
}
.product-search .item-content-product{
    padding: 0;
}
.item-content-product {
    background: #ffffff;
    padding: 12px 0;
    margin-top: 2px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    height: 240px;
}
.title-product-n {
    /*margin-bottom: 35px;*/
    margin-top: 12px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #333333;
    padding: 0 12px;
    display: block;
    position: relative;
    height: 20%;
}
.title-product-n span{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.name_product{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.product-price {
    padding: 0 12px;
}
.product-price .price {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #FF0000;
    margin-bottom: 19px;
    overflow: hidden;
    display: flex;
}
.product-price .price .price-sale {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-price .pass {
    font-weight: bold;
    font-size: 10px;
    line-height: 125%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #333333;
    justify-content: space-between;
}
.product-price .pass span {
    font-weight: normal;
    font-size: 10px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #333333;
}
.btn-sign-up {
    display: flex;
    text-align: center;
    padding: 0.75px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin: 11px 0;
    border: 0.75px solid #ffbc32;
}
.btn-sign-up a {
    font-weight: bold;
    font-size: 9px;
    text-decoration: none;
    color: #FF0000;
    letter-spacing: 0.02em;
    padding: 5px 0px;
    border-radius: 4px;
    background: #fff;
}
.review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}
.review img {
    max-width: 50%;
}
.review p {
    font-size: 14px;
    line-height: 125%;
    color: #4F4F4F;
}
.sale-title {
    position: absolute;
    bottom: -27px;
    width: 100%;
    left: 0;
    padding: 0 12px;
}
.sale-title .sale {
    font-weight: bold;
    font-size: 9px;
    line-height: 125%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FF0000;
    width: max-content;
    padding: 5px 8px;
    border: 0.75px solid #FF0000;
    box-sizing: border-box;
    border-radius: 4px;
}
.sub-filter{
    padding: 0 15px;
}
.sub-filter .title{
    position: relative;
    cursor: pointer;
}
.sub-filter .title:before{
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-top: 1.5px solid #333333;
    border-right: 1.5px solid #333333;
}
.sub-filter .title.active:before{
    transform: translate(-50%, -50%) rotate(135deg);
}
.filter-ratings {
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}
.filter-ratings:focus{
    outline: none;
}
.btn-sign-up button {
    font-weight: bold;
    font-size: 9px;
    text-decoration: none;
    color: #FF0000;
    letter-spacing: 0.02em;
    padding: 5px 0px;
    border-radius: 4px;
    background: #fff;
    border: none;
    outline: none;
}
.content .img-product {
    width: 100%;
    padding-top: 100%;
    position: relative;
}
.content .img-product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px 4px 0px 0px;
    position: absolute;
    top: 0;
    left: 0;
}
.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
