/*Doanh thu*/
.head-unit .payment-unit-wait{
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border: 1px solid #FFC303;
    border-radius: 14px;
}
.head-unit .payment-unit-wait .payment-wait{
    color: #333333;
    font-weight: bold;
    font-size: 20px;
}
.head-unit .payment-unit-wait .payment-total{
    color: #8C8C8C;
    font-size: 12px;
}
.head-unit .payment-unit-wait .payment-price{
    color: #D1292F;
    font-weight: bold;
    font-size: 20px;
}
.card-unit{
    margin: 0 30px;
    calc(100%/4 - 10px);
}
.card-unit-mgl-zezo{
    margin: 0 15px;
    calc(100%/4 - 10px);
}
.card-add{
    margin: 0 30px;
}
.bank-account .title{
    color: #333333;
    font-weight: bold;
    font-size: 22px;
}
.card-bg{
    position: relative;
}
.card-text{
    position: absolute;
    top: 0;
}
.card-unit .number-account{
    font-size: 1.3rem;
    margin-top: 20%;
}
.card-unit .name-account{
    font-size: 1.5rem;
    margin-top: 15%;
}
.card-right .card-unit-mgl-zezo .number-account{
    font-size: 1.3rem;
    margin-top: 20%;
}
.card-right .card-unit-mgl-zezo .name-account{
    font-size: 1.5rem;
    margin-top: 15%;
}
.wallet-unit .wallet-unit-ctv{
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border: 1px solid #FFC303;
    border-radius: 14px;
    background: #FFFFFF;
}
.wallet-unit .wallet-unit-ctv .wallet-ctv{
    color: #333333;
    font-weight: bold;
    font-size: 20px;
}
.wallet-unit .wallet-unit-ctv .wallet-total{
    color: #8C8C8C;
    font-size: 12px;
}
.wallet-unit .wallet-unit-ctv .wallet-price{
    color: #D1292F;
    font-weight: bold;
    font-size: 24px;
}
.table-head{
    height: 40px;
}
.table-head .filter{
    align-content: end;
    width: 160px;
    height: 37px;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 8px;
}
.tab-menu a{
    color: #333333;
}
.main{
    width: 100%;
}
.main .main-unit{
    width: 100%;
    line-height: 3rem;
}
.main .main-unit .tab-menu{
    font-weight: bold;
}
.checked{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 12px 12px 0px 0px;
    color: #fff;
    height: 40px;
    padding: 0 20px;
}
.checked a{
    color: #fff;
}
.table .bg-red{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 4px;
    color: #fff;
    padding: .2rem;
    width: 7rem;
    text-align: center;
}
.table .bg-blue{
    background: #005DB6;
    border-radius: 4px;
    color: #fff;
    padding: .2rem;
    width: 7rem;
    text-align: center;
}
.table .bg-orange{
    background: #FB8832;
    border-radius: 4px;
    color: #fff;
    padding: .2rem;
    width: 7rem;
    text-align: center;
}
.table .bg-green{
    background: #4AAF05;
    border-radius: 4px;
    color: #fff;
    padding: .2rem;
    width: 7rem;
    text-align: center;
}
.table .title-dank{
    color: #333333;
    font-weight: bold;
}
/*---------------------*/

/*---------Ví---------*/
.title-payment-near{
    color: #333333;
    font-size: 1.5rem;
    font-weight: bold;
}
.btn_blue{
    font-weight: bold;
}
.btn_main{
    font-weight: bold;
}
.head-unit .payment-unit-wait .bt a{
    color: #fff;
    text-decoration-line: underline;
}
.btn-point{
    margin-top: 2.5rem;
}
.logo-card .title{
    color: #333333;
    font-weight: bold;
    font-size: 20px;
}
.card-right{
 }
.add-card .add-card-tool{
    background: #FFFFFF;
    border: 1px dashed #ECECEC;
    box-sizing: border-box;
    /* Drop shadow */

    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    margin: 0 20px;
    calc(100%/2 - 20px)
}
.add-card p{
    color: #333333;
    font-weight: bold;
}

/*-------Thêm Tài khoản ngân hàng-----------*/
.card-add{
    border: 2px dashed #8C8C8C;
    box-sizing: border-box;
    border-radius: 26px;
    width: 355.9px;
    height: 229px;
}
.title-card{
    font-weight: bold;
    color: #333333;
}
.card-add img{
    margin-top: 5.5rem;
}

/*Switch button*/
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background: #47AA04;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}
/*Switch button*/
.box-setting .setting-unit{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 26px;
}
.box-setting .setting-title{
    color: #333333;
    font-weight: bold;
    font-size: 1.3rem;
}
.box-setting .setting-credit-card{
    line-height: 1.5rem;
    color: #8C8C8C;
    font-size: 12px;
}
.box-content-f{
    margin: 0 10px;
    width: calc(100%/3 - 20px);
}
.setting-unit .btn-update{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    /* shape */

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 47px;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    padding: .7rem
}

.bg-span{
    width: 100px!important;
}

/*------------Them tai khoan ngan hang----------------*/
.popup-add-bank-account{
    position: fixed;
    z-index: 10;
    display: none;
    margin: 0;
}
.popup-add-bank-account.show-popup{
    top: 15%;
    display: block;
    z-index: 20;
}

.popup-add-bank-account .container-popup-add-bank-account{
    margin: 20px auto;
    background: #fff;
    border-radius: 16px;
    padding: 30px;
    border: 1px solid #005DB6;
}
.popup-add-bank-account .btn{
    background: #ECECEC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 47px;
    color: #333333;
    font-weight: bold;
    width: 10rem;
    height: 3rem;
}
.popup-add-bank-account .btn-confirm-bank-account{
    margin-left: 1rem;
}
.popup-add-bank-account .btn:hover{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    color: #ffffff;
}

/*-----------Xac thuc OTP--------------*/
.popup-verification{
    position: fixed;
    top: 0;
    left: 40%;
    width: 500px;
    height: auto;
    z-index: 10;
    display: none;
    margin: 0;
}
.popup-verification.show-popup-verification{
    top: 20%;
    display: block;
    z-index: 20;
}

.popup-verification .container-popup-verification{
    margin: 20px auto;
    background: #fff;
    border-radius: 16px;
    padding: 8%;
    border: 1px solid #005DB6;
}
.popup-verification .btn{
    background: #ECECEC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 47px;
    color: #333333;
    font-weight: bold;
    width: 10rem;
    height: 3rem;
}
.popup-verification .btn-confirm-verification{
    margin-right: 1rem;
}
.popup-verification .btn:hover{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    color: #ffffff;
}

/*--------Thiet lap ma pin-----------*/
.popup-setting-pin-code{
    position: fixed;
    top: 0;
    left: 40%;
    width: 500px;
    height: auto;
    z-index: 10;
    display: none;
    margin: 0;
}
.popup-setting-pin-code.show-popup{
    top: 20%;
    display: block;
    z-index: 20;
}

.popup-setting-pin-code .container-popup-setting-pin-code{
    margin: 20px auto;
    background: #fff;
    border-radius: 16px;
    padding: 8%;
    border: 1px solid #005DB6;
}
.popup-setting-pin-code .btn{
    background: #ECECEC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 47px;
    color: #333333;
    font-weight: bold;
    width: 10rem;
    height: 3rem;
}
.popup-setting-pin-code .btn-confirm-setting-pin-code{
    margin-left: 1rem;
}
.popup-setting-pin-code .btn:hover{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    color: #ffffff;
}
/*.popup-verification .btn-confirm-verification-payment-setting{*/
/*    margin-right: 1rem;*/
/*}*/




.popup-verification-pin-code{
    position: fixed;
    top: 0;
    left: 40%;
    width: 500px;
    height: auto;
    z-index: 10;
    display: none;
    margin: 0;
}
.popup-verification-pin-code.show-popup-verification-pin-code{
    top: 20%;
    display: block;
    z-index: 20;
}

.popup-verification-pin-code .container-popup-verification-pin-code{
    margin: 20px auto;
    background: #fff;
    border-radius: 16px;
    padding: 8%;
    border: 1px solid #005DB6;
}
.popup-verification-pin-code .btn{
    background: #ECECEC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 47px;
    color: #333333;
    font-weight: bold;
    width: 10rem;
    height: 3rem;
}
.popup-verification-pin-code .btn-confirm-verification-pin-code{
    margin-right: 1rem;
}
.popup-verification-pin-code .btn:hover{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    color: #ffffff;
}


/*------------Popup Thông tin tài khoản ngân hàng------------------*/
.popup-info-bank-account{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: auto;
    z-index: 10;
    display: none;
    margin: 0;
    transform: translate(-50%, -50%);
}
.popup-info-bank-account.show-popup{
    top: 20%;
    display: block;
    z-index: 20;
}

.popup-info-bank-account .container-popup-info-bank-account{
    margin: 20px auto;
    background: #fff;
    border-radius: 16px;
    padding: 8%;
    border: 1px solid #005DB6;
}
.popup-info-bank-account .header-popup-info-bank-account{
    border-bottom: 1px solid #ECECEC;;
}
.popup-info-bank-account .btn{
    background: #ECECEC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 47px;
    color: #333333;
    font-weight: bold;
    width: 10rem;
    height: 3rem;
}
.popup-info-bank-account .btn-confirm-info-bank-account{
    margin-right: 1rem;
}
.popup-info-bank-account .btn:hover{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    color: #ffffff;
}
.active .popup-info-bank-account{
    display: block;
}

/*--------Popup rút tiền-----------*/
.popup-withdrawal{
    position: fixed;
    top: 0;
    left: 40%;
    width: 550px;
    height: auto;
    z-index: 10;
    display: none;
    margin: 0;
}
.popup-withdrawal.show-popup-withdrawal{
    top: 20%;
    display: block;
    z-index: 20;
}

.popup-withdrawal .container-popup-withdrawal{
    margin: 20px auto;
    background: #fff;
    border-radius: 16px;
    padding: 8%;
    border: 1px solid #005DB6;
}
.popup-withdrawal .btn{
    background: #ECECEC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 47px;
    color: #333333;
    font-weight: bold;
    width: 10rem;
    height: 3rem;
}
.popup-withdrawal .btn-confirm-withdrawal{
    margin-right: 1rem;
}
.popup-withdrawal .btn:hover{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    color: #ffffff;
}

/*--------Xác thực Mã pin khi rút tiền*/
.popup-verification-withdrawal{
    position: fixed;
    top: 0;
    left: 45%;
    width: 400px;
    height: auto;
    z-index: 10;
    display: none;
    margin: 0;
}
.popup-verification-withdrawal.show-popup-verification-withdrawal{
    top: 20%;
    display: block;
    z-index: 20;
}

.popup-verification-withdrawal .container-popup-verification-withdrawal{
    margin: 20px auto;
    background: #fff;
    border-radius: 16px;
    padding: 8%;
    border: 1px solid #005DB6;
}
.popup-verification-withdrawal .btn{
    background: #ECECEC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 47px;
    color: #333333;
    font-weight: bold;
    width: 10rem;
    height: 3rem;
}
.popup-verification-withdrawal .btn-confirm-verification-withdrawal{
    margin-right: 1rem;
}
.popup-verification-withdrawal .btn:hover{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    color: #ffffff;
}
.forgot-pin-code{
    cursor: pointer;
}
.text-over{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 200px;
}
.text-over:hover{
    overflow: visible;
}
.bg-default-bank-acc{
    font-size: .9rem;
    background: #ECECEC;
    border-radius: 4px;
    color: #333333;
    font-weight: bold;
    padding: .2rem;
}


/*----------------- Giới thiệu---------------------*/
.link-unit{
    padding: 10px;
    border: 3px dashed #005DB6;
    box-sizing: border-box;
    /* Drop shadow */

    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
}
.link-unit-red{
    padding: 10px;
    border: 3px dashed #ff0000;
    box-sizing: border-box;
    /* Drop shadow */

    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
}

