.voucher-logo .item-content img{
    max-width: 114px;
    margin: 0 auto;
}
.voucher-logo .title{
    border: none;
    font-weight: inherit ;
}
.voucher-logo .title .tl-1{
   text-transform: uppercase;
    font-weight: bold ;
}
.voucher-logo .title .tl-2{
    font-weight: inherit ;
    font-size: 11px;
        color: red;
}
.voucher-logo .title .tl-2 span{
    color: #8C8C8C;
}
.voucher-product .title-product-n{
    margin-bottom: 17px;
}
.voucher-product .product-price .price{
    margin-bottom: 10px;
}
