body {
	overflow-x: hidden
}

.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
	position: absolute;
	top: 36%;
	left: 46%;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loadingg {
	width: 100%;
	height: 1000px;
	background-color: #00000080;
	display: none;
	position: absolute;
	z-index: 1000;
}

.sidebar {
	width: 20%;
	background-repeat: no-repeat;
	background-size: 0%;
	max-width: 20vmax;
	/*height: 100%;*/
	min-height: 100%;
	background-color: #021835;
	border-right: 1px solid #707070;
}

.container-index {
	width: 80%;
	/*background-repeat: no-repeat;*/
	background-size: 100%;
	/*height: 100%;*/
	min-height: 100%;
}

.index {
	display: flex;
	width: 100%;
}

a {
	text-decoration: none;
}

.heightBg {
	/*height: 100%;*/
	min-height: 100%;
}
html, body {
	height: 100%;
	margin: 0;

}

#overlay{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.8) none 50% / contain no-repeat;
	cursor: pointer;
	transition: 0.3s;
	z-index: 100000000000000;
	visibility: hidden;
	opacity: 0;
}
#overlay.open {
	visibility: visible;
	opacity: 1;
}

#overlay:after { /* X button icon */
	content: "\2715";
	position: absolute;
	color:#fff;
	top: 10px;
	right:20px;
	font-size: 2em;
}

#overlay1{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.8) none 50% / contain no-repeat;
    cursor: pointer;
    transition: 0.3s;
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
}
#overlay1.open {
    visibility: visible;
    opacity: 1;
}

.btn{
    padding: 8px 13px!important;
}

