#main {
    background: #E5E5E5;
}

.text-name {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    color: #333333;
}

.text-address {
    font-size: 10px;
    line-height: 24px;
    align-items: center;
    width: 100%;
    /* Accent */
    color: #8C8C8C;
}

.shop-detail {
    border-radius: 0.5rem;
    margin-right: 20px;
    width: auto;
}

.shop-shop {
    padding: 13px 23px;
}

.avt-shop {
    border-radius: 50%;
    width: 51px;
}

.btn-follow {
    height: 1.75rem;
    line-height: 1rem;
}

.img_1 {
    width: 100%;
}

.img_23 {
    width: 100%;
}

.card-item {
    box-shadow: 0 .3rem .6rem rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    border: 2px solid #FE6332;
}

/*****************************/
.tab-category {
    width: 25rem;
    border-top: 5rem solid #D1292F;
    /* border-left: 25px solid transparent; */
    border-right: 3rem solid transparent;
    border-image-outset: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    position: relative;
}

.text-menu-tab {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
    top: -3.2rem;
    left: 1rem;
}

.menu-category {
    margin-bottom: 3rem !important;
}


.prev-arrow, .next-arrow {
    position: absolute;
    z-index: 1000000000;
    top: 50%;
    border: none;
    background-color: transparent;
}

.next-arrow {
    right: -13px;
}

.prev-arrow {
    left: -2.5rem;
}

.promo-product {
    border-radius: 6px;
    border: 1px solid red;
    font-weight: bold;
}
.slick-voucher{
    margin-right: -19px;
}




