#footer {
    background-color: #fff;
    position: relative;
}

.col-lg-24 {
    width: 20%;
    float: left;
}

.follow {
    padding-left: 0.8125rem;
    color: #827C7C;
}
.flex{
    display: flex;
    align-items: center;
}
.btn-chat {
    position: fixed;
    bottom: 2%;
    right: 3vw;
    z-index: 1000;
    width: 163px;
    display: flex;
    justify-content: center;
}
.btn-chat object{
    margin-right: 17px;
}
.popup-chat {
    max-width: 600px;
    background: #F9FAFF;
    position: fixed;
    bottom: 70px;
    right: -850px;
    transition: 1s;
    border-radius: 8px;
    border-top-left-radius: initial;
    padding: 20px 1px 20px 0px;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
    z-index: 100;
    border-bottom-left-radius: initial;
}
.popup-chat.active{
    right: 15px;
}
.tab-bar-chat {
    width: 250px;
    background: #fff;
    padding: 8px;
    max-height: 480px;
    overflow-y: auto;
}
.tab-bar-chat::-webkit-scrollbar {
    width: 0px;
}
.tab-bar-chat .tb-1 {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgb(0 0 0 / 10%);
    border-radius: 0px 16px 16px 0px;
    padding-top: 26px;
}
.popup-chat .title-chat {
    font-weight: 800;
    font-size: 24px;
    line-height: 22px;
    color: #333333;
    padding-left: 26px;
    margin-bottom: 30px;
}
.popup-chat .search-customer {
    width: 70%;
    background: #ECECEC;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    margin-left: 19px;
    height: 28px;
}
.popup-chat .search-customer input[type="text"] {
    width: 90%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 10px;
    padding: 8px 0px 8px 16px;
    color: #333333;
}
.popup-chat .icon-search {
    margin-bottom: 0;
    margin-right: 20px;
}
.popup-chat .customer {
    padding: 10px 0px 10px 19px;
    position: relative;
}
.popup-chat .img-customer {
    margin-right: 14px;
}
.popup-chat .img-customer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.popup-chat .tb-2 {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgb(0 0 0 / 10%);
    border-radius: 0px 16px 16px 0px;
    padding-bottom: 30px;
}
.popup-chat .messenger {
    font-size: 10px;
    line-height: 14px;
    color: #8C8C8C;
}
.popup-chat .active:before {
    content: "";
    width: 5px;
    height: 100%;
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    position: absolute;
    top: 0;
    left: 0;
}
.popup-chat .ctn-chat {
    align-items: initial;
    width: 100%;
}
.popup-chat .form-messenger {
    width: 50%;
    max-width: 500px;
    margin-left: 22px;
}
.popup-chat .header-form {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
    border-radius: 16px 16px 0px 0px;
    padding: 8px 0 8px 22px;
    margin-bottom: 10px;
}
.popup-chat .name-customer h2 {
    font-size: 18px;
    line-height: 24px;
}
.popup-chat .ctn-chat-content {
    width: 100%;
    align-items: inherit;
}
.popup-chat .customer-chat {
    padding-left: 29px;
    padding-top: 10px;
}
.popup-chat .ctn-chat-content .img-customer {
    margin-right: 16px;
}
.popup-chat .ctn-chat-content .img-customer img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}
.popup-chat .text-chat {
    width: 100%;
    max-width: 345px;
}
.popup-chat .customer-chat .text-chat label {
    padding-right: 55px;
}
.popup-chat .text-chat label {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 10%);
    border-radius: 0 16px 16px 16px;
    font-size: 14px;
    line-height: 19px;
    color: #8C8C8C;
    padding: 10px;
    margin-bottom: 10px;
    text-align: start;
}
.popup-chat .shop-chat {
    justify-content: flex-end;
    margin-top: 14px;
}
.popup-chat .shop-chat .text-chat {
    text-align: right;
}
.popup-chat .shop-chat .text-chat label {
    border-radius: 16px 0 16px 16px;
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    color: #fff;
    max-width: 311px;
}
.popup-chat .shop-chat .img-customer {
    margin-left: 16px;
    margin-right: 27px;
}

.popup-chat .nav-form {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    width: 100%;
    max-width: 460px;
}
.popup-chat .sub-nav {
    width: 86px;
    padding: 8px 0;
    font-size: 9px;
    text-align: center;
    color: #000000;
}
.sub-nav.bg-nav-1 {
    background: #FFCDCD;
}
.sub-nav.bg-nav-2 {
    background: #B4E5FB;
}
.sub-nav.bg-nav-3 {
    background: #FFD9A0;
}
.sub-nav.bg-nav-4 {
    background: #9791DD;
}
.sub-nav.bg-nav-5 {
    background: #86D17F;
}
.popup-chat .form-send-messenger {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgb(0 0 0 / 10%);
    border-radius: 8px;
    height: 42px;
    padding-left: 20px;
}
.popup-chat .form-send-messenger input[type="text"] {
    border: none;
    outline: none;
    height: 100%;
    width: 50%;
    padding: 0 5px;
}
.popup-chat .icon-form {
    border: none;
    outline: none;
    background: transparent;
}
.icon-form.btn-send {
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-radius: 8px;
    width: 40px;
    padding: 5px;
}
.popup-chat .chat-content {
    height: 340px;
    overflow-y: auto;
    overflow-x: hidden;
}
.popup-chat .chat-content::-webkit-scrollbar {
    width: 0;
}
@media only screen and (max-width: 1515px) {
    .btn-main.btn-chat{
       right: 0 !important;
    }
}
.close-popup-chat {
    position: absolute;
    top: 0;
    height: 100%;
    left: -30px;
    border: none;
    background: #f9faff;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
    z-index: 100;
    cursor: pointer;
}

.popup-ratings .content-image:before{
    display: none;
}
