body{
    overflow-x: hidden;
}
.header-container {
    background-image: url("../../Icon/base/bg_header.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
}

.container-wrapper {
    height: 2.125rem
}
._2QcfeN {
    color: #fff !important;
    text-decoration: none;
    font-size: .8125rem;
    font-weight: 300;
    padding: 0 .4375rem;
}

._1QcfeN {
    color: #fff !important;
    text-decoration: none;
    font-size: .6125rem;
    font-weight: 300;
    padding: 0 .3375rem;
    width: 64px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.img-fluid-logo {
    width: 5rem;
    height: auto;
}
.text-default {
    font-size: .8125rem;
}
.container-wrapper-search {
    height: 5.125rem
}
.form-search {
    width: 200%;
}
.percent-rank {
    width: 6rem;
    background-color: #DCDCDC;
    border-radius: 1px;
    height: 10px;
}
.total-percent {
    background-color: #DF372D;
    border-radius: 1px;
    height: 10px;
}
.img-fluid-avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 3rem;
    object-fit: cover;
}
.icon-rank {
    width: .6rem;
    height: auto;
}
.text-rank {
    color: #C4C4C2;
    font-size: .3125rem;
}
.form-control{
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.form-control .Icon-search {
    display: flex;
    align-items: center;
    width: 24px;
    cursor: pointer;
    margin-bottom: 0;
}
.form-control .Icon-search  object{
    width: 100%;
}
.form-control input{
    width: 100%;
    border: none;
    outline: none;
    padding-left: 12px;
    line-height: 23px;
}
.icon-camera{
    margin: 0;
    display: flex;
}
.select-option {
    display: flex;
    align-items: center;
}
.img-nation {
    margin-right: 14px;
    width: 32px;
    display: flex;
    height: 30px;
    align-items: center;
}
.announcement {
    width: 100%;
}

.icon-img{
    width: 1.875rem!important;
}

.logo-img{
    width: auto!important;
}

.img-header-top{
    width: 100%!important;
}
.popup-piont {
    width: 381px;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 18px;
    padding-bottom: 23px;
    position: absolute;
    top: 27px;
    z-index: 10;
    left: 50%;
    transform: translate(-56%);
    box-shadow: 0px 4px 8px rgb(147 145 145 / 25%);
    display: none;
}
/*.percent-rank:hover ~ .popup-piont{*/
/*    display: block;*/
/*}*/
.popup-piont .title-name {
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    padding: 19px 0 14px 27px;
    position: relative;
}
.popup-piont .title-name:before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    transform: rotate(
        45deg
    ) translate(-50%);
    border-top: 4px solid #ffffff;
    border-right: 4px solid #fff;
    top: 50%;
    right: 27px;
}
.popup-piont .title-name:after {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    transform: rotate(
        45deg
    ) translate(-50%, -50%);
    background: #D1292F;
    top: 3px;
    left: 50%;
    z-index: -1;
}
.popup-piont h2{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.popup-piont .content-rank {
    font-size: 12px;
    line-height: 22px;
    color: #FFFFFF;
    letter-spacing: 1px;
}
.popup-piont .content-piont {
    display: flex;
    align-items: center;
    padding: 27px 20px 0px 20px;
    justify-content: space-between;
}
.button-update-rank{
    margin: 27px 0;
    display: flex;
    justify-content: center;
    align-content: center;
}
.button-update-rank .update-rank {
    border: none;
    width: 157px;
    height: 32px;
    background: #0A6ECA;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
}
.image-ellipsis {
    position: relative;
    border-radius: 50%;
}
.ellipsis {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    text-align: center;
}
.icon_piont {
    text-align: center;
    margin-top: 27px;
}
.number-coins {
    margin-top: 4px;
    font-weight: bold;
    font-size: 14px;
    color: #333333;
    margin-bottom: 5px;
}
.coins {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FF0009;
}
.infor-coins {
    font-weight: bold;
    font-size: 10px;
    line-height: 22px;
    text-align: center;
    color: #333333;
}
.information-rank {
    display: flex;
    padding: 0 10px;
    height: 48px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
    border-radius: 8px;
    border: 1px solid #FFD664;
    margin: 0 20px;
    margin-bottom: 14px;
}
.information-rank .icon_crown {
    width: 20px;
}
.title-rank {
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    color: #333333;
    margin-left: 10px;
}
.content-center {
    width: 100px;
    margin: 0 22px;
}
.percent {
    font-weight: bold;
    font-size: 10px;
    line-height: 24px;
    color: #FF0000;
    text-align: center;
}
.tab-percent {
    width: 100%;
    height: 8px;
    border: 0.2px solid #C6C6C6;
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
    transform: rotate(
        180deg
    );
}
.sub-tab {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    border-radius: 4px;
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
}
.information-rank .update-rank {
    font-weight: bold;
    font-size: 8px;
    color: #FFFFFF;
    background: #0A6ECA;
    border-radius: 4px;
    border: none;
    padding: 5px 10px;
    display: flex;
}
.rank-piont {
    width: 280px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.icon-search,.icon-camera {
    margin-bottom: 0;
    display: flex;
}
.container-form-search{
    width: 40%;
}
.container-wrapper-search{
    justify-content: space-between;
}
.container-form-search .content-form-search{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.content-form-search .form-control{
    border-radius: inherit;
    border: none;
}
.container-form-search .form-search{
    border-right:  1px solid #C9C9C9;
}
.btn-chat{
    height: 50px;
}
.container-fluid{
    height: 60px;
}
.popup-ratings {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000002e;
    z-index: -1;
    opacity: 0;
}
.content-rating {
    max-width: 500px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 16px;
}
.content-rating .content-image {
    width: 100%;
}
.content-rating .content-image img {
    width: 100%;
}
.close-popup {
    position: absolute;
    top: 17px;
    right: 17px;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
.close-popup:focus{
    outline: none;
}
.show-popup-ratings{
    opacity: 1;
    z-index: 12;
}
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background: #FFF;
}
.check-order {
    position: relative;
    cursor: pointer;
}
.popup-check-order {
    position: absolute;
    width: 327px;
    background: #FFFFFF;
    border: 1px solid #BFBFBF;
    border-radius: 4px;
    z-index: -10;
    padding: 0 27px;
    padding-bottom: 23px;
    display: flex;
    right: -100px;
    top: 20px;
    opacity: 0;
}
.arrow-popup {
    height: 100%;
    width: 100%;
    position: relative;
}
.arrow-popup:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    transform: rotate(
        45deg
    );
    top: -5px;
    left: 50%;
}
.title-popup {
    font-weight: bold;
    font-size: 24px;
    line-height: 22px;
    color: #333333;
    margin-top: 40px;
    margin-bottom: 29px;
}
.title-input {
    display: block;
    font-size: 14px;
    line-height: 22px;
    color: #000;
}
.form-check-order input{
    width: 100%;
    height: 32px;
    border: none;
    background: #ECECEC;
    border-radius: 4px;
    outline: none;
    margin-bottom: 10px;
    display: block;
}
.form-check-order .submit {
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-radius: 4px;
    max-width: 121px;
    margin: 0 auto;
    margin-top: 18px;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}
.popup-check-order.active{
    opacity: 1;
    z-index: 10;
}
.relative{
    position: relative;
}
.preventdefault{
    cursor: pointer;
}
.menu-popup.active{
    display: block;
}
.item-menu-popup{
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown .register{
    position: relative;
}
.dropdown .register:before{
    content: url("../../Icon/home/Danh_muc/Polygon_20.png");
    position: absolute;
    right: -15px;
}
@media (min-width: 1200px){
    .container {
        max-width: 1190px;
        padding: 0;
    }
}
.banner-loading img{
    width: 100%;
}
.banner-loading{
    max-width: 500px;
}
.icon_cart {
    position: relative;
}
/*.count-item {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    width: 22px;*/
/*    height: 22px;*/
/*    background: #fff;*/
/*    border-radius: 50%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    font-size: 10px;*/
/*    font-weight: bold;*/
/*    color: red;*/
/*}*/
.count-item {
    position: absolute;
    top: 0;
    right: 0;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    color: red;
}

/*POPUP NCC*/

.header-popup {
    height: 50px;
    align-items: center;
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 24px 24px 0px 0px;
}
.header-popup .title-header {
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    margin: 0;
}
.content-popup {
    padding: 20px;
}
.content-popup label {
    display: block;
    font-weight: 600;
    font-size: 11px;
    color: #8C8C8C;
}
.content-popup input {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #CCD3DC;
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
    font-weight: 600;
    font-size: 14px;
    padding: 6px;
    mix-blend-mode: normal;
    opacity: 0.8;
    color: #333333;
}
.content-popup #code-otp {
    color: #8C8C8C;
}
.bottom-popup {
    padding-bottom: 16px;
    padding-right: 20px;
}
.bottom-popup .btn {
    width: 130px;
    background: #ECECEC;
    border-radius: 6px;
    height: 40px;
    font-weight: bold;
    font-size: 14px;
    outline: none;
}
.bottom-popup .btn-cancel {
    margin-right: 16px;
}
.bottom-popup .btn-confirm-ncc {
    color: #fff;
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%)!important;
}
.content-popup #range{
    padding: 0;
}
.popup-register {
    width: 450px;
    background: #FFFFFF;
    border-radius: 24px;
    position: fixed;
    top: -700px;
    left: 50%;
    transition: 0.2s;
    transform: translate(-50%,-50%);
}
.popup-register.active{
    top: 50%;
}

/*CTV*/
.header-popup-ctv {
    height: 50px;
    align-items: center;
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 24px 24px 0px 0px;
}
.header-popup-ctv .title-header {
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    margin: 0;
}

.content-popup-ctv {
    padding: 20px;
}
.content-popup-ctv label {
    display: block;
    font-weight: 600;
    font-size: 11px;
    color: #8C8C8C;
}
.content-popup-ctv input {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #CCD3DC;
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
    font-weight: 600;
    font-size: 14px;
    padding: 6px;
    mix-blend-mode: normal;
    opacity: 0.8;
    color: #333333;
}
.content-popup-ctv #code-otp {
    color: #8C8C8C;
}
.bottom-popup {
    padding-bottom: 16px;
    padding-right: 20px;
}
.bottom-popup .btn {
    width: 130px;
    background: #ECECEC;
    border-radius: 6px;
    height: 40px;
    font-weight: bold;
    font-size: 14px;
    outline: none;
}
.bottom-popup .btn-cancel {
    margin-right: 16px;
}
.bottom-popup .btn-confirm-ctv {
    color: #fff;
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
}
.content-popup-ctv #range{
    padding: 0;
}
.popup-register-ctv {
    width: 450px;
    background: #FFFFFF;
    border-radius: 24px;
    position: fixed;
    top: -700px;
    left: 50%;
    transition: 0.2s;
    transform: translate(-50%,-50%);
}
.popup-register-ctv.active{
    top: 50%;
}
.container-input-range{
    position: relative;
    margin-bottom: 10px;
}
.container-input-range .sub-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #FF0000;
    font-weight: 600;
    font-size: 14px;
    transform: translate(-50%, -50%);
    z-index: 1;
}
#myRange_ctv,#myRange_ncc {
    -webkit-appearance: none;
    width: 100%;
    height: 40px;
    background: #ff000038;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 0;
    padding:0;
}
#myRange_ctv::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 49px;
    height: 40px;
    cursor: pointer;
    background-image: url("../../Icon/base/arrow.png");
    background-size: 22px;
    background-color: #FF0000;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 20px rgba(255, 0, 0, 0.8);
    border-radius: 8px 0px 0px 8px;
}
#myRange_ncc::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 49px;
    height: 40px;
    cursor: pointer;
    background-image: url("../../Icon/base/arrow.png");
    background-size: 22px;
    background-color: #FF0000;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 20px rgba(255, 0, 0, 0.8);
    border-radius: 8px 0px 0px 8px;
}
.count-chat{
    top: 0;
    right: -10px;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    color: red;
}
