body, html {
    line-height: 1.2;
    font-size: .9rem;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #F7F7F7 !important;
}

#main {
    width: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.text-bold-600 {
    font-weight: 600;
}

.text-bold-400 {
    font-weight: 400;
}

.text-bold-500 {
    font-weight: 500;
}

.text-bold-700 {
    font-weight: 700;
}

.text-bold-300 {
    font-weight: 300;
}

.text-bold-800 {
    font-weight: 800;
}

.text-main {
    color: #FF0000;
}

.font-size-16 {
    font-size: 1.6rem;
}

.btn-main {
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: .4rem;
    color: #fff;
}
.btn-grey{
    background: #8E8E8E;
    border-radius: .4rem;
    color: #333333;
}
.btn-red {
    background: #EE4D2D;
    border-radius: .4rem;
    color: #fff;
}

.btn-default {
    background-color: #ffffff;
    border: 1px solid #ECECEC;
    border-radius: .4rem;
}

.icon-align-center {
    position: absolute;
    left: 3%;
}

.w-100 {
    width: 100%;
}

.font-size-12 {
    font-size: 1.2rem;
}

.number-line-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.number-line-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.text-red {
    color: #FF0909;
}

.font-large-1 {
    font-size: .8rem;
}

.font-large-2 {
    font-size: .6rem;
}

.font-italic {
    font-style: italic;
}

.color-blue {
    color: #2B4898
}

.color-black {
    color: #333333;
}

.position-center {
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
}

.col-row-5 {
    width: calc(100% / 5);
}

.color-white {
    color: #fff;
}

.font-large-n {
    font-size: .3rem;
}

.text-underline {
    text-decoration: line-through;
}

/*zoom img*/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8) none 50% / contain no-repeat;
    cursor: pointer;
    transition: 0.3s;
    z-index: 100000000000000;
    visibility: hidden;
    opacity: 0;
}

#overlay.open {
    visibility: visible;
    opacity: 1;
}

#overlay:after { /* X button icon */
    content: "\2715";
    position: absolute;
    color: #fff;
    top: 10px;
    right: 20px;
    font-size: 2em;
}
