.electronicdevice .pt-5, .py-5{
    padding-top: 0 !important;
}
.slick-voucher{
    display: flex;
}
.electronicdevice .text-address{
    font-weight: bold;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #333333;
}
.electronicdevice .info-shop{
    justify-content: center;
}
.electronicdevice .slick-voucher {
    display: flex;
    align-items: center;
    background: #fff;
    padding-bottom: 32px;
}
.electronicdevice .shop-detail {
    width: 20%;
    margin: 0;
}
.electronicdevice .info {
    flex-direction: column;
    display: flex;
    height: 140px;
    justify-content: space-between;
}
.electronicdevice .infor-image {
    display: flex;
    justify-content: center;
    height: 80%;
    align-items: center;
}
.electronicdevice .tab-category{
    margin-bottom: 0 !important;
}
.content-category{
    background: #fff;
    width: 100%;
}
.slide-arrow:focus{
    outline: none;
    cursor: pointer;
}
.slide-arrow{
    transform: translate(-50%, -50%);
    z-index: 10;
}
.electronicdevice .prev-arrow{
    left: 0;
}
.electronicdevice .next-arrow {
    right: -10px;
}
.electronicdevice .arrow-right{
    right: -24px;
}
.slick-item {
    margin-top: 19px;
}
.content-slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: -13px;
}
.item-content {
    margin-right: 16px;
    width: calc(100%/ 6 - 16px);
}
.item-content img {
    border-radius: 8px 8px 0px 0px;
    width: 100%;
}
.title {
    padding: 19px 0;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 0px 0px 8px 8px;
    margin-bottom: 22px;
}
.arrow{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #ffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.electronicdevice .container-left{
    padding-top: 0;
}
.electronicdevice .body-seaech{
    margin-top: 24px;
}
.filter-catagory .title{
    padding: 0;
    border: none;
}
.electronicdevice .filter-catagory .title{
    text-align: left;
}
.filter-catagory .color-red{
    color: #FF0000;
}
.electronicdevice .filter-catagory .content:last-child{
    margin-bottom: 0;
}
.electronicdevice .fillter{
    padding-left: 0;
}
.electronicdevice .filter-catagory,.title-fillter{
    padding-left: 8px;
}
.electronicdevice .filter-catagory .content{
    margin-bottom: 14px;
}
.electronicdevice .fillter .clear-all{
    margin-left: 4px;
}
