h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}
.banner-page img{
    width: 100%;
}
.benefit{
    background-image: url("../../Icon/rechargeCard/bg_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 55px;
    padding-bottom: 156px;
}
.member {
    margin-left: 45px;
}
.box {
    background: #FFFFFF;
    border-radius: 8px;
    width: 213px;
    margin-right: 8px;
}
.header-box {
    padding-top: 48px;
    font-weight: 600;
    margin-bottom: 66px;
    padding-left: 19px;
}
.text {
    font-size: 16px;
    line-height: 24px;
}
.title {
    font-size: 24px;
}
.content {
    padding: 0;
    margin: 0;
    list-style: none;
}
.content li {
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    padding: 12px;
}
.content li:first-child {
    background: #ffc30317 !important;
    margin: 0;
}
.content li:nth-child(2n+1) {
    background: #F2F2F2;
}
.form-benefit{
    display: flex;
}
.basic-checked li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}
.basic-checked li:first-child{
    color: #FFC303;
    font-weight: bold;
    font-size: 14px;
}
.basic .header-box {
    padding-left: 0;
    background: linear-gradient(
        0deg
        , #F80066 6.67%, #670E68 115.88%);
    position: relative;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding-top: 93px;
    margin-bottom: 90px;
}
.silver .header-box{
    background: linear-gradient(80.24deg, #3DFFC8 1.3%, #40F6CF 15.31%, #49DCE1 38.59%, #57B3FF 68.16%);
}
.header-box .absolute {
    position: absolute;
    bottom: -4px;
}
.text-basic {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    font-size: 24px;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 100%;
    text-align: center;
}
.text-basic .icon {
    margin-bottom: 10px;
    padding-top: 25px;
}
.text-basic .text {
    font-size: 24px;
}
.number-point {
    position: absolute;
    font-weight: bold;
    font-size: 18px;
    color: #222222;
    bottom: -55px;
    width: 100%;
    text-align: center;
}
.number-point {
    position: absolute;
    font-weight: bold;
    font-size: 18px;
    color: #222222;
    bottom: -65px;
    width: 100%;
    text-align: center;
}
.basic-checked .btn-piont {
    padding-left: 0;
    padding-right: 0;
}
.btn-change-piont {
    width: 100%;
    height: 50px;
    border: none;
    background: linear-gradient(
        180deg
        , #F6402D 0%, #FE6332 100%);
    border-radius: 10px;
    font-weight: 800;
    font-size: 21px;
    color: #fff;
}
.gold .header-box {
    background: linear-gradient(80.24deg, #FF4F64 1.28%, #FF5868 23.91%, #FF7274 61.42%, #FF7777 68.14%);
}
.platinum .header-box {
    background: linear-gradient(80.24deg, #FFDE05 1.26%, #FFD504 26.28%, #FFBB00 67.77%, #FFBB00 68.16%);
}
.action-change-piont {
    display: flex;
    background: #fff;
    padding-top: 24px;
    padding-bottom: 54px;
}
.container-left {
    width: 50%;
    padding-left: 60px;
    padding-top: 6px;
    padding-right: 78px;
}
.tite-box {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 30px;
}
.current-point {
    font-weight: bold;
    font-size: 72px;
    color: #005DB6;
    margin-bottom: 72px;
}
.name-input {
    font-size: 17px;
    color: #333333;
    margin-bottom: 14px;
}
.action-change-piont input[type="text"] {
    width: 100%;
    height: 45px;
    margin-bottom: 21px;
    font-size: 14px;
    color: #8C8C8C;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    outline: none;
    border-radius: 8px;
    padding: 0 21px;
}
.btn-current-point {
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-radius: 8px;
    width: 173px;
    height: 40px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    outline: none;
    cursor: pointer;
}
.btn-current-point:focus{
    outline: none;
}
.btn-change-piont a{
    color: #fff;
}
.box-btn{
    display: flex;
    justify-content: left;
}
.popup-current-piont {
    width: 600px;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 32px;
    padding-bottom: 43px;
}
.header-popup-2 {
    padding: 30px 0;
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-radius: 32px 32px 0px 0px;
}
.header-popup h2 {
    text-align: center;
    color: #fff;
    font-size: 36px;
}
.body-popup {
    margin-top: 46px;
    padding-left: 60px;
    padding-bottom: 26px;
    border-bottom: 6px solid #ECECEC;
}
.title-body-popup {
    font-weight: bold;
    font-size: 24px;
}
.number {
    font-weight: bold;
    font-size: 48px;
    color: #005DB6;
    margin-bottom: 0;
}
.option-popup {
    margin-top: 36px;
    padding-left: 60px;
    padding-right: 45px;
}
.title-option-popup {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}
.option {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.radio {
    width: 18px;
    height: 18px;
    background: #ECECEC;
    border-radius: 50%;
    position: relative;
    margin-bottom: 0;
    cursor: pointer;
}
.option label {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 15px;
    margin-left: 24px;
    width: 90%;
}
.radio:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.btn-exchange-coins {
    width: 170px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}
.radio.active{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
}
.container-popup-current {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000038;
    opacity: 0;
    z-index: -100;
}
.container-popup-current.active{
    opacity: 1;
    z-index: 100;
}
.btn-exchange-coins:focus{
    outline: none;
}
.popup-confirm-current {
    width: 314px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 6px 30px rgb(0 0 0 / 5%);
    border-radius: 20px;
    padding-bottom: 34px;
    position: fixed;
    z-index: 100;
    display: none;
}
.icon-popup {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.text-popup h3 {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
}
.text-popup p {
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    padding: 0 28px;
}
.form-password {
    padding: 0 28px;
    margin-bottom: 24px;
}
.form-password label {
    font-size: 13px;
    line-height: 18px;
}
.form-password .passWord {
    width: 100%;
    height: 40px;
    border: 1px solid #ECE9F1;
    border-radius: 4px;
    outline: none;
    padding: 0 12px;
}
.bottom-popup {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
}
.btn-public,.btn-confirm {
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    color: #fff;
}
.btn-popup {
    width: 130px;
    height: 40px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 14px;
}
.btn-edit {
    background: linear-gradient(
        180deg
        , #b805051c 0%, #de2f2f1c 100%);
    color: #B80505;
}
.popup-public {
    background: #FFFFFF;
    box-shadow: 0px 6px 30px rgb(0 0 0 / 5%);
    border-radius: 20px;
    width: 314px;
    padding-bottom: 33px;
    margin: 0 auto;
    position: fixed;
    z-index: 100;
    display: none;
}
.popup-public.active{
    display: block;
}
.popup-confirm-current.active{
    display: block;
}
.screen-cover{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0B0B0B;
    opacity: 0.2;
    z-index: 99;
    display: none;
}
.screen-cover.active{
    display: block;
}
.container-popup-current .box-btn .btn-edit{
    margin-left: 20px;
    margin-top: 20px;
}
.popup-link-bank {
    width: 550px;
    margin: 0 auto;
    background: #fff;
    border-radius: 16px;
    padding: 46px 35px 32px 35px;
    position: fixed;
    display: none;
    z-index: 1000;
}
.popup-link-bank.active{
    display: block;
}
.popup-link-bank h3 {
    font-size: 24px;
    color: #005DB6;
    margin-bottom: 41px;
}
.popup-link-bank input {
    width: 100%;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 8px;
    height: 44px;
    padding: 0 21px;
    font-size: 14px;
    color: #8C8C8C;
    margin-bottom: 20px;
    outline: none;
}
.popup-link-bank .btn-edit {
    margin-right: 14px;
}
.popup-link-bank .area{
    width: 210px;
    margin-right: 14px;
}
.popup-link-bank .branch-bank{
    width: 252px;
}
.customer .image {
    max-width: 90px;
    margin-right: 31px;
}
.customer .image img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid #000;
}
.name-customer .name{
    font-weight: 800;
    font-size: 36px;
    line-height: 22px;
    color: #333333;
}
.name-customer .point-of-customer{
    font-size: 24px;
    line-height: 22px;
    color: #333333;
}
.customer{
    margin-bottom: 60px;
}
.input-range .range {
    width: 85%;
    height: 10px;
    background: #ECECEC;
    border-radius: 5px;
    margin: 0;
    position: relative;
}
.input-range .range .before {
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-radius: 5px 0px 0px 5px;
    z-index: 10;
    position: absolute;
}
.input-range .range .after {
    content: "";
    position: absolute;
    top: 50%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    box-shadow: 0px 4px 10px rgb(253 78 78 / 15%);
    transform: translate(-50%, -50%);
    z-index: 12;
}
.update-piont {
    font-size: 11px;
    color: #8C8C8C;
    margin-top: 5px;
}
.update-piont span {
    color: #D1292F;
    margin: 0 5px;
    font-weight: bold;
}
