.body-page {
    background: #fff;
}
.banner img {
    width: 100%;
}
.title-ncc {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.image-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-title img {
    max-width: 458px;
}
.top-ncc {
    position: absolute;
    top: 18px;
    font-size: 24px;
    color: #fff;
}
.container-ncc {
    padding-bottom: 20px;
}
.container-ncc .slick-voucher {
    display: flex;
    position: relative;
    justify-content: space-around;
    padding-top: 50px;
}
.shop-detail {
    width: calc(100%/3 - 20px);
    box-shadow: 0px 4px 20px rgb(0 0 0 / 10%);
    border-radius: 8px;
    position: relative;
    padding: 5px;
    transition: all 500ms ease !important;
}
.shop-detail:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
        180deg
        , #FF4653 0%, #FF8F27 100%);
    border-radius: 8px;
    z-index: 1;
}
.text-name {
    font-size: 16px;
}
.text-address {
    font-size: 10px;
    color: #8C8C8C;
}
.btn-follow {
    width: 100px;
    height: 22px;
    padding: 0;
}
.avt-shop{
    max-width: 51px;
    border-radius: 50%;
}
.content-gallery-product img{
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.shop-shop {
    position: relative;
    z-index: 10;
    background: #fff;
    height: 100%;
    border-radius: 8px;
}
.d-flex.info {
    padding: 25px 10px 27px 10px;
}
.slick-voucher .slick-current{
    transform: scale(1.2);
}
.slick-list{
    padding: 100px !important ;
}
.slick-slider .slick-arrow {
    width: 36px !important;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: absolute;
    top: 50%;
    border: none;
    z-index: 10;
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
}
.slick-arrow:focus{
    outline: none;
}
.next-arrow{
    left: -18px;
}
.prev-arrow{
    right: -18px;
}
.suggested-for-you{
    background: #E5E5E5;
}
.body-search.flex {
    align-items: inherit;
}
.suggested-for-you .container-section-product{
    margin-top: 0;
}
.suggested-for-you .body-search{
    padding-top: 20px;
    padding-bottom: 100px;
}
.mg-shop{
    margin: 0 100px;
}
