.img {
    width: 1194px;
    height: 412px;
}
#main {
    background: #E9BA5E;;
}
.icon-menu-category{
    padding-top: 40px;
    background-color: #ECECEC;
}
.category-menu-sencond{
    margin: auto;
}
.p-3{
    padding-left: 25px;
}
.icon-menu-category{
    width: 105px;
    height: 105px;
    border: 1px solid #ECECEC;
    border-radius: 20%;
}
.pt-2{
    font-weight: bold;
    text-align: center;
    font-style: normal;
    line-height: 17.5px;
    /*font-size: 14px;*/
}

.tab-category{
    width: 25rem;
    border-top: 5rem solid #D1292F;
    /* border-left: 25px solid transparent; */
    border-right: 3rem solid transparent;
    border-image-outset: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    position: relative;

}
.text-menu-tab{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
    top: -3.2rem;
    left: 1rem;
}

.show-image{
    padding-top: 24px;
}

.img-list {
    border: 2px solid #FFC303;
    border-radius: 4px;
}

.image-1{
    border: 2px solid #FE6332;
    border-radius: 4px;
}

.list-image{
    position: relative;
    left: 6px;
    padding-left: 6px;
}
.image-2-3{
    padding-bottom: 6px;
    padding-left: 6px;
}

.text-category{
    padding-top: 30px;
    font-style: normal;
    font-weight: bold;
    /*font-size: 18px;*/
    color: #333333;
}

.card{
    width: 184.09px;
    height: auto;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.05));
    border-radius: 8px;
    border: 2px solid #FE6332;
    z-index: 1;

}

.card-img-top{
    border-bottom: 2px solid #FE6332;
}
.card-title{
    font-size: 14px;
    color: #333333;
    font-style: normal;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.text-content{
    padding: 3px 5px;
}
.card-text1{
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 125%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FF0000;
    border: 0.75px solid #FF0000;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 2px 4px;
}
.card-text{
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 125%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FF0000;
    border: 0.75px solid #FF0000;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 2px 4px;
}

.card-price{
    font-weight: bold;
    color: red;
    font-size: 14px;
}

.card-price-ctv{
    font-weight: 600;
    color: black;
    font-size: 14px;
}

.fa{
    color: #FFDE05;
}





