.img-fluid-banner1 {
    width: 100%;
    height: 100%;
}
.img-fluid-banner2 {
    width: 100%;
    height: 7.4rem;
}
.mt-rem {
    margin-top: 0.2rem;
}
.image-banner {
    padding-left: 0;
}
.menu-category {
    background-color: #fff;
    border-radius: 5px;
}
.col-lg-111 {
    width: 100/11%;
    float: left;
}
.icon-menu {
    width: 4rem;
    height: 4rem;
    border: 1px solid #ECECEC;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-category {
    width: 100%;
    background-color: #fff;
}
/*//---------- section danh muc -----------//*/
.section-danhmuc {
    margin-top: 20px;
    background: #fff;
}
.title-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 17px 22px 17px;
}
.content {
    display: flex;
    outline: none;
}
.content h2{
    padding-left: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 41px;
    color: #4F4F4F;
    margin: 0;
}
.logo {
    padding-right: 22px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo:before {
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 100%;
    max-height: 23.5px;
    background: #ececec;
    content: "";
    transform: translate(-50%, -50%);
}
.link a {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    color: #333;
    padding-right: 17px;
    position: relative;
}
.link a:before {
    content: "";
    position: absolute;
    width: 8px;
    border-top: 2px solid #333;
    height: 8px;
    border-right: 2px solid #333;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%) rotate(
        45deg
    );
}
.container-section {
    display: flex;
    width: 100%;
    overflow: hidden;
}
.content-product {
    width: 140px;
    height: 155px;
    border-top: 1px solid #ECECEC;
    padding: 0 18px;
}
.product {
    border-left: 1px solid #ececec;
}
.product:first-child {
    border: none;
}
.img-product {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
}
.img-product img {
    width: 59px;
    height: 59px;
}
.title-product {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 38px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}
.container-section .slick-prev{
    left: -19px;
    z-index: 10;
    top: 48%;
}
.container-section .slick-prev:before{
    color: #FFC303;
    font-size: 36px;
}
.container-section .slick-next:before{
    color: #FFC303;
    font-size: 36px;
}
.container-section .slick-next {
    right: -5px;
    top: 48%;
}
.slick-slide{
    outline: none;
}
/*//------------section-tukhoa----------------//*/
.section-tukhoa{
    background: #ffffff;
    margin-top: 20px;
}
h2{
    text-transform: uppercase;
}
.content .img-product{
    width: 100%;
    padding-top: 100%;
    position: relative;
}
.content .img-product img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px 4px 0px 0px;
    position: absolute;
    top: 0;
    left: 0;
}
.container-section-product{
    display: flex;
    flex-wrap: wrap;
}
.container-section-product .slick-track{
    display: flex !important;
    justify-content: space-between;
}
.container-section-product .content{
    display: block;
    position: relative;
    margin:0 8.5px;
    width: calc(100%/6 - 17px);
    flex-direction: column;
    z-index: 1;
}
.container-section-product .title-product{
    margin-top: 0;
    display: flex;
}
.title-product a {
    border: 1px solid #ECECEC;
    width: 100%;
    padding: 10px 0px;
    border-top: none;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: #333333;
}
.section-tukhoa .slick-prev{
    left: -19px;
    z-index: 10;
}
.section-tukhoa .slick-prev:before{
    color: #FFC303;
    font-size: 36px;
}
.section-tukhoa .slick-next:before{
    color: #FFC303;
    font-size: 36px;
}
.section-tukhoa .slick-next {
    right: -5px;
}
/*//-------------------fash sale-----------------//*/
.section-fiash-sale {
    margin-top: 20px;
    background: #fff;
}
.section-fiash-sale .title-section{
    border-bottom: 1px solid #ECECEC;
    padding: 17px 20px;
}
.image {
    max-width: 155px;
}
.image img {
    width: 100%;
}
.clock{
    display: flex;
    margin-left: 26px;
}
.showtime {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-radius: 5px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #fff;
    margin-right: 6px;
}
.section-fiash-sale .logo{
    padding-right: 20px;
}
.section-fiash-sale .logo:before{
    display: none;
}
.form-search-section {
    display: flex;
    align-items: center;
    width: 292px;
}
.form-search-section form {
    width: 100%;
    height: 100%;
    border: 1px solid #ECECEC;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 10%);
}
.icon-search{
    margin: 0;
    cursor: pointer;
    font-size: 10px;
}
.form-search-section form input[type="text"] {
    border: none;
    width: 100%;
    height: 100%;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    outline: none;
    padding-left: 10px;
}
.section-fiash-sale .content {
    position: relative;
}
.section-fiash-sale .img-product {
    margin-top: 17px;
}
.image-background-sale {
    position: absolute;
    top: 17px;
    right: 1px;
}
.image-sale {
    position: absolute;
    top: 22px;
    right: 19px;
}
.image-sale img {
    display: block;
}
.image-sale img:first-child {
    margin-bottom: 5px;
}
.image-sale img:last-child {
    margin: 0 auto;
    max-width: 25px;
}
.section-fiash-sale .protion {
    padding-bottom: 30px;
}
.price-product {
    text-align: center;
    margin-top: 8px;
}
.old-price {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 125%;
    letter-spacing: 0.02em;
    text-decoration-line: line-through;
    color: #C9C9C9;
}
.last-price {
    letter-spacing: 0.02em;
    color: #FF0009;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    margin-left: 6px;
}
.information-sale {
    width: 100%;
    position: relative;
}
.text {
    position: absolute;
    top: 9px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 125%;
    color: #fff;
    z-index: 14;
    letter-spacing: 0.02em;
}
.icon-fire {
    position: absolute;
    left: -3px;
    top: -13px;
    z-index: 12;
}
.icon-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}
.icon-2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
}
.section-fiash-sale .slick-track {
    padding-bottom: 20px;
}
.section-fiash-sale  .content .img-product{
    height: auto;
}
body .slick-prev{
    left: -19px;
    z-index: 10;
}
body .slick-prev:before{
    color: #FFC303;
    font-size: 36px;
}
body .slick-next:before{
    color: #FFC303;
    font-size: 36px;
}
body .slick-next {
    right: -5px;
}
img{
    width: 100%;
    object-fit: cover;
}
/*//---------------------section dau gia---------------------//*/
.section-dau-gia {
    margin-top: 20px;
    background: #fff;
}
.section-dau-gia h2 {
    padding-right: 20px;
}
.section-dau-gia .img-product {
    margin-top: 17px;
    border-radius: 12px 12px 0px 0px;
}
.section-dau-gia .img-product img {
    border-radius: 12px 12px 0px 0px;
}
.section-dau-gia .image-background-sale {
    right: 0;
}
.section-dau-gia .image-sale {
    right: 6px;
}
.section-dau-gia .container-section-product .content{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    margin-bottom: 20px;
}
.section-dau-gia .information-product {
    margin-top: 8px;
    padding: 0 12px;
}
.section-dau-gia .prodcut-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #333333;
    margin-bottom: 8px;
}
.section-dau-gia .prodcut-title span{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.information {
    display: flex;
    margin-bottom: 17px;
}
.information span {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #333333;
    display: block;
}
.information span:nth-child(2n) {
    color: #FF0404;
}
.section-dau-gia .container-section .content{
    width: calc(100%/5 - 10px) !important;
    margin: 0 5px;
}
.price-information {
    padding-left: 7px;
}
.section-dau-gia .title-section{
    padding: 10px 17px;
    border-bottom: 1px solid #ECECEC;
}
/*//-------------------------section xu houng-----------------//*/
.section{
    margin-top: 20px;
    background: #ffffff;
}
.section-xu-huong .container-info-product .info-product {
    display: flex;
    width: calc(100%/5 - 11px) !important;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    margin: 0 5px;
    height: 89px;
}
.info {
    margin-right: 19px;
}
.titel-product {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000000;
    white-space: nowrap;
    max-width: 125px;
}
.info .text {
    position: initial;
    transform: inherit;
    color: #827C7C;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
}
.image-prodcut {
    max-width: 40px;
}
.container-info-product {
    display: flex;
    justify-content: space-around;
}
.section-xu-huong .slick-track{
    display: flex;
    justify-content: space-between;
}
.container-info-product{
    margin-bottom: 17px;
}
.section-xu-huong{
    padding-bottom: 17px;
}
/*//---------------------------tim kiem hang dau------------------//*/
.number-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 49px;
    height: 49px;
    background: linear-gradient(
        90deg
        , #FFBD33 -0.01%, #FF8000 100%);
    text-align: center;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 75%;
}
.content-gallery-product {
    justify-content: center;
    align-items: center;
    padding-top: 13px;
    flex: 0 0 calc(100% / 3);
}
.image-product {
    display: flex;
    justify-content: center;
}
.image_1 {
    position: relative;
    margin-right: 6px;
    width: 80%;
    max-width: 230px;
}
.image_1 img{
    height: 100%;
}
.image_2 {
    width: 30%;
    max-width: 113px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.image_content_2 {
    position: relative;
    margin-bottom: 6px;
}
.number_2 {
    position: absolute;
    width: 36px;
    height: 36px;
    background: linear-gradient(
        80.24deg
        , #FFDE05 1.26%, #FFD504 26.28%, #FFBB00 67.77%, #FFBB00 68.16%);
    top: 0;
    right: 0;
    border-bottom-left-radius: 75%;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image_content_3 {
    position: relative;
}
.image_content_3 .number_3{
    background: linear-gradient(80.24deg, #FBED8F 1.26%, #FFEE9A 1.27%, #FFEE9A 1.29%, #F9C536 77.34%, #F9C536 104.51%);
}
.title-gallery-section {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
    padding: 20px 18px ;
}
.container-gallery-product-search,.container-gallery-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}
.review img {
    max-width: 50%;
}
.review p {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 125%;
    color: #4F4F4F;
}
p{
    margin: 0;
}
.border-box{
    box-shadow: 0px 5px 10px rgb(0 0 0 / 5%);
    border-radius: 4px;
    padding-bottom: 14px;
}
.section-san-pham-trend .img-product{
    margin-top: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.title-product-n{
    /*margin-bottom: 35px;*/
    margin-top: 12px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #333333;
    padding: 0 12px;
    display: block;
    position: relative;
    height: 20%;
}
.card-title{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.name_product{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.product-price {
    padding: 0 12px;
}
.product-price .price {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #FF0000;
    margin-bottom: 19px;
    overflow: hidden;
    display: flex;
}
.product-price .price .price-sale{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-price .pass {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 125%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #333333;
}
.btn-sign-up{
    display: flex;
    text-align: center;
    padding: 0.75px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin: 11px 0;
    border: 0.75px solid #ffbc32;
}
.btn-sign-up button {
    font-weight: bold;
    font-size: 9px;
    text-decoration: none;
    color: #FF0000;
    letter-spacing: 0.02em;
    padding: 5px 0px;
    border-radius: 4px;
    background: #fff;
    border: none;
    outline: none;
}
.sale-title {
    position: absolute;
    bottom: -27px;
    width: 100%;
    left: 0;
    padding: 0 12px;
}
.sale-title .sale {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 125%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FF0000;
    width: max-content;
    padding: 5px 8px;
    border: 0.75px solid #FF0000;
    box-sizing: border-box;
    border-radius: 4px;
}
.section-san-pham-trend .slick-track{
    padding-bottom: 14px;
}
.banner-section{
    margin-top: 20px;
}
.relative{
    position: relative;
}
.flex-items {
    display: flex;
}
.flex-items .banner-section{
    max-width: 342px;
    padding-right: 20px;
    margin-top: 0;
    width: 30%;
}
.slide-banner {
    width: 100%;
    overflow: hidden;
}
.slide {
    flex: 0 0 100%;
}
.container-section-product .col-4new{
    width: calc(100%/4 - 20px) !important;
    max-width: 190px;
}
.remove-mg{
    margin-top: 0;
}
.w-70{
    width: 70%;
}
.w-100{
    width: 100%;
}
.slide-banner .slick-arrow{
    display: none !important;
}
.section-ctv .slick-list{
    padding-bottom: 14px;
}
.content-title-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
.title-icon{
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    margin-left: 10px;
}
.content-banner-section .flex-items {
    justify-content: space-between;
    padding: 0 8%;
}
.image-bxh {
    width: 50%;
    max-width: 440px;
}
.sp-product-content .image-background-sale {
    top: 0;
    right: 2px;
    max-width: 68px;
}
.text-sale {
    position: absolute;
    top: 3px;
    right: 19px;
    color: #fff;
}
.text-number-sale {
    font-weight: bold;
    font-size: 16px;
}
.text-sale-off {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}
.border-yellow{
    padding: 2px;
}
.border-yellow:before {
    content: "";
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: linear-gradient(
        180deg
        , #FFC303 0%, #FF8B03 100%);
    z-index: -1;
    top: -1px;
    left: -1px;
    border-radius: 4px;
}
.border-yellow .title-product-n {
    margin-top: 0;
}
.border-yellow .btn-sign-up a{
    padding: 5px 14px;
}
.imge-logo{
    width: calc(100% / 6);
    max-width: 130px;
    margin: 0 30px;
}
.slide-logo .slick-track{
    align-items: center;
    display: flex;
}
.tab-section {
    padding: 24px 18px;
}
.title-link {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 5px;
    margin-right: 35px;
}
.title-link:hover:before{
    width: 100%;
}
.title-link:hover{
    color: #2F80ED;
}
.title-link:first-child{
    color: #2F80ED;
}
.title-link:first-child:before{
    width: 100%;
}
.title-link:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    background: #2F80ED;
    transition: 0.5s;
}
.slide-feature{
    justify-content: space-between;
}
.slide-feature .imge-banner{
    width: calc(100%/3 - 20px);
}
.menu-category .Icon-menu{
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 14px;
}
.menu-category .Icon-menu img{
    width:33px;
}
.menu-category .box-catagory {
    width: calc(100%/ 11);
    margin: 12px 0;
    padding: 0 14px;
}
.container-banner .image-bannre2{
    margin-bottom: 19px;
}
.btn-arrow {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background: #fff;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}
.btn-arrow:focus{
    outline: none;
}
.next-arrow.btn-arrow {
    left: 0;
}
.prev-arrow.btn-arrow {
    right: -36px;
}
.btn-arrow-small{
    width: 24px;
    height: 24px;
}
.prev-arrow.btn-arrow-small{
    right: -24px;
}
.section-logo{
    padding-bottom: 30px;
}
.product-recommer{
    padding-bottom: 9px;
}
.slide-section-selling .slick-list{
    padding-bottom: 10px;
}
.image_banner_vertical {
    position: fixed;
    width: 152px;
    z-index: 10;
    opacity: 0;
}
.section-feature .slide-feature .imge-banner{
    margin-right: 20px;
}
.section-feature .slide-feature{
    margin-right: -20px;
}
@media only screen and (max-width: 1515px) {
    .image_banner_vertical{
        display: none;
    }
}
.body-search {
    background: #E5E5E5;
}
.body-search .container-section-product{
    margin-right: -17px;
}
.body-search .container-section-product .content{
    width: calc(100%/5 - 17px);
    background: #fff;
    margin-left: 0;
    margin-right: 17px;
    margin-bottom: 17px;
}
.body-search .img-product {
    margin-top: 0;
}
.title-product-n span{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.fillter {
    width: 20%;
    max-width: 178px;
    background: #FFFFFF;
    padding-left: 8px;
    padding-bottom: 43px;
    height: max-content;
}
.container-left {
    padding-left: 20px;
    width: 90%;
}
.title-fillter {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 17px;
}
.icon_fillter {
    margin-right: 12px;
}
.title-fillter .title-text {
    color: #000000;
    font-size: 16px;
    font-weight: 800;
}
.filter-catagory {
    padding-bottom: 20px;
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 20px;
}
.filter-catagory .title {
    font-weight: bold;
    font-size: 14px;
    line-height: 125%;
    margin-bottom: 16px;
}
.filter-catagory .content {
    margin-bottom: 20px;
}
.filter-catagory .content input[type="checkbox"] {
    width: 14px!important;
    height: 14px!important;
}
.filter-catagory .text{
    /*padding-left: 5px;*/
    padding-left: 5px!important;
}
.filter-catagory .text, .load-more {
    font-size: 14px;
    line-height: 125%;
    color: #000;
    letter-spacing: 0.02em;
    position: inherit;
    transform: initial;
    font-weight: inherit;
    /*text-transform: capitalize;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 1;*/
    /*-webkit-box-orient: vertical;*/
}
.form-fillter-price {
    margin-bottom: 20px;
    padding-left: 10px;
}
.form-fillter-price input[type="number"] {
    width: 65px;
    height: 28px;
    border: 1px solid #827C7C;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    font-weight: 600;
    font-size: 10px;
    color: #827C7C;
    padding-left: 6px;
}
.icon-space {
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: #827C7C;
    padding-left: 16px;
    padding-right: 9px;
}
.filter-catagory.form-fillter {
    margin-left: -8px;
}
.fillter .btn {
    width: 170px;
    margin-left: 4px;
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-radius: 6px;
    color: #fff;
    height: 32px;
    font-weight: 600;
    font-size: 14px;
}
.filter-catagory .content object {
    padding-right: 14px;
}
.fillter .clear-all {
    margin-left: -4px;
}
.body-search {
    background: #f7f7f7;
    align-items: inherit !important;
}
.suggested-for-you .title-section{
    background: #f7f7f7;
}
.suggested-for-you{
    margin-bottom: 60px;
}
.slide-logo .image-logo{
    margin: 0 40px;
}
.item-content-product{
    background: #ffffff;
    padding: 12px 0;
    margin-top: 2px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    height: 240px;
}
.sub-filter{
    padding: 0 15px;
}
.sub-filter .title{
    position: relative;
    cursor: pointer;
}
.sub-filter .title:before{
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-top: 1.5px solid #333333;
    border-right: 1.5px solid #333333;
}
.sub-filter .title.active:before{
    transform: translate(-50%, -50%) rotate(135deg);
}
.filter-ratings {
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}
.filter-ratings:focus{
    outline: none;
}

