.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 4px;
    bottom: -1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 1px 3px 5px grey;
}

input:checked + .slider {
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.border-bottom-view {
    border-bottom: 1px solid #ECECEC;
}

.modal-fixed {
    height: 100vh;
    position: fixed;
    z-index: 10000000;
    background-color: #00000080;
    top: 0;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.icon-back-modal {
    background: #ECECEC;
    border-radius: 6px;
    color: #333333;
}

#modalMaps {
    display: none;
}

#modalAddress {
    display: none;
}

@keyframes animatetop {
    from {opacity: 0}
    to {opacity: 1}
}

#map {
    height: 40vh;
}
