.header-unit .btn-unit{
    background: #FFFFFF;
    border-radius: 8px;
    color: #333333;
    font-weight: bold;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    line-height: 1.8rem;
    width: 15rem;
}
.header-unit .checked{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 8px;
    color: #fff;
}
.second .export{
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: .3rem;
    padding: .65rem;
    margin-right: 1rem;
}
.search .search-icon{
    position: relative;
    right: 15px;
    color: #FF5722;
}
.second .export a{
    color: #333333;
}
.title-product{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 200px;
}
.title-product:hover{
    overflow: visible;
}

