.main-rank {
    background-color: #fff;
}
.active {
    background: #EE4D2D;
    color: #fff;
}
.active a {
    color: #fff;
}
.inactive {
    background: #ECECEC;
    color: #333333;
}
.inactive a {
    color: #333333;
}
.header {
    border-bottom: 1px solid #EE4D2D;
}
.price-old {
    text-decoration-line: line-through;
    color: #827C7C;
}
.price-new {
    color: #FF7A00;
    font-size: 1.5rem;
}
.item-product {
    border-bottom: 1px solid #ECECEC;
}
