.rotate-view {
    transform: rotate(270deg);
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    top: 40%;
    left: -40%;
}
.bg-blue {
    background: #013B9E;
}
.view-content {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}
.header-content {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    padding: 1rem 0 1rem 0;
    width: 25rem;
}
.main-content {
    background: #fff;
    width: 25rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.main-content span {
    word-break: break-all;
}
.bg-green {
    background: #00944E;
}
.img-sale {
    right: 20rem;
}
.text-register {
    font-size: 3rem;
    top: 5rem;
}
.footer-sell {
    background-image: url("/assets/frontend/icon/sell_with_ctv24/register.png");
    background-size: cover;
}
