.main-lovely {
    width: 100%;
}
.header_lovely {
    width: 100%;
    border-bottom: 1px solid #EE4D2D;
}
.header_lovely .active {
    color: #FFFFFF;
    background: #EE4D2D;
    font-weight: bold;
}
.header_lovely .inactive {
    color: #333333;
    background: #ECECEC;
    font-weight: bold;
}
.item-product {
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    background: #FFFFFF;
    border-radius: .6rem;
}
.img-product {
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
}
.name-product {
    color: #333333;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.old-price {
    font-size: .8rem;
    text-decoration-line: line-through;
    color: #827C7C;
}
.new-price {
    font-size: 1rem;
    color: #FF7A00;
    font-weight: bold;
}
.btn-save {
    background: #EE4D2D;
    border-radius: .3rem;
}
.save-shop {
    color: #fff;
    font-weight: bold;
}
.text-note {
    font-size: .3rem;
}
.text-red {
    color: #FF0000;
}

/*Phan trang*/
.paginate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.paginate-review {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
    border-top: 1px solid #ECECEC;
    padding: 18px 0;
}
.paginate-review .paginate {
    margin-right: 32px;
}
.paginate-review .slick-dots li:first-child{
    margin-right: 40px;
    position: relative;
}
.paginate-review .slick-dots li:first-child:after{
    content: ".....";
    font-weight: bold;
    color: #000000;
    margin: 0 7px;
    position: absolute;
    right: -34px;
}

