.body-page {
    background: #EF562C;
    border-top: 1px solid #ECECEC;
}
.banner-image img{
    width: 100%;
}
.guide-refund-coin{
    margin-top: 43px;
}
.title-box {
    justify-content: center;
    align-items: center;
    position: relative;
}
.image-title {
    max-width: 676px;
}
.image-title img {
    width: 100%;
}
.title {
    position: absolute;
    text-transform: capitalize;
    font-size: 48px;
    color: #fff;
    font-weight: 800;
    line-height: 65px;
}
.content-box {
    margin-top: 25px;
}
.content-box .content {
    justify-content: space-between;
}
.guides {
    position: relative;
}
.guides img {
    max-width: 240px;
}
.guides-content {
    position: absolute;
    z-index: 10;
    top: 40px;
    width: 100%;
}
.icon-guide {
    display: flex;
    justify-content: center;
}
.guides .icon-guide img {
    max-width: 55px;
}
.text-guide {
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: 20px;
    padding: 0 44px;
    text-transform: capitalize;
}
.flash-refund{
    background: #fff;
    border-radius: 8px;
}
.container-section-product {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.container-section-product .content {
    display: block;
    position: relative;
    margin: 0 8.5px;
    width: calc(100%/6 - 17px);
}
.border-box {
    box-shadow: 0px 5px 10px rgb(0 0 0 / 5%);
    border-radius: 4px;
    padding-bottom: 14px;
}
.preventdefault {
    cursor: pointer;
}
.content .img-product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px 4px 0px 0px;
}
.img-product {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-product-n {
    margin-bottom: 35px;
    margin-top: 12px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #333333;
    padding: 0 12px;
    display: block;
    position: relative;
}
.title-product-n span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.product-price {
    padding: 0 12px;
}
.product-price .price {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #FF0000;
    margin-bottom: 19px;
}
.product-price .pass {
    font-weight: bold;
    font-size: 10px;
    line-height: 125%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #333333;
}
.relative {
    position: relative;
}
.btn-sign-up {
    display: flex;
    text-align: center;
    padding: 0.75px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin: 11px 0;
    border: 0.75px solid #ffbc32;
}
.btn-sign-up a {
    font-weight: bold;
    font-size: 9px;
    text-decoration: none;
    color: #FF0000;
    letter-spacing: 0.02em;
    padding: 5px 0px;
    border-radius: 4px;
    background: #fff;
}
.review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}
.review img {
    max-width: 50%;
}
.review p {
    font-size: 14px;
    line-height: 125%;
    color: #4F4F4F;
    margin-bottom: 0;
}
.sale-title {
    position: absolute;
    bottom: -27px;
    width: 100%;
    left: 0;
    padding: 0 12px;
}
.sale-title .sale {
    font-weight: bold;
    font-size: 9px;
    line-height: 125%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FF0000;
    width: max-content;
    padding: 5px 8px;
    border: 0.75px solid #FF0000;
    box-sizing: border-box;
    border-radius: 4px;
}
.link a {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    padding-right: 17px;
    position: relative;
}
.link a:before {
    content: "";
    position: absolute;
    width: 8px;
    border-top: 2px solid #333;
    height: 8px;
    border-right: 2px solid #333;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%) rotate(
        45deg
    );
}
.flash-refund .header {
    padding: 15px 30px;
    border-bottom: 1px solid #ECECEC;
}
.item-image {
    max-width: 172px;
}
.flash-refund .item-image img{
    width: 100%;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-box{
    border-bottom: 1px solid #ECECEC;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.nav-box li{
    padding: 13px 0;
    border-right: 1px solid #ECECEC;
    font-weight: bold;
    font-size: 18px;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-box li:last-child{
    border: none;
}
.nav-box li:first-child{
    color: #FF0000;
    display: block;
}
.count-down span{
    font-size: 16px;
    color: #333333;
    font-weight: initial;
}
.count-down {
    margin-top: 20px;
}
.btn-count-down {
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-radius: 4px;
    border: none;
    width: 38px;
    height: 29px;
    color: #fff;
    font-size: 16px;
    margin: 0 5px;
}
.flash-refund{
    margin-top: 40px;
}
.slide-item .content{
    margin: 0 6px;
    width: calc(25% - 12px);
    background: #ffffff;
}
.banner-section{
    width: 35%;
    margin-right: 17px;
}
.hot-deal-day .container-section-product{
    width: 65%;
}
.mg-top-40{
    margin-top: 40px;
}
.mg-top-10{
    margin-top: 10px;
}
.shop-detail{
    margin: 0 10px;
    padding: 23px 13px 17px 13px;
    border-radius: 8px;
}
.btn-default{
    height: 28px;
    text-align: center;
    line-height: 16px;
}
.shop-detail .info {
    margin-bottom: 20px;
}
.text-name {
    font-size: 18px;
}
.text-address {
    font-size: 10px;
}
.btn-prev {
    left: 0;
}
.btn-next {
    right: 0;
}
.slick-next:after{
    content: "";
    width: 12px;
    height: 12px;
    border-right: 2px solid #333;
    border-top: 2px solid #333;
    transform: rotate(45deg);
}
.slick-arrow {
    outline: none;
    border:none;
    z-index: 10;
    width: 24px;
    height: 24px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
    position: absolute;
    top: 50%;
    display: block;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.slick-arrow:focus{
    outline: none;
}
.slick-disabled{
    display: none !important;
}
.slick-voucher{
    margin-top: 50px;
}
.exclusively .content{
    background: #ffffff;
    margin-bottom: 20px;
}
.exclusively{
    margin-top: 40px;
}
.position-absolute.title-sale {
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    top: 19px;
    left: 39px;
}
.title-sale span {
    display: block;
    font-size: 70px;
}
.rules {
    position: absolute;
    width: 120px;
    right: 0;
    top: -3%;
    background: #fff;
    text-align: center;
    padding: 10px;
    line-height: 20px;
    font-weight: bold;
    border-radius: 8px;
    box-sizing: border-box;
    z-index: 100;
    display: none;
}
.rules.active{
    display: block;
}
.slick-voucher-refund .slick-list{
    padding-top: 100px;
}
