.banner img{
    width: 100%;
}
.nav-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 18px;
    background: #FFFFFF;
    box-shadow: 0px 2px #ececec;
}
.title-nav {
    font-weight: 800;
    font-size: 24px;
    margin: 0;
}
.nav-catagory {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    width: 70%;
    border-bottom: 1px solid #ECECEC;
}
.nav-catagory .active {
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-radius: 8px 8px 0px 0px;
    color: #fff;
}
.nav-catagory .active a{
    color: #fff;
}
.nav-catagory li {
    padding: 18px 0;
    width: calc(100%/3);
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
.content-cart-phone {
    display: flex;
    background: #fff;
    padding-bottom: 54px;
}
.carts-phone {
    width: 25%;
    border-right: 1px solid #ECECEC;
    padding-top: 70px;
}
.type-cart-phone {
    display: block;
    margin: 0 auto;
    width: 238px;
    height: 89px;
    cursor: pointer;
    margin-bottom: 37px;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 8px;
    background: transparent;
}
.price-cart-phone {
    width: 75%;
    padding-top: 70px;
    padding-left: 32px;
}
.form-sellect {
    display: flex;
    align-items: center;
    width: 100%;
}
.telephone.box-content {
    width: 50%;
    display: flex;
    align-items: center;
}
.box-content label {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    margin-right: 10px;
}
.box-content input {
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 8px;
    height: 40px;
    width: 257px;
}
.denominations {
    margin-top: 45px;
}
.title-denominations {
    font-weight: bold;
    font-size: 24px;
    line-height: 22px;
    margin-bottom: 40px;
}
.price {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 585px;
}
.price-denominations {
    width: calc(100%/3 - 24px);
    margin-right: 24px;
    margin-bottom: 15px;
    background: transparent;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
    padding: 15px 0;
}
.ct-denominations {
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 18px;
}
.ct-price {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    color: #8C8C8C;
}
.form-checkout {
    margin-top: 19px;
    padding: 36px 50px 22px 50px;
    max-width: 586px;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.05));
    border-radius: 24px;
}
.flex-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}
.supplier {
    font-weight: bold;
    font-size: 18px;
}
.logo-supplier {
    max-width: 100px;
}
.logo-supplier img {
    width: 100%;
}
.price-supplier {
    font-weight: bold;
    font-size: 18px;
    color: #FF0000;
}
.btn-checked {
    width: 418px;
    height: 40px;
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 18px;
    margin: 0 auto;
    color: #FFFFFF;
}
.button{
    display: flex;
    align-items: center;
}
.buyCart .denominations{
    margin-top: 0;
}
.quantity-cart {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    margin-top: 32px;
}
.text-quantity {
    font-weight: bold;
    font-size: 14px;
    margin-right: 24px;
    margin-bottom: 0;
}
.quantity {
    display: flex;
    align-items: center;
}
.btn-plus {
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
}
.btn-button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 6px;
}
.number-quantity {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    padding: 0 10px;
}
.btn-button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 6px;
}


.popup-order-information {
    width: 768px;
    background: #fff;
    border-radius: 16px;
    margin: 30px auto;
    padding: 50px 33px 50px 48px;
    position: fixed;
    top: 50%;
    left: -800px;
    transform: translate(-50%, -50%);
    z-index: 100;
    transition: 0.5s;
}
.popup-order-information.show-popup{
    left: 50%;
}
.popup-order-information .title-popup{
    margin-top: 0;
}
.popup-order-information .denominations{
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}
.popup-order-information .btn-buy-card{
    margin: 0 0 0 50px;
    height: 63px;
}
.popup-order-information .select-payment {
    margin-top: 30px;
}
.popup-order-information .payment {
    margin-bottom: 30px;
}
.popup-order-information .btn-confirm-buy-card-phone{
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-radius: 7px;
    width: 175px;
    height: 40px;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.check-box {
    width: 16px;
    background: #8C8C8C;
    height: 16px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
.check-box:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background: #fff;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.payment .text {
    margin-left: 14px;
    margin-bottom: 0;
    font-size: 16px;
}
.payment.checked .check-box{
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
}
.btn-cancel{
    background: #8C8C8C;
    border-radius: 7px;
    width: 175px;
    height: 40px;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-right: 14px;
}
.popup-order-information .content-button{
    display: none;
}

/*Pop up hình thức thanh toán mua thẻ game*/
.popup-order-information-game {
    width: 768px;
    background: #fff;
    border-radius: 16px;
    margin: 30px auto;
    padding: 50px 33px 50px 48px;
    position: fixed;
    top: 50%;
    left: -800px;
    transform: translate(-50%, -50%);
    z-index: 100;
    transition: 0.5s;
}
.popup-order-information-game.show-popup{
    left: 50%;
}
.popup-order-information-game .title-popup{
    margin-top: 0;
}
.popup-order-information-game .denominations{
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}
.popup-order-information-game .btn-buy-card{
    margin: 0 0 0 50px;
    height: 63px;
}
.popup-order-information-game .select-payment {
    margin-top: 30px;
}
.popup-order-information-game .payment-game {
    margin-bottom: 30px;
}
.popup-order-information-game .btn-confirm-buy-card-game{
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-radius: 7px;
    width: 175px;
    height: 40px;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.check-box {
    width: 16px;
    background: #8C8C8C;
    height: 16px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
.check-box:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background: #fff;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.payment-game .text {
    margin-left: 14px;
    margin-bottom: 0;
    font-size: 16px;
}
.payment-game.checked .check-box{
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
}
.btn-cancel{
    background: #8C8C8C;
    border-radius: 7px;
    width: 175px;
    height: 40px;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-right: 14px;
}
.popup-order-information-game .content-button{
    display: none;
}
