.img_bg{
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.number-point{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container-popup-current {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000038;
    opacity: 0;
    z-index: -100;
}
.form-load-point{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000038;
    opacity: 0;
    z-index: -100;
}
.form-load-point.active{
    opacity: 1;
    z-index: 20;
}
.container-popup-current.active {
    opacity: 1;
    z-index: 15;
}
.popup-current-piont {
    width: 600px;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 32px;
    padding-bottom: 43px;
}
.header-popup-2 {
    padding: 20px 0;
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-radius: 32px 32px 0px 0px;
}
.body-popup {
    margin-top: 35px;
    padding-left: 45px;
    padding-bottom: 16px;
    border-bottom: 6px solid #ECECEC;
}
.title-body-popup {
    font-weight: bold;
    font-size: 24px;
}
.number {
    font-weight: bold;
    font-size: 48px;
    color: #005DB6;
    line-height: inherit;
}
.btn-exchange-coins {
    width: 170px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}
.option {
    display: flex;
    margin-bottom: 24px;
    align-items: center;
}
.radio {
    width: 18px;
    height: 18px;
    background: #ECECEC;
    border-radius: 50%;
    position: relative;
    margin-bottom: 0;
    cursor: pointer;
}
.radio.active {
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
}
/*.radio:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    width: 10px;*/
/*    height: 10px;*/
/*    background: #fff;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    border-radius: 50%;*/
/*}*/
.option label {
    margin-bottom: 0;
    width: 90%;
}
.form-confirm-success,.form-confirm-otp,.form-confirm-pass{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -10;
    background: #00000038;
}
.form-confirm-pass.active{
    opacity: 1;
    z-index: 30;
}
.form-confirm-otp.active{
    opacity: 1;
    z-index: 40;
}
.form-confirm-success.active{
    opacity: 1;
    z-index: 50;
}
.input-otp::placeholder{
    font-size: 9px;
    color: #999999;
}
.btn-version.active{
    color: #ffffff;
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
}
.btn-view{
    cursor: pointer;
}
.arrow-number {
    top: 0;
    left: 0;
    width: 20px;
    height: 15px;
    background: #d6d6d6;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    z-index: 20;
}
.before-dv:before{
    content: "";
    position: absolute;
    top: 8px;
    left: 3px;
    width: 14px;
    height: 14px;
    background: #D6D6D6;
    transform: rotate(
        45deg
    );
    z-index: 10;
}
