.featured-program {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 16px 24px rgb(0 0 0 / 6%), 0px 2px 6px rgb(0 0 0 / 4%), 0px 0px 1px rgb(0 0 0 / 4%);
    border-radius: 28px;
    margin-top: 30px;
    padding: 0 20px;
}
.title-featured {
    margin: 0;
    padding: 30px 0;
    color: #333333;
}
.font-size-24{
    font-size: 24px;
}
.color-blue{
    color: #005DB6;
}
.border_bottom{
    border-bottom: 1px solid #EBEFF2;
}
.title_box{
    padding: 17px 0;
    line-height: 33px;
    letter-spacing: 0.01em;
}
.color-323C47{
    color: #323C47;
}
.font-size-15{
    font-size: 15px;
}
.border_box{
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 24px;
}
.font-size-13{
    font-size: 13px;
}
.color-gray{
    color: #4C5862;
}
.color-white{
    color: #ffffff;
}
.see-more{
    border: none;
    outline: none;
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 15.5px;
    padding: 5px 10px;
    cursor: pointer;
    min-width: 120px;
}
.see-more:focus{
    outline: none;
}
.content_featured{
    padding: 0 24px;
    margin-bottom: 20px;
}
.font-size-14{
    font-size: 14px;
}
.header-box .date{
    padding: 25px;
    margin-bottom: 0;
}
.day .sub-day{
    width: calc(100%/7);
}
.sub-day p{
    text-align: center;
    color: #334D6E;
    opacity: 0.5;
}
.content-1{
    margin: 20px;
    padding: 0 15px;
}
.content-1 .day-time{
    min-width: 62px;
    margin-right: 8px ;
}
.content-1 .day-time p{
    text-align: center;
    margin-bottom: 5px;
}
.sale-of-day{
    padding: 10px 0;
}
.sale-of-day p{
    margin-bottom: 5px;
}
.padding-bottom-40{
    padding-bottom: 40px;
}
#marketing{
    padding: 0 20px ;
    padding-bottom: 30px;
}
.mg-top-30{
    margin-top: 30px;
}
.font-size-12{
    font-size: 12px;
}
.content-marketing{
    margin: 0 10px;
    padding-top: 38px;
    padding-left: 5px;
    padding-right: 5px;
    width: calc(20% - 20px);
    min-width: 180px;
    margin-bottom: 40px;
}
.border-radius-16{
    border-radius: 16px !important;
}
.icon-marketing {
    top: -30px;
    left: 0;
}
#marketing h2{
    margin-bottom: 40px;
}
.text-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
#operational-efficiency{
    padding: 0 20px;
    padding-bottom: 40px;
}
.table-efficiency ul{
    padding: 0;
    margin-right: 20px;
    min-width: 250px;
}
.table-efficiency ul li{
    padding: 20px;
    width: 100%;
    position: relative;
}
.table-efficiency ul li.active{
    color: #D1292F;
}
.table-efficiency ul li.active:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
}
.bg-red{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
}
.table-efficiency table{
    width: 70%;
    min-width: 500px;
}
.table-efficiency table tr th,td{
    padding: 19px;
    /*text-align: center;*/
}
.w-40{
    width: 40%;
}
.w-20{
    width: 20%;
}
.border-radius-top{
    border-radius: 16px 16px 0px 0px;
}
.border-top-left{
    border-top-left-radius: 16px;
}
.border-bottom-left{
    border-bottom-left-radius: 16px;
}
.border-top-right{
    border-top-right-radius: 16px;
}
.border-bottom-right{
    border-bottom-right-radius: 16px;
}
.out-line-none{
    outline: none;
}
.out-line-none:focus{
    outline: none;
}
.border-radius-8{
    border-radius: 8px !important;
}
.chat-footer{
    margin: 50px 0;
}
.color-red{
    color: #D1292F !important;
}
.font-size-17{
    font-size: 17px;
}
.color-black{
    color: #333333;
}
.disabled{
    color: #ffffff;
    font-weight: 700;
    background: #F36D72;
    border-radius: 4px;
    outline: none;
    width: 90px;
    height: 25px;
    line-height: 12px;
}
.padding-10{
    padding: 10px 0 ;
}
.content-product{
    top: 1rem;
    left: 1rem;
    width: 100%;
}
.content-product img{
    margin-right: 10px;
}
.options-change {
    top: 100%;
    width: 100%;
    padding: 5px;
    z-index: 100;
    background: #FFFFFF;
    display: none;
}
ul{
    list-style: none;
}
.content-category{
    width: calc(100%/3 - 50px);
    height: 262px;
    overflow-y: auto;
    margin-right: 20px;
}
.form-group ul li{
    padding: 5px;
    padding-left: 0;
    font-weight: 600;
    font-size: 14px;
    color: #333333;
    cursor: pointer;
}
.form-group ul li.before{
    position: relative;
}
.form-group ul li.before:before{
    position: absolute;
    content: " ";
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-top: 1.5px solid #333333;
    border-right: 1.5px solid #333333;
}
.form-group ul li.active{
    color: #D1292F;
}
.form-group ul li.active:before{
    border-color: #D1292F;
}
.btn-next{
    width: 165px;
    height: 40px;
    outline: none;
    border: none;
}
.btn-next:disabled{
    opacity: 0.1;
}
.div-input input{
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    height: 40px;
    border-radius: 8px;
    padding: 0 5px;
    outline: none;
}
.div-input button{
    height: 40px;
    border: none;
    outline: none;
    padding: 0 5px;
}
.btn-image-1,.btn-show-list{
    width: 120px;
    height: 120px;
    border: 1px solid #ECECEC;
    margin: 5px;
    margin-right: 15px;
}
.group-image{
    margin-right: -15px;
}
#video_product {
    width: 80%;
    height: 40px;
    font-size: 14px;
    outline: none;
}
#video_product::placeholder{
    color: red;
    font-size: 9px;
}
.border-radius-6 {
    border-radius: 6px;
}
.border-red{
    border: 1px solid red;
}
.video-product{
    margin-top: 20px;
}
.group-kg{
    border: 1px solid #ECECEC;
}
.input-form{
    border: none;
    outline: none;
    width: 80%;
    height: 40px;
    padding: 0 15px;
    line-height: 26px;
}
label.gram {
    font-size: 11px;
    color: #C7C7C7;
    border-left: 1px solid #C7C7C7;
    height: 40px;
    line-height: 40px;
    padding: 0 8px;
}
.btn-form-edit{
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 8px;
    width: 88px;
    height: 45px;
    margin-right: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
}
.btn-form{
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 8px;
    width: 208px;
    height: 45px;
    margin-right: 20px;
    font-weight: 600;
    font-size: 14px;
}
.btn-form.bg-red{
    color: #ffffff;
}
.form-group .form-control{
    /*width: 70%;*/
}
#cke_sort_desc,#cke_desc{
    width: 70%;
}
.w-70{
    width: 70%;
}
.border-radius-4{
    border-radius: 4px;
}
.bottom-box{
    padding: 10px 22px;
}
.button-confirm{
    width: 124px;
    height: 40px;
}
.btn-calendar{
    padding: 0 15px;
    height: 40px;
    margin: 0 10px;
}
.btn-upload-file{
    padding: 0 15px;
    height: 40px;
}
.data-chart{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.font-size-36{
    font-size: 36px;
}
.box-data {
    padding: 13px 16px;
}
.bg-1{
    background: linear-gradient(103.01deg, #F493A9 13.77%, #8549D9 96.7%);
}
.bg-2{
    background: linear-gradient(103.68deg, #2594CB 13.82%, #26CF9B 82.26%);
}
.bg-3{
    background: linear-gradient(103.43deg, #3580DA -21.21%, #22B0D8 92.48%);
}
.bg-4{
    background: linear-gradient(103.1deg, #F0999F 14.99%, #FA729A 100.75%);
}
.bg-5{
    background: linear-gradient(103.43deg, #FFD448 -21.21%, #DE00A0 92.48%);
}
.bg-6{
    background: linear-gradient(104.32deg, #623CB3 2.82%, #B05DCF 100.31%);
}

.bg-8{
    background: linear-gradient(99.02deg, #FFA02D -9.36%, #E63815 122.32%);
}

.w-60{
    width: 60%;
}
ul.information li{
    padding: 15px;
}
.tr-header th{
    height: 40px;
    padding: 19px;
}
.dt-v-text,.dt-trend-phone,.dt-trend-text{
    position: relative;
}
.dt-trend-text:before{
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}
.dt-trend-text::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 6px;
    height: 10px;
    border-right: 2.5px solid #ffffff;
    border-bottom: 2.5px solid #ffffff;
    transform: translate(-50%, -50%) rotate(45deg);
}
.dt-trend-phone::before{
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #999999;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}
.dt-v-text:after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 6px;
    height: 10px;
    border-right: 2.5px solid #ffffff;
    border-bottom: 2.5px solid #ffffff;
    transform: translate(-50%, -50%) rotate(45deg);
}
.dt-v-text:before{
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 4px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
}
.bf-v,.at-t{
    position: relative;
}
.at-t:before{
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 4px;
    border: 1px solid #999999;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}
.overview{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.overview-1{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.border-0{
    border-radius: 0 !important;
}
.content-overview{
    width: fit-content;
}
.dt-1{
    padding-right: 1px;
    border-right: 1px solid #ECECEC;
}
.mg-top-20{
    margin-top: 20px;
}
.ct-box{
    width: calc(50% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.dv-box{
    margin-right: -20px;
}
.text-ct {
    height: 20%;
}
.top-trend{
    align-items: stretch;
    height: 70px;
}
.top-trend li{
    padding: 10px;
    flex: 1;
}
.top-trend li p{
    text-align: center;
}
.top-trend li.active{
    color: #ffffff;
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
}
.dv-ct{
    width: calc(100%/5 - 20px);
}
.w-10{
    width: 10%;
}
.w-13{
    width: 13%;
}
.w-5{
    width: 5%;
}
.w-30{
    width: 30%;
}
.overview.active{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
}
.overview-1.active{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
}
.overview-1.active a{
    color: #ffffff;
}
.overview.active a{
    color: #ffffff;
}
.overview a{
    color: #333333;
}
.overview-1 a{
    color: #333333;
}
.overview{
    cursor: pointer;
}
.w-18{
    width: 18%;
}
.btn-pagination{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #A2A6B0;
    margin-right: 20px;
    background: #ffffff;
    color: #A2A6B0;
}
.btn-pagination a{
    color: #A2A6B0;
    font-weight: 600;
    font-size: 13px;
}
.btn-pagination.active{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    color: #ffffff;
    border: none;
}
.btn-pagination.active a{
    color: #ffffff;

}
.tb-content .content-link{
    padding: 10px;
}
.tb-content .content-link.active{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
}
.tb-content .content-link.active a{
    color: #ffffff;
}
.tips{
    padding: 10px 20px;
    background: rgba(254, 17, 17, 0.1);
}
.text-decoration{
    text-decoration: underline;
}
.dv-statistical{
    padding: 3px;
}
.statistical{
    background: #ffffff;
    border-radius: 16px;
    position: relative;
    z-index: 10;
    height: 100%;
}
.w-15{
    width: 15%;
}
.dv-t-search{
    max-height: 700px;
}
.dv-scroll::-webkit-scrollbar-thumb{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: inherit;
}
.dv-scroll::-webkit-scrollbar {
    height: 300px;
    width: 15px;
    background: #ECECEC;
    border-radius: 4px;
}
.bf-dv:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 8px;
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
}
.bf-dv.w-8:before{
    width: 80%;
}
.bf-dv.w-6:before{
    width: 60%;
}
.bf-dv.w-5-0:before{
    width: 50%;
}
.bf-dv.w-3:before{
    width: 30%;
}
.bf-dv.w-2-5:before{
    width: 25%;
}
.bf-dv.w-2:before{
    width: 20%;
}
.bf-dv.w-1-8:before{
    width: 18%;
}
.bf-dv.w-8:before{
    width: 80%;
}
.bg-blue{
    background: #005DB6;
}
.pie-chart {
    top: -25px;
    right: -50px;
    width: 200px;
    height: 200px;
    background: #333;
    border-radius: 50%;
}
.pieContainer{
    width: 200px;
    border-radius: 50%;
}
#pieSlice1 {
    position: absolute;
    width: 50%;
    left: 0;
    height: 100%;
    background: #005DB6;
    z-index: 1;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
#pieSlice2 {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    z-index: 1;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
.innerCircle {
    width: 80%;
    height: 80%;
    position: relative;
    z-index: 2;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bf-input:before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 4px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    top: 50%;
    left: 25px;
    transform: translate(-50%, -50%);
}
.w-35{
    width: 35%;
}
.w-90{
    width: 90%;
}
.bf-gray.bf-input:before{
    border: 2px solid #ECECEC;
    box-sizing: border-box;
}
/*.dv-revenue{*/
/*    width: 1920px;*/
/*}*/
.pr-container{
    overflow-x: auto;
    overflow-y: hidden;
}
.pr-container::-webkit-scrollbar{
    height: 10px;
}
.pr-container::-webkit-scrollbar-thumb{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
}
.ct-revenue{
    width: calc(1660px - 8.4rem);
}
.ct-3d {
    width: 267px;
}
.ct-dv-1 {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    -webkit-transform: scaleY(1) perspective(100px) rotateX(
        -3deg
    );
    transform: scaleY(1) perspective(100px) rotateX(
        -3deg
    );
}
.h-3{
    height: calc(100%/3 - 10px);
}
.h-4{
    height: calc(25% - 10px);
}
.bg-ct-1 {
    background: #5577FF;
}
.ct-dv-1:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -17px;
    width: 20px;
    height: 20px;
    z-index: 1;
    transform: translate(-50%, -50%) rotate(
        45deg
    );
}
.ct-dv-1:after{
    content: "";
    position: absolute;
    left: 50%;
    top: -4px;
    width: 20px;
    height: 20px;
    z-index: 1;
    transform: translate(-50%, -50%) rotate(
        45deg
    );
}
.bg-ct-2::after {
    background: #5577FF;
}
.bg-ct-3::after {
    background: #FFBB00;
}
.bg-ct-4::after {
    background: #FFBB00;
}
.bg-ct-4:before{
    background: #FF4653;
}
.bg-ct-2 {
    margin: 0 10px;
    background: #FFBB00;
    width: 247px ;
}
.bg-ct-5:after{
    background: #FF4653;
}
.bg-ct-3 {
    background: #D1292F;
    margin: 0 20px;
    width: 228px ;
}
.bg-ct-5{
    background: #D1292F;
    margin: 0 27px;
    width: 212px;
}
.bg-ct-3::before {
    background: #D1292F;
}
.bg-ct-5::before {
    background: #D1292F;
}
.pr-3d{
    top: 20px;
    z-index: 10;
}
.ts-container {
    height: 100%;
    top: 18px;
    right: 6px;
    z-index: 5;
}
.ts-c {
    display: flex;
    flex-direction: column;
}
.bd-content {
    height: 80%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    border: 1px solid #D1292F;
    border-left: none;
    position: relative;
}
.bd-content:before {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    bottom: -4px;
    border-top: 1px solid #D1292F;
    border-left: 1px solid #D1292F;
    left: -1px;
    transform: rotate(
        -45deg
    );
}
.arrow-3::before {
    bottom: -4px;
    left: 0;
    border-top: 1px solid #D1292F;
    border-left: 1px solid #D1292F;
}
.sub-bda {
    width: 24%;
    height: 90%;
    margin-right: 15px;
    position: relative;
}
.sub-bda:before {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    left: -1px;
    transform: rotate(
        -45deg
    );
}
.arrow-1{
    border: 1px solid #5577FF;
    border-left: none;
}
.arrow-2{
    border: 1px solid #FFBB00;
    border-left: none;
}
.arrow-1:before{
    bottom: -4px;
    border-top: 1px solid #5577ff;
    border-left: 1px solid #5577ff;
}
.arrow-2:before{
    bottom: -5px;
    border-top: 1px solid #FFBB00;
    border-left: 1px solid #FFBB00;
}
.mg-top-40{
    margin-top: 40px;
}
.w-80{
    width: 80%;
}
.bf-none:before{
    display: none;
}
.arrow-3{
    border: 1px solid #D1292F;
    border-left: none;
}
.bg-ct-4{
    background: #FF4653;
    margin: 0 20px;
    width: 228px;
}
.table-responsive{
    overflow: hidden;
}
