.tab-bar-content {
    padding: 0;
    background: #ffffff;
    width: 100%;
}
.tab-bar-content li {
    height: 40px;
    width: 140px;
    background: #FFFFFF;
}
.tab-bar-content li a {
    color: #333333;
    font-size: 14px;
    font-weight: 700;
}
.tab-bar-content li.active{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
}
.tab-bar-content li.active a{
    color: #ffffff;
}
.tab-bar-content li:first-child{
    border-radius: 8px 0px 0px 8px;
}
/*//-----------------biểu đồ-----------------//*/
#myChart{
    width: 100% !important;
}
.input_config select{
    border: none;
    width: 100%;
    font-weight: bold;
}
.input_config select option{
    font-weight: bold;
    padding: 5px;
    border: 1px solid #dddddd;
}
.popup-edit-pass,.popup-confirm-pass,.popup-confirm-pass-2,.popup-change-phone{
    top: 0;
    left: 0;
    background: #0000002b;
    z-index: -10;
    opacity: 0;
}
.popup-confirm-pass.active{
    z-index: 1000;
    opacity: 1;
}
.popup-edit-pass.active{
    z-index: 1000;
    opacity: 1;
}
.popup-confirm-pass-2.active{
    z-index: 1000;
    opacity: 1;
}
.popup-change-phone.active{
    z-index: 1000;
    opacity: 1;
}
.popup-change-phone .btn-send{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 4px 4px 4px 4px;
    color: #ffffff;
    height: 40px;
}

