.main-ig {
    background-color: #c70202;
}

.prev-arrow, .next-arrow {
    position: absolute;
    z-index: 1000000000;
    top: 25%;
    border: none;
    background-color: transparent;
}

.next-arrow {
    right: -2.5rem;
}

.prev-arrow {
    left: -2.5rem;
}

.promo-product {
    border-radius: .6rem;
    border: 1px solid #FF0000;
    font-size: .8rem;
    display: inline;
    font-weight: bold;
    width: 80%;
}

.prev-item, .next-item {
    position: absolute;
    z-index: 1000000000;
    top: 50%;
    border: none;
    background-color: transparent;
}

.next-item {
    right: -2.5rem;
}

.prev-item {
    left: -1.6rem;
}
.prev-item img, .next-item img {
    width: 70%;
}
.item-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}
