.body-page {
    background: #fff;
    margin-bottom: 100px;
    padding-bottom: 50px;
}
.nav-page {
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    font-weight: 700;
}
.come-back {
    padding-left: 24px;
    position: relative;
}
.come-back:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    transform: rotate(
        45deg
    );
    left: 0;
    border-bottom: 1.5px solid #333;
    border-left: 1.5px solid #333;
}
.title-order {
    font-size: 18px;
    padding-right: 24px;
    position: relative;
}
.title-order:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 16px;
    background: #333;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}
.delivered {
    color: #FF0000;
    padding-left: 24px;
    font-size: 14px;
    line-height: 22px;
}
.detail-deliver {
    margin-top: 30px;
}
.steps-order {
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 1px solid #ECECEC;
    margin-bottom: 24px;
}
.box-steps {
    width: calc(100%/3);
}
.icon-steps {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 50%;
    border: 6px solid #2DC258;
}
.icon-steps img{
    max-width: 32px;
}
.text-steps {
    text-align: center;
    margin-top: 28px;
}
.title-steps {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 11px;
    color: #333;
}
.times {
    font-size: 14px;
    font-weight: 600;
    color: #8C8C8C;
}
.information-order {
    margin-right: -16px;
    padding-bottom: 20px;
}
.box-information {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 10%);
    border-radius: 16px;
    width: calc(100%/3 - 16px);
    margin-right: 16px;
    padding: 16px;
}
.title-information {
    font-weight: 800;
    font-size: 18px;
    color: #333333;
    margin-bottom: 24px;
}
.name {
    font-weight: bold;
    font-size: 14px;
    line-height: 300%;
    color: #333333;
}
.address {
    font-size: 14px;
    line-height: 150%;
    color: #5A5959;
}
.transporters {
    font-weight: bold;
    font-size: 14px;
    line-height: 300%;
    color: #333333;
}
.name-transporters {
    font-weight: normal;
}
.status {
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
}
.review-status {
    color: #2DC258;
}
.status .cancel{
    color: #FF0000;
}
.image-icon{
    justify-content: center;
    align-items: center;
    position: relative;
}
.active .image-icon:before {
    content: "";
    position: absolute;
    width: calc(100% - 70px);
    height: 6px;
    background: #2DC258;
    top: 50%;
    left: calc(50% + 35px);
}
.active:last-child .image-icon:before {
    display: none;
}

.item-content .item-shop {
    padding: 22px 24px;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
}
.name-shop {
    align-items: center;
    margin-right: 18px;
}
.name-shop object {
    margin-right: 10px;
}
.name-shop .name {
    line-height: inherit;
    margin: 0;
}
.btn-like {
    width: 80px;
    height: 22px;
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
    background: #EE4D2D;
    border-radius: 4px;
    border: none;
    margin-right: 25px;
}
.btn-seeshop {
    width: 97px;
    height: 30px;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 4px;
    background: #fff;
    font-weight: bold;
    font-size: 14px;
    margin-right: 12px;
}
.btn-chat-shop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 4px;
    width: 97px;
    height: 30px;
    padding: 0 12px;
    background: #fff;
    cursor: pointer;
}
.btn-chat-shop p {
    margin: 0;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
}
.item-product {
    align-items: center;
    padding: 0 24px;
    margin-top: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ECECEC;
}
.image-product {
    width: 20%;
    max-width: 117px;
    margin-right: 47px;
}
.image-product img {
    width: 100%;
    border-radius: 14px;
}
.infor-product {
    width: 80%;
}
.infor-product p {
    margin-bottom: 8px;
}
.title-product {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    max-width: 458px;
}
.quantity, .brank {
    font-size: 14px;
    line-height: 22px;
    color: #959595;
}
.price-product {
    text-align: right;
    width: 10%;
}
.price-product .price {
    text-decoration-line: line-through;
    color: #959595;
    font-size: 14px;
    line-height: 22px;
}
.discount-price {
    color: #FF0000;
    font-weight: bold;
    font-size: 24px;
}
.bottom.d-flex {
    justify-content: flex-end;
    padding: 30px 24px;
}
.total-price {
    width: 60%;
}
.text-right {
    font-weight: bold;
    font-size: 18px;
    color: #FF0000;
    width: 30%;
}
.text-content{
    font-weight: bold;
    font-size: 24px;
    color: #333333;
    width: 70%;
    text-align: right;
}
.all-price .text-right {
    font-size: 28px;
}
.button.d-flex {
    justify-content: flex-end;
    padding: 0 24px;
}
.btn-buy-again {
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-radius: 6px;
    border: none;
    width: 258px;
    height: 40px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}
.cancel-order .active .image-icon:before{
    width: calc(200% - 70px);
}
