p{
    margin: 0;
}
#product-page{
    overflow: hidden;
}
#product,#product-combo,#shop-love,#product-details {
    max-width: 1190px;
    margin: 0 auto;
    background: #fff;
}
.container-product {
    display: flex;
    padding: 33px 16px;
}
.width-50 {
    width: 50%;
}
.product-gallery{
    max-width: 473px;
}
.img-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
}
.img-gallery img {
    width: 473px;
    height: 354px;
    border-radius: 8px;
}
.img-gallery .img{
    display: flex;
    justify-content: center;
}
.img-thumbnail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 0;
    border: none;
    padding: 0;
}
.img-thumbnail .img {
    margin: 0 5px;
    border-radius: 4px;
}
.img-thumbnail img {
    object-fit: cover;
    border-radius: 4px;
}
.footer-gallery .link {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.footer-gallery .icon-social {
    display: flex;
    align-items: center;
    margin-left: -15px;
}
.icon-social .text {
    font-size: 14px;
    line-height: 22px;
    color: #222;
    margin-right: 9px;
}
.icon-social .icon object {
    margin-right: 15px;
}
.footer-gallery .liked {
    display: flex;
    align-items: center;
}
.liked object {
    margin-right: 15px;
}
.footer-gallery .upload {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.footer-gallery .btn-upload {
    width: calc(100% / 3 - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ECECEC;
    border-radius: 6px;
    height: 40px;
    cursor: pointer;
}
.footer-gallery .btn-upload p {
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    margin-left: 9px;
}
.btn-dropship{
    background: #ECECEC;
}
.upload-dropship{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}
.img-thumbnail .img:focus{
    outline: none;
}
.relative {
    position: relative;
}

.slick-current:before{
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    content: "";
    border-radius: 4px;
    border: 3px solid #FFBD33;
}
.slick-prev {
    left: -7px;
    z-index: 100;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 5px #ddd;
}
.slick-next {
    right: -7px;
    z-index: 100;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 5px #ddd;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    outline: none;
    background: #ffffff;
}
.slick-prev:before, .slick-next:before {
    font-size: 0;
    opacity: 1;
    width: 10px;
    height: 10px;
    position: absolute;
    content: "";
    top: 50%;
    border-top: 1px solid #FFC303;
    border-left: 1px solid #FFC303;
}
.slick-prev:before{
    transform: translate(-50%, -50%) rotate(
            -45deg
    );
    left: 54%;
}
.slick-next:before{
    transform: translate(-50%, -50%) rotate(
            135deg
    );
    left: 41%;
}
.information.width-50 {
    padding-left: 30px;
    width: 55%;
}
.title-product {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}
.total-review {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 18px;
}
.star-review.sub-content:first-child {
    padding-left: 0;
}
.star-review.sub-content {
    padding-right: 17px;
    position: relative;
    padding-left: 11px;
    font-size: 16px;
    line-height: 24px;
    color: #8C8C8C;
}
.star-review.sub-content:before {
    content: "";
    height: 100%;
    width: 1px;
    background: #ECECEC;
    position: absolute;
    right: 0;
    top: 0;
}
.number-rivew {
    font-weight: bold;
    color: #333333;
    margin-right: 5px;
}
.price-product {
    margin-top: 15px;
    display: flex;
    align-items: center;
}
.price-old {
    font-size: 18px;
    line-height: 28px;
    color: #8C8C8C;
    text-decoration-line: line-through;
    margin-right: 18px;
}
.price-buy {
    font-weight: bold;
    font-size: 26px;
    line-height: 28px;
    color: #EE0008;
    margin-right: 29px;
}
.note {
    display: flex;
    align-items: center;
    background: rgba(255, 184, 0, 0.1);
    border-radius: 6px;
    height: 40px;
    justify-content: center;
    border: 1px #FFC303 dashed;
    margin-top: 20px;
    margin-bottom: 27px;
}
.div-image {
    margin-right: 10px;
}
.div-text {
    text-align: center;
    font-size: 14px;
    color: #222222;
}
.sign-up-ctv {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}
.sign-up-ctv .sub-title-description {
    margin-right: 17px;
}
.sub-title-description {
    font-size: 14px;
    line-height: 22px;
    color: #8C8C8C;
}
.bt-sign-up {
    font-size: 12px;
    line-height: 125%;
    color: #FF0000;
    letter-spacing: 0.02em;
    background: #fff;
    padding: 7px 13px;
    border: 0.75px solid #FF0000;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    margin-right: 42px;
    cursor: pointer;
    position: relative;
}
.sub-title-description span {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FF0000;
    margin-left: 14px;
}
.deal {
    display: flex;
    align-items: center;
}
.deal .sub-title-description {
    margin-right: 52px;
}
.shipping {
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.shipping .sub-title-description {
    margin-right: 31px;
}
.content-shipping {
    font-size: 14px;
    line-height: 24px;
    color: #333333;
}
.color-swath {
    display: flex;
    align-items: center;
    margin-top: 38px;
}
.color-swath .sub-title-description {
    margin-right: 73px;
}

.bt-color {
    font-size: 12px;
    line-height: 13px;
    color: #333333;
    margin-right: 14px;
    width: 70px;
    height: 24px;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    background: #fff;
    cursor: pointer;
}
.active .bt-color{
    background: linear-gradient(
            180deg
        , #D1292F 0%, #FF5722 155.26%);
    color: #fff;
}
.size {
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.size .sub-title-description {
    margin-right: 73px;
}
.container-size {
    width: 100%;
}
.content-size {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.content-size .size {
    display: inline;
    padding: 8px 26px;
    margin: 0;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #ECECEC;
    font-weight: 600;
    font-size: 12px;
    color: #333333;
    margin-right: 14px;
    cursor: pointer;
}
.size.active{
    color: #ffffff;
    background: linear-gradient(
            180deg
        , #D1292F 0%, #FF5722 155.26%);
}
.inventory {
    font-size: 14px;
    line-height: 22px;
    color: #8C8C8C;
    width: 145px;
    margin-right: 23px;
}
.minus {
    border-radius: 4px;
    background: #ECECEC;
    cursor: pointer;
    position: relative;
    font-size: 0;
    width: 18px;
    height: 18px;
}
.minus:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7px;
    height: 1px;
    background: rgba(0, 0, 0, 0.54);
}
.quantity {
    font-weight: bold;
    font-size: 14px;
    color: #333333;
    margin: 0 5px;
}
.plus {
    position: relative;
    cursor: pointer;
    font-size: 0;
    width: 18px;
    height: 18px;
    background: linear-gradient(
            180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.show-more {
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    color: #333333;
    cursor: pointer;
    padding-left: 130px;
}
.footer-container-product {
    border-top: 1px solid #ECECEC;
    padding-top: 19px;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 26px;
}
.container-atc {
    width: 57%;
    display: flex;
}
.button.checkout {
    width: 140px;
    height: 40px;
    color: #fff;
    border: none;
    outline: none;
    background: linear-gradient(
            180deg
        , #D1292F 0%, #FF5722 155.26%);
}
.button {
    border-radius: 8px;
    background: #fff;
    font-weight: bold;
    font-size: 14px;
    margin-right: 30px;
    height: 40px;
    line-height: 19px;
    justify-content: center;
}
.button.add-to-cart {
    width: 220px;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    justify-content: center;
}
.container-atc object {
    margin-right: 17px;
}
.button.kt-ctv {
     width: 210px;
     border: 1px solid #ECECEC;
 }
button:focus{
    outline: none;
}
.flex{
    display: flex;
    align-items: center;
}
#product-combo{
    margin-top: 20px;
    padding: 19px 26px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 5%);
    margin-bottom: 20px;
}
.title-combo{
    font-size: 18px;
    color: #222222;
    margin-bottom: 14px;
}
.cb-content-product {
    max-width: 120px;
    margin-right: 17px;
}
.cb-title-product {
    font-weight: bold;
    font-size: 14px;
    margin: 10px 0;
    padding-left: 9px;
}
.cb-price {
    padding-left: 9px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.cb-price .price-buy {
    font-size: 12px;
    margin: 0;
}
.cb-price .price-old {
    font-weight: 600;
    font-size: 9px;
    margin-right: 6px;
}
.icon_like {
    display: flex;
    justify-content: flex-end;
    padding-right: 6px;
}
.icon_plus {
    margin-right: 17px;
    margin-top: -65px;
}
.form-add-cart {
    margin-left: 15px;
}
.total-price {
    margin-bottom: 27px;
}
.form-add-cart .total-price:last-child{
    margin-bottom: 19px;
}
.text-total {
    font-weight: bold;
    font-size: 18px;
    color: #222222;
}
.total-price .price-buy {
    font-size: 22px;
}
.add-cart {
    margin-bottom: 14px;
}
.add-cart .button{
    background: linear-gradient(
            180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-radius: 6px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}
.form-add-cart .button {
    width: 217px;
    height: 40px;
    border: none;
    outline: none;
}
.add-wishlist .button {
    border: 2px solid #ECECEC;
    font-weight: 600;
    font-size: 14px;
    color: #333333;
}
#shop-love{
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(147, 145, 145, 0.25);
    border-radius: 8px;
    padding: 9px 0;
}
.box-1 {
    width: 426px;
    padding-left: 30px;
}
.image-button {
    margin-right: 21px;
    width: 83px;
    position: relative;
}
.shop {
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    color: #fff;
    background: linear-gradient(
            180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-radius: 9.93628px;
    width: 83px;
    text-align: center;
    position: absolute;
    bottom: 0;
}
.tite-shop {
    font-size: 16px;
}
.sub {
    font-size: 9px;
    color: #8C8C8C;
    margin: 6px 0;
}
.link-button {
    display: flex;
}
.link-button .button {
    background: #005DB6;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    width: 108px;
    height: 28px;
    padding: 0 7px;
    margin: 0;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.link-button .button:nth-child(2){
    color: #333333;
    border: 1px solid #ECECEC;
    background: #fff;
}
.box-2, .box-3, .box-4, .box-5 {
    padding: 0 30px;
}
.div-box .price-buy {
    font-size: 18px;
    text-align: center;
    margin: 0;
}
.div-box .price-buy span {
    display: block;
    color: #333333;
}
.div-box{
    position: relative;
}
.div-box:before{
    position: absolute;
    width: 1px;
    height: 100px;
    background: #ECECEC;
    right: 0;
    content: "";
}
.box-2:before {
    top: -22px;
}
.box-3:before {
    top: -22px;
}
.box-4:before {
    top: -22px;
}
.box-5:before {
    top: -22px;
}
.link-button .button object{
    margin-right: 5px;
}
#product-details{
    padding: 20px 0 23px 24px;
    margin-bottom: 20px;
}
.title-details{
    font-size: 18px;
    margin-bottom: 26px;
}
.text-details .inventory{
    width: auto;
}
.content-shipping.color-blue {
    color: #2B4898;
}
.text-details {
    padding-right: 67px;
}
.inventory,.content-shipping{
    margin-bottom: 5px;
}
.content-right {
    padding-left: 80px;
}
.box-shadow{
    box-shadow: 0px 4px 8px rgb(147 145 145 / 25%);
    border-radius: 8px;
}
.max-w{
    max-width: 1190px;
    margin: 0 auto;
    background: #fff;
    margin-bottom: 20px;
}
#description-product{
    padding-left: 24px;
    padding-bottom: 40px;
    padding-right: 24px;
}
#description-product .title-details{
    padding: 15px 0;
    border-bottom: 1px solid #ECECEC;
    margin: 0;
}
#description-product ul {
    padding-left: 24px;
    color: #333333;
    font-size: 14px;
    line-height: 24px;
}
#description-product p{
    margin-top: 13px;
    margin-bottom: 5px;
    font-size: 14px;
    word-wrap: break-word;
}
.container-section-product {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 17px;
}
.container-section-product .content {
    display: flex;
    margin: 0 8.5px;
    position: relative;
    //width: calc((100%/4) - 17px);
    width: calc((100%/4) - 17px);
    padding: 2px;
    flex-direction: column;
}
.border-yellow {
    padding: 1px;
}
.border-box {
    box-shadow: 0px 5px 10px rgb(0 0 0 / 5%);
    border-radius: 4px;
}
.content {
    display: flex;
    outline: none;
}
.border-yellow:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            180deg
        , #FFC303 0%, #FF8B03 100%);
    z-index: 1;
    top: 0;
    left: 0;
    border-radius: 4px;
}
.section-san-pham-trend .img-product {
    margin-top: 0;
}
.content .img-product {
    width: 100%;
    position: relative;
    z-index: 2;
    padding-top: 100%;
}
.img-product {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
}
.content .img-product img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    top: 0;
    left: 0;
}
.sp-product-content .image-background-sale {
    top: 2px;
    right: 14px;
    max-width: 68px;
    z-index: 2;
}
.image-background-sale {
    position: absolute;
    top: 17px;
    right: 12px;
}
.text-sale {
    position: absolute;
    top: 3px;
    right: 24px;
    color: #fff;
    z-index: 2;
}
.text-number-sale {
    font-weight: bold;
    font-size: 16px;
}
.text-sale-off {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}
.border-yellow .title-product-n {
    margin-top: 0;
}
.title-product-n {
    margin-bottom: 35px;
    margin-top: 12px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #333333;
    padding: 0 12px;
    display: block;
    position: relative;
    height: 20%;
}
.title-product-n span{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.name_product{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.product-price {
    padding: 0 12px;
}
.product-price .price {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #FF0000;
    margin-bottom: 19px;
    overflow: hidden;
    display: flex;
}
.price-sale {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-price .pass {
    font-weight: bold;
    font-size: 10px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #333333;
}
.btn-sign-up {
    display: flex;
    text-align: center;
    padding: 0.75px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin: 11px 0;
    border: 0.75px solid #ffbc32;
}
.border-yellow .btn-sign-up button {
    padding: 5px 2px;
    color: #FF0000;
    background: transparent;
    border: none;
}
.review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}
.review img {
    max-width: 50%;
}
.review p {
    font-size: 14px;
    line-height: 125%;
    color: #4F4F4F;
}
.slick-list.draggable {
    padding-bottom: 17px;
}
.content .img-product{
    border-bottom: 1px solid #FFBD33;
}
#wacths-product .title-section{
    padding-left: 24px;
    padding-top: 24px;
    padding-right: 24px;
}
.title-product-n .discount {
    position: absolute;
    top: 40px;
    left: 12px;
    font-size: 9px;
    color: #FF0000;
    padding: 0 11px;
    border: 0.75px solid #FF0000;
    box-sizing: border-box;
    border-radius: 4px;
}
.paginate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.border-paginate {
    box-shadow: 0 0 5px 5px rgb(0 0 0 / 5%);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 12px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.append-dots .slick-dots {
    position: inherit;
    display: flex;
}
.append-dots .slick-dots .slick-active {
    background: linear-gradient(
            180deg
        , #D1292F 0%, #FF5722 155.26%);
    color: #ffffff;
}
.append-dots .slick-dots li {
    box-shadow: 0 0 5px 5px rgb(0 0 0 / 5%);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 12px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-left: 0;
}
#review .title-details{
    padding: 7px 24px;
}
.star-total-review {
    padding-left: 24px;
    margin-top: 8px;
}
.content-left-review {
    padding-right: 32px;
}
.star-total-review .total-review {
    font-size: 36px;
    text-align: center;
    justify-content: center;
    margin-top: 0;
}
.img-star {
    margin-bottom: 12px;
    width: 97px;
}
.img-star img {
    width: 100%;
}
.comment {
    width: 100%;
    text-align: center;
    color: #8C8C8C;
    font-size: 14px;
    line-height: 26px;
}
.content-right-review {
    padding-left: 23px;
    border-left: 1px solid #ECECEC;
}
.content-right-review .flex {
    margin-bottom: 10px;
}
.image-star {
    width: 97px;
    margin-right: 32px;
}
.image-star img {
    width: 100%;
}
.tad-review {
    width: 108px;
    height: 7px;
    background: #ECECEC;
    border-radius: 4px;
    margin-right: 16px;
    position: relative;
}
.bg-total-review{
    position: absolute;
    top: 0;
    left: 0;
    height: 7px;
    width: 0;
    background: #005DB6;
    border-radius: 4px;
}
.p-total-review {
    font-weight: bold;
    font-size: 14px;
}
.filter-comment {
    padding: 18px 34px;
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
}
.title-fillter.cb-title-product {
    padding-right: 20px;
}
#review .bg-red {
    background: linear-gradient(
            180deg
        , #D1292F 0%, #FF5722 155.26%);
    color: #fff;
}
#review .bg-red a{
    color: #ffffff;
}
.filter-comment .btn {
    align-content: normal;
    margin-right: 14px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    outline: none;
    font-size: 12px;
    font-weight: 600;
    background: #fff;
    color: #333333;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
}
.btn object {
    margin-top: -2px;
    margin-left: 5px;
}
#review .title-details {
    padding: 7px 24px;
    margin-bottom: 14px;
}
.content-review {
    padding-left: 24px;
    display: flex;
    margin-bottom: 42px;
}
.image-customer {
    margin-right: 10px;
}
.image-customer img {
    width: 65px;
    border-radius: 50%;
}
#review .infor-customer .name-customer {
    margin-top: 0;
    padding: 0;
}
.review-star {
    margin-bottom: 6px;
}
.sub-title-description.classify-review {
    color: #BDBDBD;
    margin-bottom: 6px;
}
.content-shipping.content-comment {
    color: #222222;
    margin-bottom: 27px;
    max-width: 576px;
}
.image-comment img {
    width: 90px;
    margin-right: 10px;
    border-radius: 4px;
    height: 90px;
    object-fit: cover;
}
.paginate-review {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
    border-top: 1px solid #ECECEC;
    padding: 18px 0;
}
.paginate-review .paginate {
    margin-right: 32px;
}
.video-comment{
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 4px;
}
.video-comment object {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
}
.video-comment:before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #0000006b;
    border-radius: 4px;
}
.all-content-review .content-review:last-child{
    margin-bottom: 24px;
}
.coantainer-review .slick-current:before{
    display: none !important;
}
.all-content-review{
    outline: none;
}
.paginate-review .slick-dots li:first-child{
    margin-right: 40px;
    position: relative;
}
.paginate-review .slick-dots li:first-child:after{
    content: ".....";
    font-weight: bold;
    color: #000000;
    margin: 0 7px;
    position: absolute;
    right: -34px;
}
.sp-product .title-section {
    display: flex;
    justify-content: space-between;
}
.sp-product .link a {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    color: #333;
    padding-right: 17px;
    position: relative;
}
.sp-product .link a:before {
    content: "";
    position: absolute;
    width: 8px;
    border-top: 2px solid #333;
    height: 8px;
    border-right: 2px solid #333;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%) rotate(
            45deg
    );
}
.color-red{
    color: #FF0000;
}
.mini-cart {
    max-width: 319px;
    background: #fff;
    padding: 0 12px;
}
.mini-cart  .customer {
    background: #FFFCF2;
    margin-bottom: 24px;
}
.mini-cart .image-customer {
    margin-right: 20px;
}
.mini-cart .image-customer img {
    max-width: 36px;
    border-radius: 50%;
}
.name-customer {
    font-weight: bold;
    font-size: 14px;
    color: #333333;
}
#product {
    position: relative;
    overflow: hidden;
}
.mini-cart {
    max-width: 319px;
    background: #fff;
    padding: 0 12px;
    position: absolute;
    top: 0;
    right: -330px;
    transition: 0.5s;
    overflow: hidden;
    z-index: 1000;
    max-height: 500px;
}
.item.item_1 {
    padding-bottom: 28px;
    border-bottom: 1px solid #ECECEC;
}
.container-item .flex {
    align-items: inherit;
    margin-top: 3px;
}

.price-product.flex {
    justify-content: space-between;
    margin-bottom: 10px;
}
.price-product .text {
    font-size: 12px;
    line-height: 16px;
    color: #222222;
}
.price.color-red {
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
}
.item.item_2 {
    margin-top: 25px;
    margin-bottom: 38px;
}
.total-price.flex {
    justify-content: space-between;
    background: #FFFCF2;
    padding: 11px 0;
    margin-bottom: 41px;
}
.text-total {
    font-weight: bold;
    font-size: 18px;
    color: #222222;
}
.total.color-red {
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
}
.btn-checkout {
    padding-bottom: 23px;
}
.btn-checkout .checkout {
    width: 278px;
    height: 32px;
    background: linear-gradient(
            180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-radius: 6px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.div-quantity.flex {
    margin-top: 4px;
    margin-right: 15px;
}
.show-mini-cart{
    right: 0;
    overflow-y: auto;
    scrollbar-width: none;
}
.show-mini-cart::-webkit-scrollbar{
    width: 0;
}
.show-before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #00000014;
    cursor: pointer;
}
#main{
    position: relative;
}
#product-page .mini-cart-2{
    display: none;
}
@media only screen and (min-width: 1880px){
    #product-page{
        position: relative;
    }
    #product-page .mini-cart-2{
        display: block;
        right: 22px;
    }
}
.checked {
    max-width: 384px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 16px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: none;
}
.checked .image {
    display: flex;
    justify-content: center;
    padding-top: 55px;
    margin-bottom: 36px;
}
.checked .alert{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    padding-bottom: 68px;
    padding-top: 0;
}
.show-checked{
    display: block;
}
//-------------------//
.popup-piont {
    max-width: 381px;
    background: #FFFFFF;
    border-radius: 18px;
}
.popup-piont .title-name {
    background: linear-gradient(
            180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    padding: 19px 0 14px 27px;
    position: relative;
}
.popup-piont .title-name:before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    transform: rotate(
            45deg
    ) translate(-50%);
    border-top: 4px solid #ffffff;
    border-right: 4px solid #fff;
    top: 50%;
    right: 27px;
}
.iamge-shop {
    display: flex;
    justify-content: center;
}
.iamge-shop img {
    width: 74px;
    height: 74px;
    border-radius: 50%;
}
.btn-arrow {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background: #fff;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}
.btn-arrow:focus{
    outline: none;
}
.next-arrow.btn-arrow {
    left: 0;
}
.prev-arrow.btn-arrow {
    right: -24px;
}
.item-content-product{
    background: #ffffff;
    padding: 12px 0;
    margin-top: 2px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    height: 240px;
}
.container-price{
    height: 80%;
}
.pagination ul{
    margin-bottom: 0;
}
.pagination .page-item {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 15px;
    background: #FFFFFF;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.05));
}
.page-item .page-link {
    width: 100%;
    height: 100%;
    border: none !important;
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.page-item.active .page-link{
    border-radius: 50% !important;
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
}
.page-item [rel="prev"]:before{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(
            -45deg
    );
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2.5px solid #333333;
    border-left: 2.5px solid #333333;
}
.page-item [rel="next"]{
    font-size: 0 !important;
}
.page-item [rel="next"]{
    font-size: 0 !important;
}
.page-item [rel="next"]:before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(
            135deg
    );
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2.5px solid #333333;
    border-left: 2.5px solid #333333;
    font-size: 0;
}
.pagination .page-link{
    font-family: Nunito;
    font-weight: bold;
    font-size: 16px;
    color: #333333;
}
.pagination .disabled{
    display: none;
}
.popup-file-image {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 16px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgb(147 145 145 / 25%);
}
.popup-file-image .content-image{
    width: calc(25% - 21px);
    margin: 10px 8.5px;
    position: relative;
    padding: 2px;
}
.content-image:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: linear-gradient(
            90deg
        , #FFBD33 -0.01%, #FF8000 100%);
    height: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.popup-file-image .image {
    padding-top: 100%;
    position: relative;
    z-index: 2;
    background: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.popup-file-image .image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.popup-file-image .download {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 2px;
    background: #fff;
    padding: 5px 0;
}
.popup-file-image .download a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
#file-download{
    padding-top: 10px;
}
.icon-play-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: #00000040;
    border-radius: 4px;
    cursor: pointer;
}
.show-video-review{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8) none 50% / contain no-repeat;
    cursor: pointer;
    transition: 0.3s;
    z-index: 100000000000000;
    visibility: hidden;
    opacity: 0;
}
.show-video-review:after {
    content: "\2715";
    position: absolute;
    color: #fff;
    top: 10px;
    right: 20px;
    font-size: 2em;
}
.video-popup {
    width: 32.25rem;
}
.show-video-review.open{
    visibility: visible;
    opacity: 1;
}
.mini-cart .content-shipping {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.download-all {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(
            180deg
        , #D1292F 0%, #FF5722 155.26%);
}
.hide_img{
    display: none;
}

.hide_img_like{
    display: none;
}

.hide_img_dislike{
    display: none;
}
.popup-add-drop-ship {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    opacity: 0;
    background: #00000026;
}
.popup-add-drop-ship.active{
    z-index: 1000;
    opacity: 1;
}
.input-category{
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 17px 12px;
    color: #8C8C8C;
    font-size: 14px;
}
.btn-ctg{
    border: none;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(50% - 8px);
    border-radius: 8px;
    font-size: 16px;
}
.ct-container .radio {
    width: 18px;
    height: 18px;
    background: #ECECEC;
    border-radius: 50%;
    position: relative;
}
.ct-container .radio:before{
    width: 10px;
    height: 10px;
    content: "";
    position: absolute;
    border-radius: 50%;
    background: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.scroll-width-none::-webkit-scrollbar{
    width: 0;
}
.splide--nav>.splide__track>.splide__list>.splide__slide.is-active{
    border-color: #FFC303 !important;
}
#primary-slider .splide__slide{
    border-radius: 8px;
}
#secondary-slider-list .splide__slide{
    cursor: pointer;
}
.splide__arrow svg{
    fill: #FFC303;
}
.img-thumbnail .splide__arrow{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.img-thumbnail .splide__arrow--next{
    right: -14px;
}
.img-thumbnail .splide__arrow--prev{
    left: -14px;
}
