.border-lr {
    border-left: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
}
.border-100 {
    border-bottom: 1px solid #CDCDCD;
    margin-top: .4rem;
}
.border-pr {
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.05);
    border-radius: .3rem;
    background: linear-gradient(to right, #FFBD33, #FF8000);
    padding: .2rem;
    /*background-color: #fff;*/
}

.color-8C8C8C{
    color: #8C8C8C;
}

.bg-orange-c {
    background: #F99E22;
    border-radius: 100rem;
}
.bg-red-c {
    background: #FF0000;
    border-radius: 100rem;
    height: 100%;
    left: 0;
    z-index: 0;
}
