.paginate-review {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
    border-top: 1px solid #ECECEC;
    padding: 18px 0;
}
.paginate-review .paginate {
    margin-right: 32px;
}
.paginate-review .slick-dots li:first-child:after{
    content: ".....";
    font-weight: bold;
    color: #000000;
    margin: 0 7px;
    position: absolute;
    right: -34px;
}
.paginate-review .slick-dots li:first-child{
    margin-right: 40px;
    position: relative;
}

.pagination ul{
    margin-bottom: 0;
}
.pagination .page-item {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 15px;
    background: #FFFFFF;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.05));
}
.page-item .page-link {
    width: 100%;
    height: 100%;
    border: none !important;
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.page-item.active .page-link{
    border-radius: 50% !important;
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
}
.page-item [rel="prev"]:before{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(
            -45deg
    );
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2.5px solid #333333;
    border-left: 2.5px solid #333333;
}
.page-item [rel="next"]{
    font-size: 0 !important;
}
.page-item [rel="next"]{
    font-size: 0 !important;
}
.page-item [rel="next"]:before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(
            135deg
    );
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2.5px solid #333333;
    border-left: 2.5px solid #333333;
    font-size: 0;
}
.pagination .page-link{
    font-family: Nunito;
    font-weight: bold;
    font-size: 16px;
    color: #333333;
}
.pagination .disabled{
    display: none;
}

