

#notification {
    padding: 1.5rem 1.625rem;
}

.border-bottom {
    border-bottom: 1px solid #F0ECFC;
}

.desc-noti {
    margin-bottom: 4.375rem;
}
.title-noti .pl-4 p{
    max-width: 65%;
    color: #8C8C8C;
    line-height: 1.5rem;
}

.button p{
    color: #8C8C8C;
    text-align: center;
}

.button{
    position: absolute;
    right: 5%;
}
.btn-default:hover{
    color: white;
    background: linear-gradient(
        180deg, #D1292F 0%, #FF5722 155.26%);
}
.img-noti img{
    border-radius: 12px;
    object-fit: cover;
}

/*/*/
.popup-review {
    max-width: 768px;
    background: #fff;
    border-radius: 16px;
    padding: 55px 66px 40px 66px;
}
.container-popup-review{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000002e;
    z-index: -1;
    opacity: 0;
}
.container-popup-review.show-popup{
    z-index: 10;
    opacity: 1;
}
.title {
    text-align: center;
    color: #333333;
    font-size: 24px;
    margin-bottom: 50px;
}
.product-review .image {
    margin-right: 47px;
}
.title-product h4 {
    font-size: 16px;
    line-height: 22px;
    color: #333333;
}
.attr-product {
    color: #959595;
    font-size: 14px;
}
.ratings {
    margin: 20px 0;
}
.btn-star-rating {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0 8px;
    outline: none;
}
.btn-comment {
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 15px;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 17px;
    background: #fff;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}
.note-review {
    margin: 20px 0;
}
.note-review textarea:focus{
    outline: none;
}
.note-review textarea:focus label{
    display: none;
}
.note-review #textarea {
    width: 100%;
    height: 113px;
    position: relative;
}
.form-upload {
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 16px;
    width: 179px;
    height: 113px;
}
.upload-files {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.btn-bottom {
    border: 1px solid #ECECEC;
    border-radius: 6px;
    width: 158px;
    height: 40px;
    background: #fff;
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    outline: none;
    cursor: pointer;
}
.btn-up-review {
    margin-left: 14px;
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    border-radius: 6px;
    color: #fff;
}
.selected{
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
    color: #fff;
}
.btn-star-rating.active svg path{
    fill: #FFC107;
}
#blah{
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
#myFile{
    display: none;
}
#video-tag{
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
#textarea textarea{
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    background-color: #fff;
    resize: none;
    box-sizing: border-box;
    border: 1px solid #ECECEC;
    border-radius: 16px;
    max-width: 473px;
    margin-right: 17px;
}
#textarea label{
    position: absolute;
    top: 13px;
    left: 28px;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #8C8C8C;
}
