.offer-monopoly {
    border: 24px solid #E40000;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25));
}
.container-offer {
    background: #C70808;
}
.header-offer {
    max-width: 640px;
    margin: 0 auto;
    position: relative;
    padding: 60px 0;
}
.header-offer img {
    width: 100%;
}
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-size: 36px;
    width: 100%;
    text-align: center;
    color: #FE6332;
    text-transform: uppercase;
}
.infor-offer {
    display: flex;
    padding: 0 52px;
}
.offer {
    width: 25%;
    padding: 0 15px;
}
.icon_offer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.icon_offer img {
    max-width: 175px;
}
.content-offer {
    text-align: center;
}
.title-content-offer {
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.text-content-offer {
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 47px;
}
.platinum {
    padding-top: 60px;
    display: flex;
    background: #fff;
}
.width-50 {
    width: 50%;
}
.title-platinum.header-offer {
    padding: 10px;
}
.title-platinum .title{
    font-size: 32px;
    text-transform: capitalize;
}
.content-platinum li {
    margin-bottom: 28px;
}
.content-platinum li image{
    width: 18px;
    height: 18px;
}
.content-platinum span {
    padding-left: 26px;
    font-weight: 600;
    font-size: 18px;
}
.guide-open-cart {
    background: #fff;
}
.guide {
    padding-bottom: 73px;
    background-image: url("../../Icon/CTV24hCart/bg_inage.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.user-guide {
    display: flex;
    justify-content: space-between;
}
.box-guide {
    width: 25%;
    padding: 0 20px;
}
.icon_guide {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 77px;
    justify-content: center;
    z-index: 10;
}
.icon_guide:before {
    content: url("../../Icon/CTV24hCart/icon_arrow.png");
    background: linear-gradient(
        180deg
        , #FFA02D 0%, #E63815 100%);
    color: #fff;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -39px;
    position: absolute;
    top: 30%;
    z-index: 3;
    padding-top: 2px;
}
.icon_guide:after {
    content: "";
    width: 80px;
    position: absolute;
    top: 37%;
    height: 3px;
    background: linear-gradient(
        180deg
        , #FFA02D 0%, #E63815 100%);
    right: -59px;
    z-index: 1;
}
.box-guide:last-child .icon_guide:before{
    display: none;
}
.box-guide:last-child .icon_guide:after{
    display: none;
}
.vector {
    position: absolute;
    bottom: -105px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
.content-guide {
    text-align: center;
}
.title-guide {
    font-weight: 900;
    font-size: 24px;
}
.content-guide {
    font-size: 18px;
    line-height: 25px;
}
.btn-open-cart {
    height: 122px;
    width: 465px;
    background: linear-gradient(
        90deg
        , #FFBD33 -0.01%, #FF8000 100%);
    border: none;
    border-radius: 100px;
    padding: 8px;
    display: flex;
    margin: auto;
    margin-top: 89px;
}
.btn-open-cart a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border: 3px solid #fff;
    border-radius: 100px;
    font-weight: 800;
    font-size: 36px;
    color: #fff;
}
.btn-open-cart a span {
    padding: 0 70px;
}
.index_1{
    z-index: 1;
}
