#header {
    height: 6.25rem;
    background-color: #ffffff;
}

.icon-home{
    position: absolute; top:5%;left: 15%;
}

.support{
    position: absolute; right: 20%; top:5%;
}

.text-home{
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
}
