#main{
    padding: 2.5rem;
}
#birthday{
    border: 1px solid #CCD3DC;
    box-sizing: border-box;
    border-radius: 4px;
}
.form-register {
    background: #FFFFFF;
    border-radius: 1.25rem;
    position: relative;
    left: 55%;
    bottom: 5%;
    width: 35%!important;

}

.form {
    padding: 2.5rem 3.1rem;
}

.btn-otp {
    border-radius: 0 3px 3px 0 !important;
    background: red;
}

.input-phone {
    border-radius: 3px 0 0 3px !important;
}
.form-otp{
    border-radius: 3px 0 0 3px !important;
}

.field-icon {
    margin-right: 0.625rem;
    float: right;
    margin-top: -1.376rem;
    position: relative;
    z-index: 2;
}

.lb-1 {
    color: #8C8C8C;
    font-size: 0.875rem;
    line-height: 1.375rem;
}

.btn-register {
    padding: 0.625rem 0 0.625rem 0;
    width: 9rem;
}

.btn-back {
    padding: 0.625rem 0 0.625rem 0;
    width: 9rem;
}

.btn-text-otp {
    background: red;
    border-radius: 3px 0 0 3px !important;
}

.text-otp {
    color: red;
    margin: auto;
    font-size: 0.875rem;
    font-weight: 600;
}

.drag {
    background: #ffe6e6;
    border-radius: 0.1875rem;
}

.law, .law:hover{
    text-decoration: underline;
    color: #2616ff;
}
.text-law{
    font-size: 0.875rem;
    line-height: 1.4rem;
}

.slider_1 {
    -webkit-appearance: none;
    width: 100%;
    height: 35px;
    background: #ffe6e6;
    border-radius: 0.1875rem;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    /*pointer-events: none;*/
}

.slider_1:hover {
    opacity: 1;
}

.slider_1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 45px;
    height: 40px;
    cursor: pointer;
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);;
    border-radius: 3px 0 0 3px !important;
}

.slider_1::-moz-range-thumb {
    width: 45px;
    height: 35px;
    background: #04AA6D;
    cursor: pointer;
}

.btn_send_otp{
    border-radius: 0px 6px 6px 0px;
}

.btn_check_otp{
    border-radius: 0px 6px 6px 0px;
}

.btn_return_send_otp{
    border-radius: 0px 6px 6px 0px;
}

.hide_btn{
    display: none;
}

.container_radio {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 25px;
}

.container_radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio_config {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.container_radio:hover input ~ .radio_config {
    background-color: #ccc;
}

.container_radio input:checked ~ .radio_config {
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
}

.radio_config:after {
    content: "";
    position: absolute;
    display: none;
}

.container_radio input:checked ~ .radio_config:after {
    display: block;
}

.container_radio .radio_config:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
