.title-content {
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
}

.shadow-offset {
    box-shadow: 0 .3rem 1.4rem rgba(0, 0, 0, 0.25);
    border-radius: .8rem;
}

.btn-not-active {
    background: #E8E8E8;
    color: #ACACAC;
}

.coupon-ctv-24 {
    background: #fff;
    border-radius: 1.6rem;
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.25);
}

.header-cpctv24 {
    background-color: #2B4898;
    border-radius: 1.6rem 1.6rem 0 0;
    color: #fff;
}
.item-coupon {
    box-shadow: 0 .3rem 1.6rem rgba(0, 0, 0, 0.25);
    background: transparent;
    /*margin: 0 10px;*/
    /*calc(100%/2 - 20px);*/
}
