/*.status {*/
/*    display: block;*/
/*    width: 4.375rem;*/
/*    height: 1.25rem;*/
/*    background: linear-gradient(*/
/*        180deg, #D1292F 0%, #FF5722 155.26%);*/
/*}*/

.bank-1 {
    padding: 31px 39px;
}

.btn-add {
    position: absolute;
    right: 5%;
}

.bank {
    width: 325px;
    /*height: 103px;*/
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 16px;
}
.bank-bank{
    margin-top: 3.125rem;

}
.info-bank {
    padding: 21px 29px;
}
.text{
    text-decoration: underline;
}

.status {
    width: 77px;
    height: 20px;
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 4px;
    align-items: center;
    text-align: center;
    color: white;
    line-height: 20px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 20px;
}
.switch input {display:none;}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    width: 44px;
    height: 20px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.action{
    position: absolute;
    right: 0%;
}

.name-bank{
    font-size:  0.75rem;
}

.name{
    color: #005DB6;
    font-size: 0.875rem;
}

.number-bank{
    color: #005DB6;
}


