.total-point {
    padding: 2rem 2.569rem;
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
}
.number-piont {
    margin-left: 14px;
}
.point {
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
    color: #FF0000;
    margin: 0;
}
.point span {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}
.date-time {
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    color: #827C7C;
}
.nav-point {
    padding-top: 24px;
}
.nav-point .active {
    background: linear-gradient(
        180deg
        , #D1292F 0%, #FF5722 155.26%);
}
.nav-point li {
    width: 250px;
    height: 50px;
    border-bottom: 2px solid #ECECEC;
    border-radius: 8px 8px 0px 0px;
    font-weight: bold;
    font-size: 18px;
}
.nav-point .active a{
    color: #fff;
}
.icon-point {
    margin-right: 24px;
}
.title-infor {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
}
.text, .time {
    font-size: 14px;
    line-height: 22px;
    color: #827C7C;
    margin-bottom: 0;
}
.plus-point {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
}
.information-point {
    padding: 18px 0 18px 24px;
    margin-top: 28px;
}
.content-point-wallet {
    padding-bottom: 100px;
}
