.avatar {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    object-fit: cover;
}

#info-user {
    padding: 0.9375rem 1.25rem;
}

#edit {
    color: #8C8C8C;
    font-size: 0.75rem;
}

.li-cha {
    padding-bottom: 1.375rem;
}

ul, li {
    list-style: none;
    font-weight: 400;
    font-size: 0.875rem;
}

#menu {
    padding-top: 1.375rem;
}

.li-con {
    padding-bottom: 1rem;
    padding-left: 1.9rem;
}

.border-bottom-menu {
    border-bottom: 1px solid #8C8C8C;
    width: 85%;
    margin: auto;
}
