.title, .user-img{
    padding: 2rem 2.569rem;
}

.avatar-user{
    width: 115px;
    height: 115px;
    border-radius: 50%;
}
.info-user{
    /*width: 50%;*/
    padding-bottom: 10px;
    margin: auto;
}


